In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import re

In [2]:
council_housing = pd.read_csv(r'../../data/processed/council_housing_cleaned.csv')
dataset = pd.read_csv(r'../../data/processed/charity_main_cleaned.csv')

In [3]:
# Group by local authority, financial year, and size_category
removal_counts = (
    dataset
    .groupby(['local_authority', 'size_category','removal_fy'])
    .size()
    .reset_index(name='removals')
    .rename(columns={'removal_fy': 'financial_year'})
)

# Drop 2014
removal_counts = removal_counts[removal_counts['financial_year'] >= 2015]

df = removal_counts

In [4]:
council_housing = council_housing.rename(columns={'Local authority': 'local_authority'})
council_housing = council_housing.rename(columns={'Financial_Year': 'financial_year'})

# Merge datasets
panel = pd.merge(df, council_housing, on=['local_authority', 'financial_year'], how='left')

In [5]:
panel = panel[(panel['financial_year'] >= 2015) & (panel['financial_year'] <= 2023)]

panel

,local_authority,size_category,financial_year,removals,Right_to_Buy_total_number_of_dwellings,Social_Homebuy_number_of_dwellings,Other_sales_to_sitting_tenants_number_of_dwellings,Other_sales_number_of_dwellings,Transfers_to_PRPs,Sales_of_Shared_Ownership_number_of_dwellings
0,Aberdeen City,Medium,2016.0,1,NaN,NaN,NaN,NaN,NaN,NaN
1,Aberdeen City,Medium,2017.0,1,NaN,NaN,NaN,NaN,NaN,NaN
2,Aberdeen City,Medium,2018.0,1,NaN,NaN,NaN,NaN,NaN,NaN
3,Aberdeen City,Small,2016.0,1,NaN,NaN,NaN,NaN,NaN,NaN
4,Aberdeen City,Small,2021.0,1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6768,York,Small,2019.0,24,58.0,0,0,0,0,24
6769,York,Small,2020.0,11,46.0,0,.,.,.,27
6770,York,Small,2021.0,19,74.0,0,0,0,0,19
6771,York,Small,2022.0,17,52.0,0,0,0,0,13
6772,York,Small,2023.0,9,50.0,0,0,0,0,25

In [6]:
# Treat as category
panel['local_authority'] = panel['local_authority'].astype('category')
panel['size_category'] = panel['size_category'].astype('category')

# Sale columns
sale_cols = [
    'Right_to_Buy_total_number_of_dwellings',
    'Social_Homebuy_number_of_dwellings',
    'Other_sales_to_sitting_tenants_number_of_dwellings',
    'Other_sales_number_of_dwellings',
    'Transfers_to_PRPs',
    'Sales_of_Shared_Ownership_number_of_dwellings'
]

# Convert to numeric
for col in sale_cols:
    panel[col] = pd.to_numeric(panel[col], errors='coerce')

# Drop rows where 'Right_to_Buy_total_number_of_dwellings' is NaN
panel = panel.dropna(subset=['Right_to_Buy_total_number_of_dwellings'])

# Fill NaN with 0 in the remaining sale columns
other_sale_cols = [
    'Social_Homebuy_number_of_dwellings',
    'Other_sales_to_sitting_tenants_number_of_dwellings',
    'Other_sales_number_of_dwellings',
    'Transfers_to_PRPs',
    'Sales_of_Shared_Ownership_number_of_dwellings'
]
panel[other_sale_cols] = panel[other_sale_cols].fillna(0)

C:\Users\User\AppData\Local\Temp\ipykernel_18288\4005325063.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  panel[other_sale_cols] = panel[other_sale_cols].fillna(0)

In [12]:
# Calculate total sales
panel['total_sales'] = panel[sale_cols].sum(axis=1)

# Run regression
model = smf.ols(
    'removals ~ total_sales + C(size_category) + C(local_authority) + C(financial_year) + total_sales:C(size_category)',
    data=panel
).fit()

model_summary = model.summary()
print(model_summary)

                            OLS Regression Results
==============================================================================
Dep. Variable:               removals   R-squared:                       0.674
Model:                            OLS   Adj. R-squared:                  0.653
Method:                 Least Squares   F-statistic:                     31.72
Date:                Sun, 06 Jul 2025   Prob (F-statistic):               0.00
Time:                        22:56:34   Log-Likelihood:                -13625.
No. Observations:                4996   AIC:                         2.786e+04
Df Residuals:                    4689   BIC:                         2.986e+04
Df Model:                         306
Covariance Type:            nonrobust
=============================================================================================================================
                                                                coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------------------
Intercept                                                    -1.0327      0.298     -3.464      0.001      -1.617      -0.448
C(size_category)[T.Medium]                                    3.9895      0.258     15.481      0.000       3.484       4.495
C(size_category)[T.Small]                                     9.5684      0.256     37.326      0.000       9.066      10.071
C(local_authority)[T.Aberdeenshire]                        8.802e-13   7.87e-13      1.119      0.263   -6.62e-13    2.42e-12
C(local_authority)[T.Adur]                                   -4.5157      0.956     -4.721      0.000      -6.391      -2.641
C(local_authority)[T.Amber Valley]                           -1.8574      0.989     -1.878      0.060      -3.797       0.082
C(local_authority)[T.Angus]                                4.908e-12    7.4e-13      6.632      0.000    3.46e-12    6.36e-12
C(local_authority)[T.Argyll and Bute]                       3.32e-14   1.47e-14      2.260      0.024    4.41e-15     6.2e-14
C(local_authority)[T.Arun]                                   -0.5653      0.877     -0.644      0.519      -2.285       1.155
C(local_authority)[T.Ashfield]                               -4.2638      1.058     -4.031      0.000      -6.338      -2.190
C(local_authority)[T.Ashford]                                -0.8619      0.854     -1.010      0.313      -2.535       0.811
C(local_authority)[T.Babergh]                                -1.2146      0.954     -1.273      0.203      -3.085       0.655
C(local_authority)[T.Barking and Dagenham]                   -3.0753      1.329     -2.314      0.021      -5.681      -0.470
C(local_authority)[T.Barnet]                                 12.4046      0.814     15.233      0.000      10.808      14.001
C(local_authority)[T.Barnsley]                               -2.3637      0.962     -2.457      0.014      -4.250      -0.478
C(local_authority)[T.Basildon]                               -2.6630      0.955     -2.787      0.005      -4.536      -0.790
C(local_authority)[T.Basingstoke and Deane]                   0.6542      1.105      0.592      0.554      -1.512       2.821
C(local_authority)[T.Bassetlaw]                              -3.5763      0.985     -3.632      0.000      -5.507      -1.646
C(local_authority)[T.Bath and North East Somerset]            0.5867      1.024      0.573      0.567      -1.421       2.594
C(local_authority)[T.Bedford]                                 2.5069      0.904      2.774      0.006       0.735       4.279
C(local_authority)[T.Belfast]                             -4.805e-15   3.61e-14     -0.133      0.894   -7.56e-14     6.6e-14
C(local_authority)[T.Bexley]                                 -1.7631      0.958     -1.841      0.066      -3.641       0.115
C(local_authority)[T.Birmingham]                             13.4794      1.631      8.264      0.000      10.282      16.677
C(local_authority)[T.Blaby]                                  -3.1905      0.930     -3.432      0.001      -5.013      -1.368
C(local_authority)[T.Blackburn with Darwen]                  -2.3351      0.958     -2.438      0.015      -4.213      -0.457
C(local_authority)[T.Blackpool]                              -3.9225      0.955     -4.109      0.000      -5.794      -2.051
C(local_authority)[T.Blaenau Gwent]                        1.221e-13   2.79e-14      4.369      0.000    6.73e-14    1.77e-13
C(local_authority)[T.Bolsover]                               -5.6315      1.150     -4.898      0.000      -7.885      -3.378
C(local_authority)[T.Bolton]                                  0.6234      0.838      0.744      0.457      -1.020       2.267
C(local_authority)[T.Boston]                                 -4.1257      0.958     -4.308      0.000      -6.003      -2.248
C(local_authority)[T.Bournemouth, Christchurch and Poole]     5.2725      1.274      4.140      0.000       2.776       7.769
C(local_authority)[T.Bracknell Forest]                       -2.6085      1.024     -2.548      0.011      -4.615      -0.602
C(local_authority)[T.Bradford]                                7.7670      0.858      9.056      0.000       6.085       9.448
C(local_authority)[T.Braintree]                              -0.4487      0.880     -0.510      0.610      -2.173       1.276
C(local_authority)[T.Breckland]                              -0.2250      0.930     -0.242      0.809      -2.048       1.598
C(local_authority)[T.Brent]                                   1.2642      0.875      1.444      0.149      -0.452       2.980
C(local_authority)[T.Brentwood]                              -2.7718      0.901     -3.075      0.002      -4.539      -1.005
C(local_authority)[T.Bridgend]                            -9.753e-15   6.68e-15     -1.461      0.144   -2.28e-14    3.34e-15
C(local_authority)[T.Brighton and Hove]                       2.9092      1.021      2.849      0.004       0.908       4.911
C(local_authority)[T.Bristol, City of]                     3.711e-14   1.74e-14      2.127      0.033    2.91e-15    7.13e-14
C(local_authority)[T.Broadland]                              -0.6956      0.930     -0.748      0.454      -2.518       1.127
C(local_authority)[T.Bromley]                                 5.6518      0.838      6.747      0.000       4.010       7.294
C(local_authority)[T.Bromsgrove]                             -2.9931      0.904     -3.312      0.001      -4.765      -1.221
C(local_authority)[T.Broxbourne]                             -4.3466      1.153     -3.769      0.000      -6.608      -2.086
C(local_authority)[T.Broxtowe]                               -2.7482      0.925     -2.970      0.003      -4.562      -0.934
C(local_authority)[T.Buckinghamshire]                        14.6140      1.209     12.083      0.000      12.243      16.985
C(local_authority)[T.Burnley]                                -4.1756      0.957     -4.363      0.000      -6.052      -2.299
C(local_authority)[T.Bury]                                   -1.3566      0.926     -1.465      0.143      -3.172       0.459
C(local_authority)[T.Caerphilly]                          -3.207e-14   1.56e-14     -2.053      0.040   -6.27e-14   -1.45e-15
C(local_authority)[T.Calderdale]                              0.6323      0.930      0.680      0.496      -1.190       2.455
C(local_authority)[T.Cambridge]                               0.8842      0.833      1.062      0.288      -0.749       2.517
C(local_authority)[T.Camden]                                 13.4022      0.767     17.481      0.000      11.899      14.905
C(local_authority)[T.Cannock Chase]                          -3.6700      0.985     -3.727      0.000      -5.601      -1.739
C(local_authority)[T.Canterbury]                             -0.3098      0.899     -0.344      0.731      -2.073       1.454
C(local_authority)[T.Cardiff]                             -4.443e-14   2.21e-14     -2.011      0.044   -8.78e-14   -1.11e-15
C(local_authority)[T.Carmarthenshire]                      5.182e-14   2.63e-14      1.970      0.049    2.57e-16    1.03e-13
C(local_authority)[T.Castle Point]                           -4.5084      1.022     -4.410      0.000      -6.513      -2.504
C(local_authority)[T.Causeway Coast and Glens]              3.45e-15   1.48e-15      2.325      0.020    5.42e-16    6.36e-15
C(local_authority)[T.Central Bedfordshire]                    2.6063      0.853      3.054      0.002       0.933       4.279
C(local_authority)[T.Ceredigion]                          -5.316e-14   3.61e-14     -1.474      0.141   -1.24e-13    1.76e-14
C(local_authority)[T.Channel Islands]                     -1.112e-13   5.79e-14     -1.921      0.055   -2.25e-13    2.31e-15
C(local_authority)[T.Charnwood]                              -0.9850      0.875     -1.125      0.260      -2.701       0.731
C(local_authority)[T.Chelmsford]                             -0.4754      0.838     -0.568      0.570      -2.118       1.167
C(local_authority)[T.Cheltenham]                             -0.9803      0.926     -1.059      0.290      -2.795       0.834
C(local_authority)[T.Cherwell]                               -0.1932      0.838     -0.231      0.818      -1.836       1.449
C(local_authority)[T.Cheshire East]                           4.7333      0.858      5.516      0.000       3.051       6.415
C(local_authority)[T.Cheshire West and Chester]               5.2786      1.058      4.989      0.000       3.204       7.353
C(local_authority)[T.Chesterfield]                           -5.1329      1.064     -4.824      0.000      -7.219      -3.047
C(local_authority)[T.Chichester]                              2.5650      0.858      2.990      0.003       0.883       4.247
C(local_authority)[T.Chorley]                                -2.7239      0.989     -2.754      0.006      -4.663      -0.785
C(local_authority)[T.City of Edinburgh]                    5.094e-14   2.34e-14      2.176      0.030    5.04e-15    9.68e-14
C(local_authority)[T.City of London]                          7.5699      0.742     10.205      0.000       6.116       9.024
C(local_authority)[T.Colchester]                              0.0132      0.853      0.016      0.988      -1.660       1.686
C(local_authority)[T.Conwy]                                1.583e-14   2.98e-15      5.318      0.000    9.99e-15    2.17e-14
C(local_authority)[T.Cornwall]                               17.5925      0.834     21.093      0.000      15.957      19.228
C(local_authority)[T.Cotswold]                                0.8069      0.904      0.893      0.372      -0.965       2.579
C(local_authority)[T.County Durham]                          10.4463      1.024     10.199      0.000       8.438      12.454
C(local_authority)[T.Coventry]                                2.3449      0.904      2.594      0.010       0.573       4.117
C(local_authority)[T.Crawley]                                -3.7924      0.955     -3.973      0.000      -5.664      -1.921
C(local_authority)[T.Croydon]                                 4.0662      0.884      4.602      0.000       2.334       5.798
C(local_authority)[T.Cumberland]                             10.5722      2.697      3.920      0.000       5.285      15.859
C(local_authority)[T.Dacorum]                                -1.4524      0.954     -1.522      0.128      -3.323       0.418
C(local_authority)[T.Darlington]                             -3.8832      0.925     -4.197      0.000      -5.697      -2.070
C(local_authority)[T.Dartford]                               -3.7592      1.102     -3.412      0.001      -5.919      -1.599
C(local_authority)[T.Denbighshire]                         2.657e-14   1.58e-14      1.676      0.094    -4.5e-15    5.76e-14
C(local_authority)[T.Derby]                                  -0.4442      0.925     -0.480      0.631      -2.257       1.368
C(local_authority)[T.Derbyshire Dales]                       -0.0561      0.929     -0.060      0.952      -1.878       1.766
C(local_authority)[T.Doncaster]                               0.4041      0.951      0.425      0.671      -1.460       2.268
C(local_authority)[T.Dorset]                                 12.3058      1.104     11.142      0.000      10.140      14.471
C(local_authority)[T.Dover]                                  -2.6215      0.925     -2.833      0.005      -4.436      -0.807
C(local_authority)[T.Dudley]                                 -0.0881      0.920     -0.096      0.924      -1.892       1.716
C(local_authority)[T.Dumfries and Galloway]               -1.545e-14   8.13e-15     -1.900      0.058   -3.14e-14    4.95e-16
C(local_authority)[T.Dundee City]                          -2.58e-14   1.49e-14     -1.732      0.083    -5.5e-14    3.41e-15
C(local_authority)[T.Ealing]                                  2.8585      0.884      3.234      0.001       1.126       4.591
C(local_authority)[T.East Ayrshire]                        2.157e-14      1e-14      2.150      0.032     1.9e-15    4.12e-14
C(local_authority)[T.East Cambridgeshire]                    -2.0541      0.930     -2.210      0.027      -3.876      -0.232
C(local_authority)[T.East Devon]                              1.2900      0.876      1.473      0.141      -0.427       3.007
C(local_authority)[T.East Dunbartonshire]                   4.88e-14   2.63e-14      1.853      0.064   -2.82e-15       1e-13
C(local_authority)[T.East Hampshire]                          0.2847      0.904      0.315      0.753      -1.487       2.056
C(local_authority)[T.East Hertfordshire]                      0.0069      0.904      0.008      0.994      -1.765       1.779
C(local_authority)[T.East Lindsey]                            0.0069      0.904      0.008      0.994      -1.765       1.779
C(local_authority)[T.East Lothian]                         1.029e-13   5.35e-14      1.924      0.054   -1.93e-15    2.08e-13
C(local_authority)[T.East Riding of Yorkshire]                4.2892      0.881      4.867      0.000       2.562       6.017
C(local_authority)[T.East Staffordshire]                     -2.2549      0.880     -2.563      0.010      -3.980      -0.530
C(local_authority)[T.East Suffolk]                            7.2246      1.206      5.990      0.000       4.860       9.589
C(local_authority)[T.Eastbourne]                             -2.1635      0.955     -2.266      0.024      -4.035      -0.292
C(local_authority)[T.Eastleigh]                              -1.2426      0.930     -1.337      0.181      -3.065       0.580
C(local_authority)[T.Elmbridge]                              -0.1660      0.819     -0.203      0.839      -1.772       1.440
C(local_authority)[T.Enfield]                                 2.4080      0.867      2.777      0.006       0.708       4.108
C(local_authority)[T.Epping Forest]                          -1.0924      0.926     -1.180      0.238      -2.907       0.722
C(local_authority)[T.Epsom and Ewell]                        -3.9589      1.274     -3.107      0.002      -6.457      -1.460
C(local_authority)[T.Erewash]                                -3.2302      0.958     -3.373      0.001      -5.108      -1.353
C(local_authority)[T.Exeter]                                 -0.3113      0.833     -0.374      0.709      -1.944       1.322
C(local_authority)[T.Fareham]                                -2.8502      0.877     -3.250      0.001      -4.570      -1.131
C(local_authority)[T.Fenland]                                -3.2701      0.989     -3.305      0.001      -5.210      -1.330
C(local_authority)[T.Fermanagh and Omagh]                 -1.042e-13   5.58e-14     -1.866      0.062   -2.14e-13     5.3e-15
C(local_authority)[T.Fife]                                -6.467e-14   3.41e-14     -1.898      0.058   -1.31e-13    2.14e-15
C(local_authority)[T.Flintshire]                           9.945e-14   5.57e-14      1.786      0.074   -9.73e-15    2.09e-13
C(local_authority)[T.Folkestone and Hythe]                   -0.7323      1.558     -0.470      0.638      -3.786       2.321
C(local_authority)[T.Forest of Dean]                         -1.4956      0.930     -1.609      0.108      -3.318       0.327
C(local_authority)[T.Fylde]                                  -4.0117      0.958     -4.186      0.000      -5.890      -2.133
C(local_authority)[T.Gateshead]                              -1.8845      0.935     -2.016      0.044      -3.717      -0.052
C(local_authority)[T.Gedling]                                -3.0309      0.958     -3.164      0.002      -4.909      -1.153
C(local_authority)[T.Glasgow City]                        -1.271e-13   6.83e-14     -1.860      0.063   -2.61e-13    6.83e-15
C(local_authority)[T.Gloucester]                             -2.1598      0.904     -2.390      0.017      -3.932      -0.388
C(local_authority)[T.Gosport]                                -4.2075      0.986     -4.266      0.000      -6.141      -2.274
C(local_authority)[T.Gravesham]                              -3.3684      1.101     -3.059      0.002      -5.527      -1.210
C(local_authority)[T.Great Yarmouth]                         -4.0458      1.019     -3.969      0.000      -6.044      -2.047
C(local_authority)[T.Greenwich]                               1.1112      0.917      1.212      0.226      -0.686       2.909
C(local_authority)[T.Guildford]                               1.0206      0.876      1.165      0.244      -0.697       2.738
C(local_authority)[T.Gwynedd]                              3.433e-14   1.76e-14      1.953      0.051   -1.34e-16    6.88e-14
C(local_authority)[T.Hackney]                                 6.0692      0.811      7.484      0.000       4.479       7.659
C(local_authority)[T.Halton]                                 -2.9886      0.903     -3.308      0.001      -4.760      -1.218
C(local_authority)[T.Hammersmith and Fulham]                 -0.4830      1.101     -0.439      0.661      -2.642       1.676
C(local_authority)[T.Harborough]                             -1.9559      0.930     -2.104      0.035      -3.778      -0.133
C(local_authority)[T.Haringey]                                3.6043      0.907      3.973      0.000       1.826       5.383
C(local_authority)[T.Harlow]                                 -5.0591      1.020     -4.958      0.000      -7.059      -3.059
C(local_authority)[T.Harrow]                                  1.5240      0.876      1.740      0.082      -0.193       3.241
C(local_authority)[T.Hart]                                   -2.3264      0.904     -2.574      0.010      -4.098      -0.555
C(local_authority)[T.Hartlepool]                             -4.0168      0.958     -4.193      0.000      -5.895      -2.139
C(local_authority)[T.Hastings]                               -2.2205      0.989     -2.245      0.025      -4.159      -0.282
C(local_authority)[T.Havant]                                 -2.9559      0.930     -3.180      0.001      -4.778      -1.133
C(local_authority)[T.Havering]                               -0.7198      0.965     -0.746      0.456      -2.612       1.172
C(local_authority)[T.Herefordshire, County of]                2.4364      1.561      1.561      0.119      -0.623       5.496
C(local_authority)[T.Hertsmere]                              -1.7818      0.958     -1.860      0.063      -3.660       0.096
C(local_authority)[T.High Peak]                              -2.9544      0.985     -2.999      0.003      -4.886      -1.023
C(local_authority)[T.Highland]                             1.139e-13   6.14e-14      1.854      0.064   -6.55e-15    2.34e-13
C(local_authority)[T.Hillingdon]                             -0.2663      0.930     -0.286      0.775      -2.090       1.557
C(local_authority)[T.Hinckley and Bosworth]                  -2.6457      1.150     -2.301      0.021      -4.900      -0.391

In [9]:
panel

,local_authority,size_category,financial_year,removals,Right_to_Buy_total_number_of_dwellings,Social_Homebuy_number_of_dwellings,Other_sales_to_sitting_tenants_number_of_dwellings,Other_sales_number_of_dwellings,Transfers_to_PRPs,Sales_of_Shared_Ownership_number_of_dwellings,total_sales,total_sales_lag1,total_sales_lag2,total_sales_lag3
15,Adur,Small,2015.0,2,9.0,0.0,0.0,0.0,0.0,0.0,9.0,NaN,NaN,NaN
8,Adur,Medium,2016.0,3,7.0,0.0,0.0,0.0,0.0,0.0,7.0,NaN,NaN,NaN
16,Adur,Small,2016.0,2,7.0,0.0,0.0,0.0,0.0,0.0,7.0,9.0,NaN,NaN
9,Adur,Medium,2017.0,2,8.0,0.0,0.0,0.0,0.0,0.0,8.0,7.0,NaN,NaN
17,Adur,Small,2017.0,1,8.0,0.0,0.0,0.0,0.0,0.0,8.0,7.0,9.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6770,York,Small,2021.0,19,74.0,0.0,0.0,0.0,0.0,19.0,93.0,73.0,82.0,68.0
6760,York,Medium,2022.0,7,52.0,0.0,0.0,0.0,0.0,13.0,65.0,93.0,73.0,82.0
6771,York,Small,2022.0,17,52.0,0.0,0.0,0.0,0.0,13.0,65.0,93.0,73.0,82.0
6761,York,Medium,2023.0,3,50.0,0.0,0.0,0.0,0.0,25.0,75.0,65.0,93.0,73.0
6772,York,Small,2023.0,9,50.0,0.0,0.0,0.0,0.0,25.0,75.0,65.0,93.0,73.0

In [8]:
panel = panel.sort_values(['local_authority', 'financial_year'])

panel['total_sales_lag1'] = panel.groupby(['local_authority', 'size_category'])['total_sales'].shift(1)
panel['total_sales_lag2'] = panel.groupby(['local_authority', 'size_category'])['total_sales'].shift(2)
panel['total_sales_lag3'] = panel.groupby(['local_authority', 'size_category'])['total_sales'].shift(3)

# Step 4: Run regression with lag
model = smf.ols(
    'removals ~ total_sales + C(size_category) + total_sales_lag1 + total_sales_lag2 + total_sales_lag3 + C(local_authority) + C(financial_year)',
    data=panel
).fit()

# Step 5: Print results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               removals   R-squared:                       0.684
Model:                            OLS   Adj. R-squared:                  0.649
Method:                 Least Squares   F-statistic:                     19.56
Date:                Sun, 06 Jul 2025   Prob (F-statistic):               0.00
Time:                        22:48:38   Log-Likelihood:                -8120.2
No. Observations:                2946   AIC:                         1.683e+04
Df Residuals:                    2652   BIC:                         1.859e+04
Df Model:                         293
Covariance Type:            nonrobust
=============================================================================================================================
                                                                coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------------------
Intercept                                                    -7.0082      0.568    -12.336      0.000      -8.122      -5.894
C(size_category)[T.Medium]                                   10.4508      0.575     18.178      0.000       9.324      11.578
C(size_category)[T.Small]                                    17.2702      0.575     30.025      0.000      16.142      18.398
C(local_authority)[T.Aberdeenshire]                       -5.407e-12   2.56e-12     -2.115      0.035   -1.04e-11   -3.93e-13
C(local_authority)[T.Adur]                                   -5.2956      1.357     -3.903      0.000      -7.956      -2.635
C(local_authority)[T.Amber Valley]                           -1.5133      1.369     -1.105      0.269      -4.199       1.172
C(local_authority)[T.Angus]                                -1.77e-11   5.16e-12     -3.433      0.001   -2.78e-11   -7.59e-12
C(local_authority)[T.Argyll and Bute]                      1.141e-12      1e-12      1.141      0.254   -8.19e-13     3.1e-12
C(local_authority)[T.Arun]                                   -0.2654      1.177     -0.226      0.822      -2.573       2.042
C(local_authority)[T.Ashfield]                               -4.3077      1.517     -2.840      0.005      -7.282      -1.334
C(local_authority)[T.Ashford]                                -1.2781      1.161     -1.101      0.271      -3.555       0.998
C(local_authority)[T.Babergh]                                -0.9819      1.341     -0.732      0.464      -3.611       1.647
C(local_authority)[T.Barking and Dagenham]                   -5.1857      2.641     -1.964      0.050     -10.364      -0.008
C(local_authority)[T.Barnet]                                 13.9982      1.114     12.571      0.000      11.815      16.182
C(local_authority)[T.Barnsley]                               -3.1846      1.477     -2.156      0.031      -6.081      -0.288
C(local_authority)[T.Basildon]                               -1.7639      1.275     -1.384      0.167      -4.264       0.736
C(local_authority)[T.Basingstoke and Deane]                   2.0598      1.659      1.242      0.214      -1.193       5.312
C(local_authority)[T.Bassetlaw]                              -3.3839      1.336     -2.533      0.011      -6.004      -0.764
C(local_authority)[T.Bath and North East Somerset]            1.2245      1.658      0.738      0.460      -2.027       4.476
C(local_authority)[T.Bedford]                                 3.9824      1.194      3.336      0.001       1.641       6.323
C(local_authority)[T.Belfast]                              -6.51e-13   1.16e-13     -5.591      0.000   -8.79e-13   -4.23e-13
C(local_authority)[T.Bexley]                                 -1.5551      1.367     -1.137      0.255      -4.236       1.126
C(local_authority)[T.Birmingham]                              8.9373      4.911      1.820      0.069      -0.692      18.567
C(local_authority)[T.Blaby]                                  -2.6238      1.302     -2.016      0.044      -5.176      -0.072
C(local_authority)[T.Blackburn with Darwen]                  -1.7950      1.366     -1.314      0.189      -4.473       0.883
C(local_authority)[T.Blackpool]                              -3.7262      1.275     -2.923      0.003      -6.226      -1.226
C(local_authority)[T.Blaenau Gwent]                        1.782e-14   3.95e-14      0.451      0.652   -5.97e-14    9.54e-14
C(local_authority)[T.Bolsover]                               -7.4810      1.793     -4.173      0.000     -10.996      -3.966
C(local_authority)[T.Bolton]                                  1.8807      1.196      1.572      0.116      -0.465       4.226
C(local_authority)[T.Boston]                                 -4.1279      1.367     -3.020      0.003      -6.808      -1.447
C(local_authority)[T.Bournemouth, Christchurch and Poole] -2.321e-14   1.77e-14     -1.308      0.191    -5.8e-14    1.16e-14
C(local_authority)[T.Bracknell Forest]                       -3.8437      1.541     -2.494      0.013      -6.866      -0.821
C(local_authority)[T.Bradford]                               10.6454      1.193      8.924      0.000       8.306      12.985
C(local_authority)[T.Braintree]                               0.0657      1.194      0.055      0.956      -2.275       2.407
C(local_authority)[T.Breckland]                              -0.3229      1.244     -0.260      0.795      -2.762       2.116
C(local_authority)[T.Brent]                                   2.0844      1.159      1.798      0.072      -0.189       4.358
C(local_authority)[T.Brentwood]                              -2.6790      1.228     -2.181      0.029      -5.088      -0.270
C(local_authority)[T.Bridgend]                            -1.923e-15   1.78e-14     -0.108      0.914   -3.68e-14     3.3e-14
C(local_authority)[T.Brighton and Hove]                       3.0103      1.646      1.829      0.068      -0.218       6.238
C(local_authority)[T.Bristol, City of]                    -5.996e-14   6.73e-14     -0.891      0.373   -1.92e-13     7.2e-14
C(local_authority)[T.Broadland]                              -0.1411      1.244     -0.113      0.910      -2.580       2.298
C(local_authority)[T.Bromley]                                 6.5657      1.194      5.500      0.000       4.225       8.907
C(local_authority)[T.Bromsgrove]                             -2.4343      1.194     -2.039      0.042      -4.775      -0.093
C(local_authority)[T.Broxbourne]                             -5.2955      1.814     -2.919      0.004      -8.853      -1.738
C(local_authority)[T.Broxtowe]                               -2.2176      1.211     -1.831      0.067      -4.592       0.157
C(local_authority)[T.Buckinghamshire]                        16.9725      2.846      5.964      0.000      11.392      22.553
C(local_authority)[T.Burnley]                                -3.7541      1.295     -2.899      0.004      -6.293      -1.215
C(local_authority)[T.Bury]                                   -1.3314      1.218     -1.093      0.275      -3.720       1.057
C(local_authority)[T.Caerphilly]                          -5.433e-14   8.05e-14     -0.674      0.500   -2.12e-13    1.04e-13
C(local_authority)[T.Calderdale]                              1.5525      1.244      1.248      0.212      -0.887       3.992
C(local_authority)[T.Cambridge]                               1.4350      1.158      1.239      0.215      -0.835       3.705
C(local_authority)[T.Camden]                                 16.3192      1.014     16.087      0.000      14.330      18.308
C(local_authority)[T.Cannock Chase]                          -3.2024      1.338     -2.394      0.017      -5.825      -0.580
C(local_authority)[T.Canterbury]                              0.0219      1.212      0.018      0.986      -2.355       2.399
C(local_authority)[T.Cardiff]                              1.652e-14   9.01e-15      1.834      0.067   -1.14e-15    3.42e-14
C(local_authority)[T.Carmarthenshire]                      4.632e-14   5.06e-14      0.915      0.360   -5.29e-14    1.46e-13
C(local_authority)[T.Castle Point]                           -5.1041      1.438     -3.551      0.000      -7.923      -2.285
C(local_authority)[T.Causeway Coast and Glens]               1.8e-14   2.99e-14      0.602      0.548   -4.07e-14    7.67e-14
C(local_authority)[T.Central Bedfordshire]                    3.3283      1.160      2.868      0.004       1.053       5.604
C(local_authority)[T.Ceredigion]                          -6.798e-15   1.77e-14     -0.383      0.702   -4.16e-14     2.8e-14
C(local_authority)[T.Channel Islands]                      1.709e-15   5.41e-15      0.316      0.752    -8.9e-15    1.23e-14
C(local_authority)[T.Charnwood]                              -0.3248      1.158     -0.281      0.779      -2.595       1.946
C(local_authority)[T.Chelmsford]                             -0.7676      1.194     -0.643      0.520      -3.109       1.573
C(local_authority)[T.Cheltenham]                             -0.7241      1.213     -0.597      0.551      -3.103       1.654
C(local_authority)[T.Cherwell]                               -0.0176      1.194     -0.015      0.988      -2.359       2.323
C(local_authority)[T.Cheshire East]                           5.9824      1.194      5.011      0.000       3.641       8.323
C(local_authority)[T.Cheshire West and Chester]               5.9458      1.641      3.623      0.000       2.728       9.164
C(local_authority)[T.Chesterfield]                           -6.1684      1.562     -3.949      0.000      -9.231      -3.106
C(local_authority)[T.Chichester]                              3.1490      1.194      2.638      0.008       0.808       5.490
C(local_authority)[T.Chorley]                                -2.4153      1.367     -1.766      0.077      -5.097       0.266
C(local_authority)[T.City of Edinburgh]                   -7.978e-15   7.02e-15     -1.137      0.256   -2.17e-14    5.78e-15
C(local_authority)[T.City of London]                         10.1443      1.002     10.123      0.000       8.179      12.109
C(local_authority)[T.Colchester]                             -0.3895      1.160     -0.336      0.737      -2.664       1.885
C(local_authority)[T.Conwy]                                3.855e-15   2.11e-14      0.182      0.855   -3.76e-14    4.53e-14
C(local_authority)[T.Cornwall]                               20.5815      1.167     17.641      0.000      18.294      22.869
C(local_authority)[T.Cotswold]                                2.0070      1.244      1.613      0.107      -0.432       4.446
C(local_authority)[T.County Durham]                           9.8932      1.659      5.964      0.000       6.641      13.146
C(local_authority)[T.Coventry]                                2.7680      1.244      2.225      0.026       0.329       5.207
C(local_authority)[T.Crawley]                                -4.0822      1.340     -3.046      0.002      -6.710      -1.455
C(local_authority)[T.Croydon]                                 3.5956      1.209      2.973      0.003       1.224       5.967
C(local_authority)[T.Cumberland]                          -6.613e-15   4.01e-14     -0.165      0.869   -8.53e-14    7.21e-14
C(local_authority)[T.Dacorum]                                -0.9607      1.270     -0.756      0.449      -3.451       1.530
C(local_authority)[T.Darlington]                             -3.6824      1.268     -2.905      0.004      -6.168      -1.196
C(local_authority)[T.Dartford]                               -3.7460      1.642     -2.281      0.023      -6.966      -0.526
C(local_authority)[T.Denbighshire]                         1.918e-15   1.18e-14      0.163      0.871   -2.12e-14     2.5e-14
C(local_authority)[T.Derby]                                  -0.8712      1.519     -0.573      0.566      -3.850       2.108
C(local_authority)[T.Derbyshire Dales]                        0.6378      1.242      0.513      0.608      -1.798       3.074
C(local_authority)[T.Doncaster]                               0.6134      1.434      0.428      0.669      -2.198       3.425
C(local_authority)[T.Dorset]                                 16.1890      2.022      8.006      0.000      12.224      20.154
C(local_authority)[T.Dover]                                  -2.3651      1.211     -1.953      0.051      -4.740       0.010
C(local_authority)[T.Dudley]                                 -1.2199      1.611     -0.757      0.449      -4.379       1.939
C(local_authority)[T.Dumfries and Galloway]                1.763e-16   1.69e-15      0.104      0.917   -3.15e-15     3.5e-15
C(local_authority)[T.Dundee City]                          1.043e-14   8.64e-15      1.207      0.227   -6.51e-15    2.74e-14
C(local_authority)[T.Ealing]                                  2.1818      1.220      1.789      0.074      -0.210       4.574
C(local_authority)[T.East Ayrshire]                        8.296e-15   1.23e-14      0.677      0.498   -1.57e-14    3.23e-14
C(local_authority)[T.East Cambridgeshire]                    -1.5404      1.242     -1.240      0.215      -3.977       0.896
C(local_authority)[T.East Devon]                              1.2946      1.162      1.114      0.265      -0.984       3.573
C(local_authority)[T.East Dunbartonshire]                  3.982e-14   6.15e-14      0.647      0.518   -8.09e-14    1.61e-13
C(local_authority)[T.East Hampshire]                          1.3990      1.194      1.172      0.241      -0.942       3.740
C(local_authority)[T.East Hertfordshire]                      0.2324      1.194      0.195      0.846      -2.109       2.573
C(local_authority)[T.East Lindsey]                            0.3157      1.194      0.264      0.791      -2.025       2.657
C(local_authority)[T.East Lothian]                        -5.129e-14   5.65e-14     -0.907      0.364   -1.62e-13    5.95e-14
C(local_authority)[T.East Riding of Yorkshire]                5.4373      1.211      4.489      0.000       3.062       7.812
C(local_authority)[T.East Staffordshire]                     -2.0176      1.194     -1.690      0.091      -4.359       0.323
C(local_authority)[T.East Suffolk]                            7.5936      2.005      3.788      0.000       3.662      11.525
C(local_authority)[T.Eastbourne]                             -1.8604      1.278     -1.455      0.146      -4.367       0.647
C(local_authority)[T.Eastleigh]                               0.3158      1.244      0.254      0.800      -2.123       2.755
C(local_authority)[T.Elmbridge]                               0.6632      1.151      0.576      0.564      -1.593       2.920
C(local_authority)[T.Enfield]                                 2.8581      1.286      2.222      0.026       0.335       5.381
C(local_authority)[T.Epping Forest]                          -1.2180      1.272     -0.958      0.338      -3.712       1.275
C(local_authority)[T.Epsom and Ewell]                        -7.0165      2.329     -3.013      0.003     -11.583      -2.450
C(local_authority)[T.Erewash]                                -3.1284      1.366     -2.290      0.022      -5.807      -0.450
C(local_authority)[T.Exeter]                                 -0.2992      1.158     -0.258      0.796      -2.570       1.972
C(local_authority)[T.Fareham]                                -2.2452      1.171     -1.917      0.055      -4.541       0.051
C(local_authority)[T.Fenland]                                -3.0256      1.448     -2.089      0.037      -5.865      -0.186
C(local_authority)[T.Fermanagh and Omagh]                  1.592e-15   5.22e-15      0.305      0.760   -8.64e-15    1.18e-14
C(local_authority)[T.Fife]                                -3.072e-14   3.51e-14     -0.875      0.382   -9.96e-14    3.81e-14
C(local_authority)[T.Flintshire]                          -6.753e-14   8.81e-14     -0.766      0.444    -2.4e-13    1.05e-13
C(local_authority)[T.Folkestone and Hythe]                -1.673e-14   1.22e-14     -1.369      0.171   -4.07e-14    7.23e-15
C(local_authority)[T.Forest of Dean]                         -1.1263      1.302     -0.865      0.387      -3.679       1.426
C(local_authority)[T.Fylde]                                  -3.6934      1.302     -2.836      0.005      -6.247      -1.140
C(local_authority)[T.Gateshead]                              -2.3641      1.438     -1.644      0.100      -5.184       0.456
C(local_authority)[T.Gedling]                                -2.7048      1.302     -2.078      0.038      -5.257      -0.153
C(local_authority)[T.Glasgow City]                        -6.872e-15   4.07e-14     -0.169      0.866   -8.66e-14    7.29e-14
C(local_authority)[T.Gloucester]                             -1.3510      1.194     -1.132      0.258      -3.692       0.990
C(local_authority)[T.Gosport]                                -3.6732      1.348     -2.725      0.006      -6.317      -1.030
C(local_authority)[T.Gravesham]                              -2.6369      1.639     -1.609      0.108      -5.850       0.577
C(local_authority)[T.Great Yarmouth]                         -6.5464      1.637     -3.999      0.000      -9.757      -3.336
C(local_authority)[T.Greenwich]                               1.1688      1.523      0.767      0.443      -1.818       4.156
C(local_authority)[T.Guildford]                               0.9772      1.164      0.839      0.401      -1.305       3.260
C(local_authority)[T.Gwynedd]                               4.25e-15   4.85e-15      0.875      0.381   -5.27e-15    1.38e-14
C(local_authority)[T.Hackney]                                 7.4158      1.153      6.434      0.000       5.156       9.676
C(local_authority)[T.Halton]                                 -3.2677      1.242     -2.630      0.009      -5.704      -0.831
C(local_authority)[T.Hammersmith and Fulham]                 -0.6110      1.638     -0.373      0.709      -3.824       2.602
C(local_authority)[T.Harborough]                             -2.0839      1.244     -1.675      0.094      -4.523       0.355
C(local_authority)[T.Haringey]                                4.5742      1.198      3.820      0.000       2.226       6.922
C(local_authority)[T.Harlow]                                 -5.4833      1.423     -3.853      0.000      -8.274      -2.692
C(local_authority)[T.Harrow]                                  1.8681      1.163      1.606      0.108      -0.413       4.149
C(local_authority)[T.Hart]                                   -1.9343      1.194     -1.620      0.105      -4.275       0.407
C(local_authority)[T.Hartlepool]                             -3.5292      1.301     -2.713      0.007      -6.080      -0.978
C(local_authority)[T.Hastings]                               -2.0584      1.366     -1.507      0.132      -4.737       0.620
C(local_authority)[T.Havant]                                 -2.6293      1.244     -2.114      0.035      -5.069      -0.190
C(local_authority)[T.Havering]                               -0.5478      1.409     -0.389      0.697      -3.310       2.215
C(local_authority)[T.Herefordshire, County of]            -3.106e-14   1.87e-14     -1.657      0.098   -6.78e-14     5.7e-15
C(local_authority)[T.Hertsmere]                              -1.4457      1.300     -1.112      0.266      -3.995       1.103
C(local_authority)[T.High Peak]                              -3.1955      1.338     -2.388      0.017      -5.819      -0.572
C(local_authority)[T.Highland]                             3.552e-14   5.38e-14      0.661      0.509   -6.99e-14    1.41e-13
C(local_authority)[T.Hillingdon]                             -0.1026      1.297     -0.079      0.937      -2.646       2.441
C(local_authority)[T.Hinckley and Bosworth]                  -2.5215      1.794     -1.406      0.160      -6.038       0.995

C:\Users\User\AppData\Local\Temp\ipykernel_18288\3396535426.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  panel['total_sales_lag1'] = panel.groupby(['local_authority', 'size_category'])['total_sales'].shift(1)
C:\Users\User\AppData\Local\Temp\ipykernel_18288\3396535426.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  panel['total_sales_lag2'] = panel.groupby(['local_authority', 'size_category'])['total_sales'].shift(2)
C:\Users\User\AppData\Local\Temp\ipykernel_18288\3396535426.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  panel['total_sales_lag3'] = panel.groupby(['local_authority', 'size_category'])['total_sales'].shift(3)