In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import re

In [2]:
council_housing = pd.read_csv(r'../../data/processed/council_housing_cleaned.csv')
dataset = pd.read_csv(r'../../data/processed/charity_main_cleaned.csv')

In [3]:
# Group by local authority, financial year, and size_category
removal_counts = (
    dataset
    .groupby(['local_authority', 'size_category','removal_fy'])
    .size()
    .reset_index(name='removals')
    .rename(columns={'removal_fy': 'financial_year'})
)

# Drop 2014
removal_counts = removal_counts[removal_counts['financial_year'] >= 2015]

df = removal_counts

In [4]:
council_housing = council_housing.rename(columns={'Local authority': 'local_authority'})
council_housing = council_housing.rename(columns={'Financial_Year': 'financial_year'})

# Merge datasets
panel = pd.merge(df, council_housing, on=['local_authority', 'financial_year'], how='left')

In [5]:
panel = panel[(panel['financial_year'] >= 2015) & (panel['financial_year'] <= 2023)]

panel

,local_authority,size_category,financial_year,removals,Right_to_Buy_total_number_of_dwellings,Social_Homebuy_number_of_dwellings,Other_sales_to_sitting_tenants_number_of_dwellings,Other_sales_number_of_dwellings,Transfers_to_PRPs,Sales_of_Shared_Ownership_number_of_dwellings
0,Aberdeen City,Medium,2016.0,1,NaN,NaN,NaN,NaN,NaN,NaN
1,Aberdeen City,Medium,2017.0,1,NaN,NaN,NaN,NaN,NaN,NaN
2,Aberdeen City,Medium,2018.0,1,NaN,NaN,NaN,NaN,NaN,NaN
3,Aberdeen City,Small,2016.0,1,NaN,NaN,NaN,NaN,NaN,NaN
4,Aberdeen City,Small,2021.0,1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6768,York,Small,2019.0,24,58.0,0,0,0,0,24
6769,York,Small,2020.0,11,46.0,0,.,.,.,27
6770,York,Small,2021.0,19,74.0,0,0,0,0,19
6771,York,Small,2022.0,17,52.0,0,0,0,0,13
6772,York,Small,2023.0,9,50.0,0,0,0,0,25

In [6]:
# Treat as category
panel['local_authority'] = panel['local_authority'].astype('category')
panel['size_category'] = panel['size_category'].astype('category')

# Sale columns
sale_cols = [
    'Right_to_Buy_total_number_of_dwellings',
    'Social_Homebuy_number_of_dwellings',
    'Other_sales_to_sitting_tenants_number_of_dwellings',
    'Other_sales_number_of_dwellings',
    'Transfers_to_PRPs',
    'Sales_of_Shared_Ownership_number_of_dwellings'
]

# Convert to numeric
for col in sale_cols:
    panel[col] = pd.to_numeric(panel[col], errors='coerce')

# Drop rows where 'Right_to_Buy_total_number_of_dwellings' is NaN
panel = panel.dropna(subset=['Right_to_Buy_total_number_of_dwellings'])

# Fill NaN with 0 in the remaining sale columns
other_sale_cols = [
    'Social_Homebuy_number_of_dwellings',
    'Other_sales_to_sitting_tenants_number_of_dwellings',
    'Other_sales_number_of_dwellings',
    'Transfers_to_PRPs',
    'Sales_of_Shared_Ownership_number_of_dwellings'
]
panel[other_sale_cols] = panel[other_sale_cols].fillna(0)

C:\Users\User\AppData\Local\Temp\ipykernel_18288\4005325063.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  panel[other_sale_cols] = panel[other_sale_cols].fillna(0)

In [12]:
# Calculate total sales
panel['total_sales'] = panel[sale_cols].sum(axis=1)

# Run regression
model = smf.ols(
    'removals ~ total_sales + C(size_category) + C(local_authority) + C(financial_year) + total_sales:C(size_category)',
    data=panel
).fit()

model_summary = model.summary()
print(model_summary)

                            OLS Regression Results
==============================================================================
Dep. Variable:               removals   R-squared:                       0.674
Model:                            OLS   Adj. R-squared:                  0.653
Method:                 Least Squares   F-statistic:                     31.72
Date:                Sun, 06 Jul 2025   Prob (F-statistic):               0.00
Time:                        22:56:34   Log-Likelihood:                -13625.
No. Observations:                4996   AIC:                         2.786e+04
Df Residuals:                    4689   BIC:                         2.986e+04
Df Model:                         306
Covariance Type:            nonrobust
=============================================================================================================================
                                                                coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------------------
Intercept                                                    -1.0327      0.298     -3.464      0.001      -1.617      -0.448
C(size_category)[T.Medium]                                    3.9895      0.258     15.481      0.000       3.484       4.495
C(size_category)[T.Small]                                     9.5684      0.256     37.326      0.000       9.066      10.071
C(local_authority)[T.Aberdeenshire]                        8.802e-13   7.87e-13      1.119      0.263   -6.62e-13    2.42e-12
C(local_authority)[T.Adur]                                   -4.5157      0.956     -4.721      0.000      -6.391      -2.641
C(local_authority)[T.Amber Valley]                           -1.8574      0.989     -1.878      0.060      -3.797       0.082
C(local_authority)[T.Angus]                                4.908e-12    7.4e-13      6.632      0.000    3.46e-12    6.36e-12
C(local_authority)[T.Argyll and Bute]                       3.32e-14   1.47e-14      2.260      0.024    4.41e-15     6.2e-14
C(local_authority)[T.Arun]                                   -0.5653      0.877     -0.644      0.519      -2.285       1.155
C(local_authority)[T.Ashfield]                               -4.2638      1.058     -4.031      0.000      -6.338      -2.190
C(local_authority)[T.Ashford]                                -0.8619      0.854     -1.010      0.313      -2.535       0.811
C(local_authority)[T.Babergh]                                -1.2146      0.954     -1.273      0.203      -3.085       0.655
C(local_authority)[T.Barking and Dagenham]                   -3.0753      1.329     -2.314      0.021      -5.681      -0.470
C(local_authority)[T.Barnet]                                 12.4046      0.814     15.233      0.000      10.808      14.001
C(local_authority)[T.Barnsley]                               -2.3637      0.962     -2.457      0.014      -4.250      -0.478
C(local_authority)[T.Basildon]                               -2.6630      0.955     -2.787      0.005      -4.536      -0.790
C(local_authority)[T.Basingstoke and Deane]                   0.6542      1.105      0.592      0.554      -1.512       2.821
C(local_authority)[T.Bassetlaw]                              -3.5763      0.985     -3.632      0.000      -5.507      -1.646
C(local_authority)[T.Bath and North East Somerset]            0.5867      1.024      0.573      0.567      -1.421       2.594
C(local_authority)[T.Bedford]                                 2.5069      0.904      2.774      0.006       0.735       4.279
C(local_authority)[T.Belfast]                             -4.805e-15   3.61e-14     -0.133      0.894   -7.56e-14     6.6e-14
C(local_authority)[T.Bexley]                                 -1.7631      0.958     -1.841      0.066      -3.641       0.115
C(local_authority)[T.Birmingham]                             13.4794      1.631      8.264      0.000      10.282      16.677
C(local_authority)[T.Blaby]                                  -3.1905      0.930     -3.432      0.001      -5.013      -1.368
C(local_authority)[T.Blackburn with Darwen]                  -2.3351      0.958     -2.438      0.015      -4.213      -0.457
C(local_authority)[T.Blackpool]                              -3.9225      0.955     -4.109      0.000      -5.794      -2.051
C(local_authority)[T.Blaenau Gwent]                        1.221e-13   2.79e-14      4.369      0.000    6.73e-14    1.77e-13
C(local_authority)[T.Bolsover]                               -5.6315      1.150     -4.898      0.000      -7.885      -3.378
C(local_authority)[T.Bolton]                                  0.6234      0.838      0.744      0.457      -1.020       2.267
C(local_authority)[T.Boston]                                 -4.1257      0.958     -4.308      0.000      -6.003      -2.248
C(local_authority)[T.Bournemouth, Christchurch and Poole]     5.2725      1.274      4.140      0.000       2.776       7.769
C(local_authority)[T.Bracknell Forest]                       -2.6085      1.024     -2.548      0.011      -4.615      -0.602
C(local_authority)[T.Bradford]                                7.7670      0.858      9.056      0.000       6.085       9.448
C(local_authority)[T.Braintree]                              -0.4487      0.880     -0.510      0.610      -2.173       1.276
C(local_authority)[T.Breckland]                              -0.2250      0.930     -0.242      0.809      -2.048       1.598
C(local_authority)[T.Brent]                                   1.2642      0.875      1.444      0.149      -0.452       2.980
C(local_authority)[T.Brentwood]                              -2.7718      0.901     -3.075      0.002      -4.539      -1.005
C(local_authority)[T.Bridgend]                            -9.753e-15   6.68e-15     -1.461      0.144   -2.28e-14    3.34e-15
C(local_authority)[T.Brighton and Hove]                       2.9092      1.021      2.849      0.004       0.908       4.911
C(local_authority)[T.Bristol, City of]                     3.711e-14   1.74e-14      2.127      0.033    2.91e-15    7.13e-14
C(local_authority)[T.Broadland]                              -0.6956      0.930     -0.748      0.454      -2.518       1.127
C(local_authority)[T.Bromley]                                 5.6518      0.838      6.747      0.000       4.010       7.294
C(local_authority)[T.Bromsgrove]                             -2.9931      0.904     -3.312      0.001      -4.765      -1.221
C(local_authority)[T.Broxbourne]                             -4.3466      1.153     -3.769      0.000      -6.608      -2.086
C(local_authority)[T.Broxtowe]                               -2.7482      0.925     -2.970      0.003      -4.562      -0.934
C(local_authority)[T.Buckinghamshire]                        14.6140      1.209     12.083      0.000      12.243      16.985
C(local_authority)[T.Burnley]                                -4.1756      0.957     -4.363      0.000      -6.052      -2.299
C(local_authority)[T.Bury]                                   -1.3566      0.926     -1.465      0.143      -3.172       0.459
C(local_authority)[T.Caerphilly]                          -3.207e-14   1.56e-14     -2.053      0.040   -6.27e-14   -1.45e-15
C(local_authority)[T.Calderdale]                              0.6323      0.930      0.680      0.496      -1.190       2.455
C(local_authority)[T.Cambridge]                               0.8842      0.833      1.062      0.288      -0.749       2.517
C(local_authority)[T.Camden]                                 13.4022      0.767     17.481      0.000      11.899      14.905
C(local_authority)[T.Cannock Chase]                          -3.6700      0.985     -3.727      0.000      -5.601      -1.739
C(local_authority)[T.Canterbury]                             -0.3098      0.899     -0.344      0.731      -2.073       1.454
C(local_authority)[T.Cardiff]                             -4.443e-14   2.21e-14     -2.011      0.044   -8.78e-14   -1.11e-15
C(local_authority)[T.Carmarthenshire]                      5.182e-14   2.63e-14      1.970      0.049    2.57e-16    1.03e-13
C(local_authority)[T.Castle Point]                           -4.5084      1.022     -4.410      0.000      -6.513      -2.504
C(local_authority)[T.Causeway Coast and Glens]              3.45e-15   1.48e-15      2.325      0.020    5.42e-16    6.36e-15
C(local_authority)[T.Central Bedfordshire]                    2.6063      0.853      3.054      0.002       0.933       4.279
C(local_authority)[T.Ceredigion]                          -5.316e-14   3.61e-14     -1.474      0.141   -1.24e-13    1.76e-14
C(local_authority)[T.Channel Islands]                     -1.112e-13   5.79e-14     -1.921      0.055   -2.25e-13    2.31e-15
C(local_authority)[T.Charnwood]                              -0.9850      0.875     -1.125      0.260      -2.701       0.731
C(local_authority)[T.Chelmsford]                             -0.4754      0.838     -0.568      0.570      -2.118       1.167
C(local_authority)[T.Cheltenham]                             -0.9803      0.926     -1.059      0.290      -2.795       0.834
C(local_authority)[T.Cherwell]                               -0.1932      0.838     -0.231      0.818      -1.836       1.449
C(local_authority)[T.Cheshire East]                           4.7333      0.858      5.516      0.000       3.051       6.415
C(local_authority)[T.Cheshire West and Chester]               5.2786      1.058      4.989      0.000       3.204       7.353
C(local_authority)[T.Chesterfield]                           -5.1329      1.064     -4.824      0.000      -7.219      -3.047
C(local_authority)[T.Chichester]                              2.5650      0.858      2.990      0.003       0.883       4.247
C(local_authority)[T.Chorley]                                -2.7239      0.989     -2.754      0.006      -4.663      -0.785
C(local_authority)[T.City of Edinburgh]                    5.094e-14   2.34e-14      2.176      0.030    5.04e-15    9.68e-14
C(local_authority)[T.City of London]                          7.5699      0.742     10.205      0.000       6.116       9.024
C(local_authority)[T.Colchester]                              0.0132      0.853      0.016      0.988      -1.660       1.686
C(local_authority)[T.Conwy]                                1.583e-14   2.98e-15      5.318      0.000    9.99e-15    2.17e-14
C(local_authority)[T.Cornwall]                               17.5925      0.834     21.093      0.000      15.957      19.228
C(local_authority)[T.Cotswold]                                0.8069      0.904      0.893      0.372      -0.965       2.579
C(local_authority)[T.County Durham]                          10.4463      1.024     10.199      0.000       8.438      12.454
C(local_authority)[T.Coventry]                                2.3449      0.904      2.594      0.010       0.573       4.117
C(local_authority)[T.Crawley]                                -3.7924      0.955     -3.973      0.000      -5.664      -1.921
C(local_authority)[T.Croydon]                                 4.0662      0.884      4.602      0.000       2.334       5.798
C(local_authority)[T.Cumberland]                             10.5722      2.697      3.920      0.000       5.285      15.859
C(local_authority)[T.Dacorum]                                -1.4524      0.954     -1.522      0.128      -3.323       0.418
C(local_authority)[T.Darlington]                             -3.8832      0.925     -4.197      0.000      -5.697      -2.070
C(local_authority)[T.Dartford]                               -3.7592      1.102     -3.412      0.001      -5.919      -1.599
C(local_authority)[T.Denbighshire]                         2.657e-14   1.58e-14      1.676      0.094    -4.5e-15    5.76e-14
C(local_authority)[T.Derby]                                  -0.4442      0.925     -0.480      0.631      -2.257       1.368
C(local_authority)[T.Derbyshire Dales]                       -0.0561      0.929     -0.060      0.952      -1.878       1.766
C(local_authority)[T.Doncaster]                               0.4041      0.951      0.425      0.671      -1.460       2.268
C(local_authority)[T.Dorset]                                 12.3058      1.104     11.142      0.000      10.140      14.471
C(local_authority)[T.Dover]                                  -2.6215      0.925     -2.833      0.005      -4.436      -0.807
C(local_authority)[T.Dudley]                                 -0.0881      0.920     -0.096      0.924      -1.892       1.716
C(local_authority)[T.Dumfries and Galloway]               -1.545e-14   8.13e-15     -1.900      0.058   -3.14e-14    4.95e-16
C(local_authority)[T.Dundee City]                          -2.58e-14   1.49e-14     -1.732      0.083    -5.5e-14    3.41e-15
C(local_authority)[T.Ealing]                                  2.8585      0.884      3.234      0.001       1.126       4.591
C(local_authority)[T.East Ayrshire]                        2.157e-14      1e-14      2.150      0.032     1.9e-15    4.12e-14
C(local_authority)[T.East Cambridgeshire]                    -2.0541      0.930     -2.210      0.027      -3.876      -0.232
C(local_authority)[T.East Devon]                              1.2900      0.876      1.473      0.141      -0.427       3.007
C(local_authority)[T.East Dunbartonshire]                   4.88e-14   2.63e-14      1.853      0.064   -2.82e-15       1e-13
C(local_authority)[T.East Hampshire]                          0.2847      0.904      0.315      0.753      -1.487       2.056
C(local_authority)[T.East Hertfordshire]                      0.0069      0.904      0.008      0.994      -1.765       1.779
C(local_authority)[T.East Lindsey]                            0.0069      0.904      0.008      0.994      -1.765       1.779
C(local_authority)[T.East Lothian]                         1.029e-13   5.35e-14      1.924      0.054   -1.93e-15    2.08e-13
C(local_authority)[T.East Riding of Yorkshire]                4.2892      0.881      4.867      0.000       2.562       6.017
C(local_authority)[T.East Staffordshire]                     -2.2549      0.880     -2.563      0.010      -3.980      -0.530
C(local_authority)[T.East Suffolk]                            7.2246      1.206      5.990      0.000       4.860       9.589
C(local_authority)[T.Eastbourne]                             -2.1635      0.955     -2.266      0.024      -4.035      -0.292
C(local_authority)[T.Eastleigh]                              -1.2426      0.930     -1.337      0.181      -3.065       0.580
C(local_authority)[T.Elmbridge]                              -0.1660      0.819     -0.203      0.839      -1.772       1.440
C(local_authority)[T.Enfield]                                 2.4080      0.867      2.777      0.006       0.708       4.108
C(local_authority)[T.Epping Forest]                          -1.0924      0.926     -1.180      0.238      -2.907       0.722
C(local_authority)[T.Epsom and Ewell]                        -3.9589      1.274     -3.107      0.002      -6.457      -1.460
C(local_authority)[T.Erewash]                                -3.2302      0.958     -3.373      0.001      -5.108      -1.353
C(local_authority)[T.Exeter]                                 -0.3113      0.833     -0.374      0.709      -1.944       1.322
C(local_authority)[T.Fareham]                                -2.8502      0.877     -3.250      0.001      -4.570      -1.131
C(local_authority)[T.Fenland]                                -3.2701      0.989     -3.305      0.001      -5.210      -1.330
C(local_authority)[T.Fermanagh and Omagh]                 -1.042e-13   5.58e-14     -1.866      0.062   -2.14e-13     5.3e-15
C(local_authority)[T.Fife]                                -6.467e-14   3.41e-14     -1.898      0.058   -1.31e-13    2.14e-15
C(local_authority)[T.Flintshire]                           9.945e-14   5.57e-14      1.786      0.074   -9.73e-15    2.09e-13
C(local_authority)[T.Folkestone and Hythe]                   -0.7323      1.558     -0.470      0.638      -3.786       2.321
C(local_authority)[T.Forest of Dean]                         -1.4956      0.930     -1.609      0.108      -3.318       0.327
C(local_authority)[T.Fylde]                                  -4.0117      0.958     -4.186      0.000      -5.890      -2.133
C(local_authority)[T.Gateshead]                              -1.8845      0.935     -2.016      0.044      -3.717      -0.052
C(local_authority)[T.Gedling]                                -3.0309      0.958     -3.164      0.002      -4.909      -1.153
C(local_authority)[T.Glasgow City]                        -1.271e-13   6.83e-14     -1.860      0.063   -2.61e-13    6.83e-15
C(local_authority)[T.Gloucester]                             -2.1598      0.904     -2.390      0.017      -3.932      -0.388
C(local_authority)[T.Gosport]                                -4.2075      0.986     -4.266      0.000      -6.141      -2.274
C(local_authority)[T.Gravesham]                              -3.3684      1.101     -3.059      0.002      -5.527      -1.210
C(local_authority)[T.Great Yarmouth]                         -4.0458      1.019     -3.969      0.000      -6.044      -2.047
C(local_authority)[T.Greenwich]                               1.1112      0.917      1.212      0.226      -0.686       2.909
C(local_authority)[T.Guildford]                               1.0206      0.876      1.165      0.244      -0.697       2.738
C(local_authority)[T.Gwynedd]                              3.433e-14   1.76e-14      1.953      0.051   -1.34e-16    6.88e-14
C(local_authority)[T.Hackney]                                 6.0692      0.811      7.484      0.000       4.479       7.659
C(local_authority)[T.Halton]                                 -2.9886      0.903     -3.308      0.001      -4.760      -1.218
C(local_authority)[T.Hammersmith and Fulham]                 -0.4830      1.101     -0.439      0.661      -2.642       1.676
C(local_authority)[T.Harborough]                             -1.9559      0.930     -2.104      0.035      -3.778      -0.133
C(local_authority)[T.Haringey]                                3.6043      0.907      3.973      0.000       1.826       5.383
C(local_authority)[T.Harlow]                                 -5.0591      1.020     -4.958      0.000      -7.059      -3.059
C(local_authority)[T.Harrow]                                  1.5240      0.876      1.740      0.082      -0.193       3.241
C(local_authority)[T.Hart]                                   -2.3264      0.904     -2.574      0.010      -4.098      -0.555
C(local_authority)[T.Hartlepool]                             -4.0168      0.958     -4.193      0.000      -5.895      -2.139
C(local_authority)[T.Hastings]                               -2.2205      0.989     -2.245      0.025      -4.159      -0.282
C(local_authority)[T.Havant]                                 -2.9559      0.930     -3.180      0.001      -4.778      -1.133
C(local_authority)[T.Havering]                               -0.7198      0.965     -0.746      0.456      -2.612       1.172
C(local_authority)[T.Herefordshire, County of]                2.4364      1.561      1.561      0.119      -0.623       5.496
C(local_authority)[T.Hertsmere]                              -1.7818      0.958     -1.860      0.063      -3.660       0.096
C(local_authority)[T.High Peak]                              -2.9544      0.985     -2.999      0.003      -4.886      -1.023
C(local_authority)[T.Highland]                             1.139e-13   6.14e-14      1.854      0.064   -6.55e-15    2.34e-13
C(local_authority)[T.Hillingdon]                             -0.2663      0.930     -0.286      0.775      -2.090       1.557
C(local_authority)[T.Hinckley and Bosworth]                  -2.6457      1.150     -2.301      0.021      -4.900      -0.391

In [9]:
panel

,local_authority,size_category,financial_year,removals,Right_to_Buy_total_number_of_dwellings,Social_Homebuy_number_of_dwellings,Other_sales_to_sitting_tenants_number_of_dwellings,Other_sales_number_of_dwellings,Transfers_to_PRPs,Sales_of_Shared_Ownership_number_of_dwellings,total_sales,total_sales_lag1,total_sales_lag2,total_sales_lag3
15,Adur,Small,2015.0,2,9.0,0.0,0.0,0.0,0.0,0.0,9.0,NaN,NaN,NaN
8,Adur,Medium,2016.0,3,7.0,0.0,0.0,0.0,0.0,0.0,7.0,NaN,NaN,NaN
16,Adur,Small,2016.0,2,7.0,0.0,0.0,0.0,0.0,0.0,7.0,9.0,NaN,NaN
9,Adur,Medium,2017.0,2,8.0,0.0,0.0,0.0,0.0,0.0,8.0,7.0,NaN,NaN
17,Adur,Small,2017.0,1,8.0,0.0,0.0,0.0,0.0,0.0,8.0,7.0,9.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6770,York,Small,2021.0,19,74.0,0.0,0.0,0.0,0.0,19.0,93.0,73.0,82.0,68.0
6760,York,Medium,2022.0,7,52.0,0.0,0.0,0.0,0.0,13.0,65.0,93.0,73.0,82.0
6771,York,Small,2022.0,17,52.0,0.0,0.0,0.0,0.0,13.0,65.0,93.0,73.0,82.0
6761,York,Medium,2023.0,3,50.0,0.0,0.0,0.0,0.0,25.0,75.0,65.0,93.0,73.0
6772,York,Small,2023.0,9,50.0,0.0,0.0,0.0,0.0,25.0,75.0,65.0,93.0,73.0

In [15]:
panel = panel.sort_values(['local_authority', 'financial_year'])

panel['total_sales_lag1'] = panel.groupby(['local_authority', 'size_category'])['total_sales'].shift(1)
panel['total_sales_lag2'] = panel.groupby(['local_authority', 'size_category'])['total_sales'].shift(2)
panel['total_sales_lag3'] = panel.groupby(['local_authority', 'size_category'])['total_sales'].shift(3)

# Step 4: Run regression with lag
model = smf.ols(
    'removals ~ C(size_category) + total_sales + total_sales_lag1 + total_sales_lag2 + total_sales_lag3 + C(local_authority) + C(financial_year) + C(size_category):(total_sales + total_sales_lag1 + total_sales_lag2 + total_sales_lag3)',
    data=panel
).fit()

# Step 5: Print results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               removals   R-squared:                       0.704
Model:                            OLS   Adj. R-squared:                  0.670
Method:                 Least Squares   F-statistic:                     20.89
Date:                Sun, 06 Jul 2025   Prob (F-statistic):               0.00
Time:                        23:05:30   Log-Likelihood:                -8022.2
No. Observations:                2946   AIC:                         1.665e+04
Df Residuals:                    2644   BIC:                         1.846e+04
Df Model:                         301
Covariance Type:            nonrobust
=============================================================================================================================
                                                                coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------------------
Intercept                                                    -5.7720      0.644     -8.957      0.000      -7.036      -4.508
C(size_category)[T.Medium]                                    9.2267      0.720     12.811      0.000       7.814      10.639
C(size_category)[T.Small]                                    15.2405      0.720     21.166      0.000      13.829      16.652
C(local_authority)[T.Aberdeenshire]                       -2.933e-13   2.34e-12     -0.125      0.900   -4.88e-12    4.29e-12
C(local_authority)[T.Adur]                                   -5.0271      1.316     -3.821      0.000      -7.607      -2.447
C(local_authority)[T.Amber Valley]                           -1.1909      1.328     -0.897      0.370      -3.796       1.414
C(local_authority)[T.Angus]                               -1.021e-11   2.72e-12     -3.755      0.000   -1.55e-11   -4.88e-12
C(local_authority)[T.Argyll and Bute]                     -7.391e-12   7.77e-13     -9.515      0.000   -8.91e-12   -5.87e-12
C(local_authority)[T.Arun]                                   -0.1341      1.141     -0.118      0.906      -2.371       2.103
C(local_authority)[T.Ashfield]                               -4.3651      1.469     -2.971      0.003      -7.246      -1.484
C(local_authority)[T.Ashford]                                -1.2383      1.125     -1.101      0.271      -3.444       0.967
C(local_authority)[T.Babergh]                                -0.8714      1.299     -0.671      0.502      -3.419       1.676
C(local_authority)[T.Barking and Dagenham]                   -6.5735      2.575     -2.553      0.011     -11.623      -1.524
C(local_authority)[T.Barnet]                                 13.9212      1.080     12.895      0.000      11.804      16.038
C(local_authority)[T.Barnsley]                               -3.9110      1.443     -2.710      0.007      -6.741      -1.081
C(local_authority)[T.Basildon]                               -1.9461      1.236     -1.575      0.115      -4.369       0.477
C(local_authority)[T.Basingstoke and Deane]                   2.2341      1.608      1.389      0.165      -0.919       5.387
C(local_authority)[T.Bassetlaw]                              -3.3836      1.294     -2.614      0.009      -5.922      -0.845
C(local_authority)[T.Bath and North East Somerset]            1.3959      1.607      0.868      0.385      -1.756       4.548
C(local_authority)[T.Bedford]                                 4.1671      1.158      3.597      0.000       1.896       6.439
C(local_authority)[T.Belfast]                             -3.873e-13   8.13e-13     -0.477      0.634   -1.98e-12    1.21e-12
C(local_authority)[T.Bexley]                                 -1.2399      1.326     -0.935      0.350      -3.840       1.360
C(local_authority)[T.Birmingham]                              7.3853      4.805      1.537      0.124      -2.036      16.806
C(local_authority)[T.Blaby]                                  -2.3585      1.263     -1.868      0.062      -4.834       0.117
C(local_authority)[T.Blackburn with Darwen]                  -1.4796      1.325     -1.117      0.264      -4.077       1.118
C(local_authority)[T.Blackpool]                              -3.6431      1.235     -2.949      0.003      -6.066      -1.221
C(local_authority)[T.Blaenau Gwent]                       -2.368e-13   5.26e-14     -4.504      0.000    -3.4e-13   -1.34e-13
C(local_authority)[T.Bolsover]                               -7.4807      1.737     -4.308      0.000     -10.886      -4.075
C(local_authority)[T.Bolton]                                  1.9675      1.159      1.697      0.090      -0.306       4.241
C(local_authority)[T.Boston]                                 -3.9011      1.326     -2.942      0.003      -6.501      -1.301
C(local_authority)[T.Bournemouth, Christchurch and Poole] -8.162e-14   6.65e-14     -1.228      0.220   -2.12e-13    4.87e-14
C(local_authority)[T.Bracknell Forest]                       -3.3809      1.495     -2.262      0.024      -6.312      -0.450
C(local_authority)[T.Bradford]                               10.8268      1.158      9.353      0.000       8.557      13.097
C(local_authority)[T.Braintree]                               0.2504      1.158      0.216      0.829      -2.021       2.522
C(local_authority)[T.Breckland]                              -0.1007      1.207     -0.083      0.934      -2.467       2.266
C(local_authority)[T.Brent]                                   2.1082      1.123      1.877      0.061      -0.094       4.310
C(local_authority)[T.Brentwood]                              -2.5000      1.191     -2.099      0.036      -4.836      -0.165
C(local_authority)[T.Bridgend]                             1.138e-14   1.81e-14      0.630      0.529   -2.41e-14    4.68e-14
C(local_authority)[T.Brighton and Hove]                       2.9228      1.596      1.832      0.067      -0.206       6.052
C(local_authority)[T.Bristol, City of]                     -4.57e-14   5.21e-14     -0.877      0.381   -1.48e-13    5.65e-14
C(local_authority)[T.Broadland]                               0.0811      1.207      0.067      0.946      -2.285       2.448
C(local_authority)[T.Bromley]                                 6.7504      1.158      5.827      0.000       4.479       9.022
C(local_authority)[T.Bromsgrove]                             -2.2496      1.158     -1.942      0.052      -4.521       0.022
C(local_authority)[T.Broxbourne]                             -4.7129      1.759     -2.679      0.007      -8.162      -1.264
C(local_authority)[T.Broxtowe]                               -2.1734      1.173     -1.852      0.064      -4.474       0.127
C(local_authority)[T.Buckinghamshire]                        17.1263      2.757      6.211      0.000      11.719      22.533
C(local_authority)[T.Burnley]                                -3.5182      1.256     -2.801      0.005      -5.981      -1.055
C(local_authority)[T.Bury]                                   -1.4655      1.180     -1.241      0.215      -3.780       0.849
C(local_authority)[T.Caerphilly]                          -6.689e-14   3.03e-14     -2.209      0.027   -1.26e-13   -7.51e-15
C(local_authority)[T.Calderdale]                              1.7720      1.207      1.468      0.142      -0.595       4.139
C(local_authority)[T.Cambridge]                               1.4272      1.122      1.272      0.203      -0.772       3.627
C(local_authority)[T.Camden]                                 15.9499      0.988     16.138      0.000      14.012      17.888
C(local_authority)[T.Cannock Chase]                          -3.1759      1.296     -2.451      0.014      -5.717      -0.635
C(local_authority)[T.Canterbury]                              0.0800      1.175      0.068      0.946      -2.223       2.383
C(local_authority)[T.Cardiff]                              3.005e-14   1.38e-14      2.176      0.030    2.98e-15    5.71e-14
C(local_authority)[T.Carmarthenshire]                      6.779e-14   5.42e-14      1.252      0.211   -3.84e-14    1.74e-13
C(local_authority)[T.Castle Point]                           -4.7605      1.394     -3.415      0.001      -7.494      -2.027
C(local_authority)[T.Causeway Coast and Glens]            -2.853e-14   2.34e-14     -1.219      0.223   -7.44e-14    1.74e-14
C(local_authority)[T.Central Bedfordshire]                    3.3566      1.124      2.985      0.003       1.152       5.561
C(local_authority)[T.Ceredigion]                          -2.544e-14   2.53e-14     -1.004      0.316   -7.51e-14    2.43e-14
C(local_authority)[T.Channel Islands]                      4.133e-14    3.1e-14      1.335      0.182   -1.94e-14    1.02e-13
C(local_authority)[T.Charnwood]                              -0.3679      1.122     -0.328      0.743      -2.568       1.832
C(local_authority)[T.Chelmsford]                             -0.5829      1.158     -0.503      0.615      -2.854       1.689
C(local_authority)[T.Cheltenham]                             -0.6563      1.175     -0.558      0.577      -2.961       1.648
C(local_authority)[T.Cherwell]                                0.1671      1.158      0.144      0.885      -2.104       2.439
C(local_authority)[T.Cheshire East]                           6.1671      1.158      5.324      0.000       3.896       8.439
C(local_authority)[T.Cheshire West and Chester]               5.8644      1.590      3.688      0.000       2.747       8.982
C(local_authority)[T.Chesterfield]                           -6.6990      1.516     -4.419      0.000      -9.672      -3.726
C(local_authority)[T.Chichester]                              3.3337      1.158      2.878      0.004       1.062       5.605
C(local_authority)[T.Chorley]                                -2.0949      1.326     -1.579      0.114      -4.696       0.506
C(local_authority)[T.City of Edinburgh]                   -3.605e-14    2.3e-14     -1.570      0.117   -8.11e-14    8.98e-15
C(local_authority)[T.City of London]                          9.7728      0.975     10.023      0.000       7.861      11.685
C(local_authority)[T.Colchester]                             -0.4699      1.124     -0.418      0.676      -2.674       1.734
C(local_authority)[T.Conwy]                               -6.531e-14   5.95e-14     -1.097      0.273   -1.82e-13    5.14e-14
C(local_authority)[T.Cornwall]                               20.4572      1.131     18.093      0.000      18.240      22.674
C(local_authority)[T.Cotswold]                                2.2266      1.207      1.845      0.065      -0.140       4.593
C(local_authority)[T.County Durham]                          10.0674      1.608      6.261      0.000       6.914      13.220
C(local_authority)[T.Coventry]                                2.9902      1.207      2.478      0.013       0.624       5.357
C(local_authority)[T.Crawley]                                -4.1851      1.298     -3.224      0.001      -6.731      -1.639
C(local_authority)[T.Croydon]                                 3.3338      1.174      2.838      0.005       1.031       5.637
C(local_authority)[T.Cumberland]                           7.247e-14   6.31e-14      1.148      0.251   -5.13e-14    1.96e-13
C(local_authority)[T.Dacorum]                                -0.9720      1.231     -0.790      0.430      -3.385       1.441
C(local_authority)[T.Darlington]                             -3.7263      1.228     -3.034      0.002      -6.135      -1.318
C(local_authority)[T.Dartford]                               -3.5362      1.591     -2.222      0.026      -6.656      -0.416
C(local_authority)[T.Denbighshire]                          1.72e-15    1.5e-14      0.115      0.908   -2.76e-14     3.1e-14
C(local_authority)[T.Derby]                                  -1.6181      1.486     -1.089      0.276      -4.532       1.296
C(local_authority)[T.Derbyshire Dales]                        0.8558      1.205      0.710      0.478      -1.507       3.219
C(local_authority)[T.Doncaster]                               0.0598      1.397      0.043      0.966      -2.680       2.799
C(local_authority)[T.Dorset]                                 16.3484      1.960      8.342      0.000      12.506      20.191
C(local_authority)[T.Dover]                                  -2.3276      1.173     -1.984      0.047      -4.629      -0.027
C(local_authority)[T.Dudley]                                 -2.0615      1.579     -1.305      0.192      -5.158       1.035
C(local_authority)[T.Dumfries and Galloway]                1.567e-14   1.15e-14      1.360      0.174   -6.92e-15    3.83e-14
C(local_authority)[T.Dundee City]                          -3.28e-14   2.58e-14     -1.271      0.204   -8.34e-14    1.78e-14
C(local_authority)[T.Ealing]                                  1.8705      1.184      1.580      0.114      -0.451       4.192
C(local_authority)[T.East Ayrshire]                       -8.749e-14   8.17e-14     -1.071      0.284   -2.48e-13    7.27e-14
C(local_authority)[T.East Cambridgeshire]                    -1.3213      1.205     -1.096      0.273      -3.685       1.042
C(local_authority)[T.East Devon]                              1.3423      1.126      1.192      0.233      -0.865       3.550
C(local_authority)[T.East Dunbartonshire]                  1.296e-14   3.56e-14      0.364      0.716   -5.68e-14    8.28e-14
C(local_authority)[T.East Hampshire]                          1.5837      1.158      1.367      0.172      -0.688       3.855
C(local_authority)[T.East Hertfordshire]                      0.4171      1.158      0.360      0.719      -1.854       2.689
C(local_authority)[T.East Lindsey]                            0.5004      1.158      0.432      0.666      -1.771       2.772
C(local_authority)[T.East Lothian]                        -1.566e-14   1.63e-14     -0.959      0.338   -4.77e-14    1.64e-14
C(local_authority)[T.East Riding of Yorkshire]                5.1397      1.176      4.372      0.000       2.835       7.445
C(local_authority)[T.East Staffordshire]                     -1.8329      1.158     -1.582      0.114      -4.104       0.439
C(local_authority)[T.East Suffolk]                            7.5912      1.942      3.908      0.000       3.783      11.400
C(local_authority)[T.Eastbourne]                             -1.6908      1.239     -1.365      0.173      -4.121       0.739
C(local_authority)[T.Eastleigh]                               0.5388      1.207      0.447      0.655      -1.827       2.905
C(local_authority)[T.Elmbridge]                               0.7204      1.115      0.646      0.518      -1.467       2.907
C(local_authority)[T.Enfield]                                 2.5784      1.250      2.062      0.039       0.127       5.030
C(local_authority)[T.Epping Forest]                          -1.1342      1.232     -0.921      0.357      -3.550       1.282
C(local_authority)[T.Epsom and Ewell]                        -6.4395      2.257     -2.853      0.004     -10.865      -2.014
C(local_authority)[T.Erewash]                                -2.8129      1.325     -2.123      0.034      -5.411      -0.215
C(local_authority)[T.Exeter]                                 -0.3511      1.122     -0.313      0.754      -2.551       1.849
C(local_authority)[T.Fareham]                                -2.1441      1.135     -1.889      0.059      -4.370       0.082
C(local_authority)[T.Fenland]                                -2.7330      1.404     -1.946      0.052      -5.487       0.021
C(local_authority)[T.Fermanagh and Omagh]                  2.068e-14   1.42e-14      1.461      0.144   -7.08e-15    4.84e-14
C(local_authority)[T.Fife]                                 4.925e-14   2.91e-14      1.695      0.090   -7.73e-15    1.06e-13
C(local_authority)[T.Flintshire]                            6.77e-14   3.69e-14      1.833      0.067   -4.71e-15     1.4e-13
C(local_authority)[T.Folkestone and Hythe]                 3.721e-14   2.43e-14      1.533      0.125   -1.04e-14    8.48e-14
C(local_authority)[T.Forest of Dean]                         -0.8620      1.263     -0.683      0.495      -3.338       1.614
C(local_authority)[T.Fylde]                                  -3.4241      1.263     -2.710      0.007      -5.901      -0.947
C(local_authority)[T.Gateshead]                              -2.9573      1.403     -2.107      0.035      -5.709      -0.205
C(local_authority)[T.Gedling]                                -2.5171      1.263     -1.994      0.046      -4.993      -0.041
C(local_authority)[T.Glasgow City]                         2.304e-14   1.09e-14      2.122      0.034    1.75e-15    4.43e-14
C(local_authority)[T.Gloucester]                             -1.1663      1.158     -1.007      0.314      -3.438       1.105
C(local_authority)[T.Gosport]                                -3.6008      1.307     -2.756      0.006      -6.163      -1.039
C(local_authority)[T.Gravesham]                              -2.4318      1.588     -1.532      0.126      -5.545       0.682
C(local_authority)[T.Great Yarmouth]                         -6.3933      1.586     -4.031      0.000      -9.504      -3.283
C(local_authority)[T.Greenwich]                               0.4435      1.492      0.297      0.766      -2.482       3.369
C(local_authority)[T.Guildford]                               1.0365      1.128      0.919      0.358      -1.175       3.248
C(local_authority)[T.Gwynedd]                             -1.096e-15   2.66e-14     -0.041      0.967   -5.32e-14     5.1e-14
C(local_authority)[T.Hackney]                                 6.9592      1.125      6.188      0.000       4.754       9.164
C(local_authority)[T.Halton]                                 -3.0486      1.205     -2.529      0.011      -5.412      -0.685
C(local_authority)[T.Hammersmith and Fulham]                 -0.6401      1.587     -0.403      0.687      -3.753       2.473
C(local_authority)[T.Harborough]                             -1.8643      1.207     -1.545      0.123      -4.231       0.502
C(local_authority)[T.Haringey]                                4.3515      1.163      3.743      0.000       2.072       6.631
C(local_authority)[T.Harlow]                                 -5.5637      1.379     -4.034      0.000      -8.268      -2.859
C(local_authority)[T.Harrow]                                  1.9258      1.127      1.709      0.088      -0.284       4.136
C(local_authority)[T.Hart]                                   -1.7496      1.158     -1.510      0.131      -4.021       0.522
C(local_authority)[T.Hartlepool]                             -3.2684      1.262     -2.590      0.010      -5.743      -0.794
C(local_authority)[T.Hastings]                               -1.7462      1.325     -1.318      0.188      -4.344       0.852
C(local_authority)[T.Havant]                                 -2.4098      1.207     -1.997      0.046      -4.776      -0.043
C(local_authority)[T.Havering]                               -1.1000      1.369     -0.804      0.422      -3.783       1.583
C(local_authority)[T.Herefordshire, County of]             1.427e-13   1.06e-13      1.342      0.180   -6.57e-14    3.51e-13
C(local_authority)[T.Hertsmere]                              -1.2053      1.261     -0.956      0.339      -3.678       1.267
C(local_authority)[T.High Peak]                              -3.1289      1.296     -2.413      0.016      -5.671      -0.587
C(local_authority)[T.Highland]                            -1.459e-14   2.69e-14     -0.542      0.588   -6.74e-14    3.82e-14
C(local_authority)[T.Hillingdon]                             -0.3177      1.258     -0.252      0.801      -2.785       2.150
C(local_authority)[T.Hinckley and Bosworth]                  -2.4122      1.738     -1.388      0.165      -5.819       0.995

C:\Users\User\AppData\Local\Temp\ipykernel_18288\2870769059.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  panel['total_sales_lag1'] = panel.groupby(['local_authority', 'size_category'])['total_sales'].shift(1)
C:\Users\User\AppData\Local\Temp\ipykernel_18288\2870769059.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  panel['total_sales_lag2'] = panel.groupby(['local_authority', 'size_category'])['total_sales'].shift(2)
C:\Users\User\AppData\Local\Temp\ipykernel_18288\2870769059.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  panel['total_sales_lag3'] = panel.groupby(['local_authority', 'size_category'])['total_sales'].shift(3)