In [14]:
import pandas as pd
import numpy as np

In [17]:
dataset = pd.read_csv(r'../../data/processed/charity_main_cleaned.csv')
ladataset = pd.read_excel(r'../../data/raw/Local_government_finance_data_download.xlsx',sheet_name='Spending power totals')
housing_net_supply_df = pd.read_excel('../../data/raw/Local-authority-housing-supply.xlsx', sheet_name='Net supply')
housing_stock_df = pd.read_excel('../../data/raw/Local-authority-housing-supply.xlsx', sheet_name='Housing stock')
population = pd.read_excel('../../data/raw/population_by_age.xlsx', sheet_name='Age bands')

C:\Users\User\AppData\Local\Temp\ipykernel_22828\925063635.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(r'../../data/processed/charity_main_cleaned.csv')

In [18]:
# Define function to get financial year
def get_financial_year(date):
    if pd.isna(date):
        return np.nan
    return date.year if date.month >= 4 else date.year - 1

# --- ensure dates are in datetime ---
dataset['date_of_registration'] = pd.to_datetime(dataset['date_of_registration'], errors='coerce')
dataset['date_of_removal'] = pd.to_datetime(dataset['date_of_removal'], errors='coerce')

dataset['registration_year'] = dataset['date_of_registration'].dt.to_period('Y')
dataset['removal_year'] = dataset['date_of_removal'].dt.to_period('Y')

dataset['registration_month'] = dataset['date_of_registration'].dt.to_period('M')
dataset['removal_month'] = dataset['date_of_removal'].dt.to_period('M')

dataset['registration_fy'] = dataset['date_of_registration'].apply(get_financial_year)
dataset['removal_fy'] = dataset['date_of_removal'].apply(get_financial_year)

In [3]:
# Step 1: Calculate total 2024 housing stock per council (Local authority only)
stock_2024 = (
    housing_stock_df
    .groupby(['Authority_code', 'Authority_name'], as_index=False)['LA_number']
    .sum()
    .rename(columns={'LA_number': 'Stock_2024'})
)

# Step 2: Prepare Net Supply Data
net = housing_net_supply_df.copy()
net = net[net['Year'].astype(str).str.match(r'^\d{4}/\d{2}$')]  # Keep only year-formatted rows
net['Year'] = net['Year'].str[:4].astype(int)  # Convert '2015/16' â†’ 2015

# Pivot to Local Authority x Year format
net_pivot = net.pivot(index='LA_code', columns='Year', values='Net_additions').fillna(0)
net_pivot = net_pivot[sorted(net_pivot.columns, reverse=True)]  # descending order

# Step 3: Merge with 2024 stock
stock = stock_2024.set_index('Authority_code')
net_pivot = net_pivot.reindex(stock.index)  # align index

# Step 4: Calculate total stock backwards from 2024
stock_by_year = pd.DataFrame(index=net_pivot.index)
stock_by_year[2024] = stock['Stock_2024']

for year in sorted(net_pivot.columns, reverse=True):
    if year < 2024:
        stock_by_year[year] = stock_by_year[year + 1] - net_pivot[year]

# Step 5: Merge back Authority name and reshape
stock_by_year = stock_by_year.merge(stock[['Authority_name']], left_index=True, right_index=True)
stock_by_year_reset = stock_by_year.reset_index().melt(id_vars=['Authority_code', 'Authority_name'], 
                                                       var_name='Year', value_name='Housing stock')

# Final pivot
stock_by_year_pivot = stock_by_year_reset.pivot(index=['Authority_code', 'Authority_name'], 
                                                 columns='Year', values='Housing stock').sort_index(axis=1)

# Reset index, rename, and set it again
stock_by_year_pivot = stock_by_year_pivot.reset_index().rename(columns={'Authority_code': 'ONS code'})
stock_by_year_pivot = stock_by_year_pivot.set_index(['ONS code', 'Authority_name'])

In [4]:
stock_by_year_pivot

,Year,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
ONS code,Authority_name,,,,,,,,,,,,,
E06000001,Hartlepool UA,42292.000000,42371.000000,42420.000000,42761.000000,43254.000000,43404.000000,43634.000000,43970.000000,44190.000000,44316.0,44671.0,45179.0,45764.0
E06000002,Middlesbrough UA,60049.100000,60302.200000,60441.300000,61086.400000,61610.500000,62113.600000,62487.700000,62997.800000,63609.900000,64033.0,64633.0,65236.0,65749.0
E06000003,Redcar and Cleveland UA,62208.900000,62286.800000,62537.700000,63026.600000,63267.500000,63807.400000,64252.300000,64771.200000,65162.100000,65542.0,65986.0,66438.0,66920.0
E06000004,Stockton-on-Tees UA,82692.100000,83292.200000,83634.300000,84059.400000,84407.500000,85315.600000,86069.700000,86851.800000,87847.900000,88448.0,88785.0,89389.0,90055.0
E06000005,Darlington UA,48822.100000,48955.200000,49199.300000,49669.400000,49945.500000,50082.600000,50595.700000,51106.800000,51612.900000,52128.0,52638.0,53149.0,53506.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E09000029,Sutton,80364.000000,80672.000000,81053.000000,81561.000000,82033.000000,82767.000000,83545.000000,84201.000000,84855.000000,85249.0,85790.0,86267.0,86628.0
E09000030,Tower Hamlets,108766.316335,110239.503409,111411.690483,112839.877557,115746.064631,121085.251705,123600.438778,125636.625852,130712.812926,134473.0,138676.0,141260.0,142331.0
E09000031,Waltham Forest,99003.000000,99691.000000,100300.000000,101191.000000,102384.000000,103637.000000,104569.000000,105402.000000,106537.000000,108172.0,109153.0,110374.0,111318.0
E09000032,Wandsworth,135567.200000,136490.400000,137655.600000,138705.800000,141410.000000,143712.200000,145925.400000,147804.600000,149085.800000,150467.0,152372.0,154510.0,157230.0
E09000033,Westminster,119431.800000,120210.600000,120927.400000,121863.200000,122958.000000,124486.800000,125816.600000,126806.400000,128103.200000,128912.0,129877.0,131965.0,132895.0

In [5]:
# Filter: Remove NaN and keep only rows where 'Year' matches 'YYYY/YY'
ladataset_filtered = ladataset[
    ladataset['Year'].notna() & ladataset['Year'].str.match(r'^\d{4}/\d{2}$')
]
ladataset_filtered['Year'] = ladataset_filtered['Year'].str[:4].astype(int)

# Pivot
ladataset_pivot = ladataset_filtered.pivot_table(
    index=['ONS code', 'Local authority', 'Measure'],
    columns='Year',
    values='Â£ millions, cash terms',
    aggfunc='sum'
).reset_index()

C:\Users\User\AppData\Local\Temp\ipykernel_22828\63582683.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ladataset_filtered['Year'] = ladataset_filtered['Year'].str[:4].astype(int)

In [6]:
# Group by 'con_code' only
population_summary = (
    population
    .groupby('con_code', as_index=False)
    .agg({'con_name': 'first', 'con_number': 'sum'})
    .rename(columns={'con_name': 'Local authority', 'con_number': 'Total Population'})
)

# Display the result
print(population_summary.head())

    con_code           Local authority  Total Population
0  E14001063                 Aldershot            119256
1  E14001064       Aldridge-Brownhills             93720
2  E14001065  Altrincham and Sale West            101272
3  E14001066              Amber Valley             90793
4  E14001067   Arundel and South Downs             98053

In [7]:
# Filter for Core Spending Power (CSP)
csp = ladataset_pivot.copy()

# Keep only relevant years
csp = csp.set_index(['ONS code', 'Local authority']).drop(columns='Measure')

# Calculate % change from 2015
csp['financial_distress'] = (csp[2024] - csp[2015]) / csp[2015]

fd = csp[['financial_distress']].reset_index()

In [8]:
fd.columns.name = None

In [9]:
housing_stock_processed = housing_stock_df[housing_stock_df['Tenure'] == 'Local authority'][['Authority_code', 'LA_number']]
fd_new = fd.merge(housing_stock_processed, left_on='ONS code', right_on='Authority_code', how='inner')

In [10]:
fd_new

,ONS code,Local authority,financial_distress,Authority_code,LA_number
0,E06000001,Hartlepool,0.428129,E06000001,358
1,E06000002,Middlesbrough,0.446060,E06000002,36
2,E06000003,Redcar and Cleveland,0.402806,E06000003,0
3,E06000004,Stockton-on-Tees,0.438798,E06000004,0
4,E06000005,Darlington,0.464155,E06000005,5256
...,...,...,...,...,...
291,E09000029,Sutton,0.332970,E09000029,6028
292,E09000030,Tower Hamlets,0.361127,E09000030,11591
293,E09000031,Waltham Forest,0.415258,E09000031,9952
294,E09000032,Wandsworth,0.430561,E09000032,17265
295,E09000033,Westminster,0.355025,E09000033,12207

In [11]:
fd_new = fd_new.drop(columns='Authority_code')
fd_new = fd_new.rename(columns={'LA_number': 'LA Housing stock 2024'})

In [28]:
# Step 1: Normalise both variables
fd_new['financial_distress_norm'] = (
    (fd_new['financial_distress'] - fd_new['financial_distress'].min()) /
    (fd_new['financial_distress'].max() - fd_new['financial_distress'].min())
)

fd_new['LA Housing stock 2024_norm'] = (
    (fd_new['LA Housing stock 2024'] - fd_new['LA Housing stock 2024'].min()) /
    (fd_new['LA Housing stock 2024'].max() - fd_new['LA Housing stock 2024'].min())
)

# Step 2: Avoid division by zero and calculate treatment
fd_new['treatment'] = np.where(
    fd_new['LA Housing stock 2024_norm'] != 0,
    fd_new['financial_distress_norm'] / fd_new['LA Housing stock 2024_norm'],
    0
)
fd_new.rename(columns={'Local authority': 'local_authority'}, inplace=True)

In [57]:
fd_new

,ONS code,local_authority,financial_distress,LA Housing stock 2024,financial_distress_norm,LA Housing stock 2024_norm,treatment
0,E06000001,Hartlepool,0.428129,358,0.795629,0.006087,130.707567
1,E06000002,Middlesbrough,0.446060,36,0.825345,0.000612,1348.361066
2,E06000003,Redcar and Cleveland,0.402806,0,0.753664,0.000000,0.000000
3,E06000004,Stockton-on-Tees,0.438798,0,0.813310,0.000000,0.000000
4,E06000005,Darlington,0.464155,5256,0.855332,0.089368,9.570897
...,...,...,...,...,...,...,...
291,E09000029,Sutton,0.332970,6028,0.637931,0.102494,6.224064
292,E09000030,Tower Hamlets,0.361127,11591,0.684594,0.197082,3.473645
293,E09000031,Waltham Forest,0.415258,9952,0.774299,0.169214,4.575849
294,E09000032,Wandsworth,0.430561,17265,0.799660,0.293558,2.724032
295,E09000033,Westminster,0.355025,12207,0.674481,0.207556,3.249631

In [19]:
# Step 2: Filter valid rows
removed = dataset[dataset['removal_fy'].notnull() & dataset['local_authority'].notnull()].copy()
removed['removal_fy'] = removed['removal_fy'].astype(int)

# Step 3: Group by financial year and local authority
removed_by_fy_la = (
    removed
    .groupby(['local_authority', 'removal_fy'])
    .size()
    .unstack(fill_value=0)
    .sort_index(axis=1)
)

# Step 4: Keep only FY 2015â€“2024
fy_years = list(range(2015, 2025))
removed_by_fy_la = removed_by_fy_la[removed_by_fy_la.columns.intersection(fy_years)]

# Step 5: Total and sort
removed_by_fy_la['Total'] = removed_by_fy_la.sum(axis=1)
removed_by_fy_la = removed_by_fy_la.sort_values(by='Total', ascending=False)

# Step 6: Preview top 10
print("Removed Charities per Financial Year per Local Authority (FY 2015â€“2024):")
print(removed_by_fy_la.head(10))

Removed Charities per Financial Year per Local Authority (FY 2015â€“2024):
removal_fy       2015  2016  2017  2018  2019  2020  2021  2022  2023  2024  \
local_authority
Westminster       453   523   358   569   771   361   463   506   494   447
North Yorkshire   381   497   488   558   466   340   462   484   273   521
Birmingham        393   457   427   523   751   278   508   426   286   381
Camden            248   351   317   395   564   198   447   273   445   377
Cornwall          279   355   389   404   365   340   413   320   245   373
Somerset          402   226   453   324   384   309   333   280   329   404
Buckinghamshire   268   323   352   389   462   269   360   292   301   295
Wiltshire         234   302   310   365   431   297   291   338   317   335
Barnet            325   305   315   295   501   212   248   222   300   318
County Durham     397   281   346   292   314   266   295   193   216   179

removal_fy       Total
local_authority
Westminster       4945
North Yorkshire   4470
Birmingham        4430
Camden            3615
Cornwall          3483
Somerset          3444
Buckinghamshire   3311
Wiltshire         3220
Barnet            3041
County Durham     2779

In [20]:
# Step 1: Define year range
years = list(range(2015, 2025))

# Step 2: Calculate percentage change across years
removed_pct_change = removed_by_fy_la[years].pct_change(axis=1) * 100

# Step 3: Round for readability
removed_pct_change = removed_pct_change.round(2)
removed_pct_change

removal_fy,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
local_authority,,,,,,,,,,
Westminster,NaN,15.45,-31.55,58.94,35.50,-53.18,28.25,9.29,-2.37,-9.51
North Yorkshire,NaN,30.45,-1.81,14.34,-16.49,-27.04,35.88,4.76,-43.60,90.84
Birmingham,NaN,16.28,-6.56,22.48,43.59,-62.98,82.73,-16.14,-32.86,33.22
Camden,NaN,41.53,-9.69,24.61,42.78,-64.89,125.76,-38.93,63.00,-15.28
Cornwall,NaN,27.24,9.58,3.86,-9.65,-6.85,21.47,-22.52,-23.44,52.24
...,...,...,...,...,...,...,...,...,...,...
Shetland Islands,NaN,NaN,NaN,NaN,NaN,NaN,inf,-100.00,NaN,NaN
"Newry, Mourne and Down",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf,-100.00
Aberdeenshire,NaN,inf,-100.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
East Ayrshire,NaN,inf,-100.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Armagh City, Banbridge and Craigavon",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf

In [32]:
removed_pct_change

removal_fy,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
local_authority,,,,,,,,,,
Westminster,NaN,15.45,-31.55,58.94,35.50,-53.18,28.25,9.29,-2.37,-9.51
North Yorkshire,NaN,30.45,-1.81,14.34,-16.49,-27.04,35.88,4.76,-43.60,90.84
Birmingham,NaN,16.28,-6.56,22.48,43.59,-62.98,82.73,-16.14,-32.86,33.22
Camden,NaN,41.53,-9.69,24.61,42.78,-64.89,125.76,-38.93,63.00,-15.28
Cornwall,NaN,27.24,9.58,3.86,-9.65,-6.85,21.47,-22.52,-23.44,52.24
...,...,...,...,...,...,...,...,...,...,...
Shetland Islands,NaN,NaN,NaN,NaN,NaN,NaN,inf,-100.00,NaN,NaN
"Newry, Mourne and Down",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf,-100.00
Aberdeenshire,NaN,inf,-100.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
East Ayrshire,NaN,inf,-100.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Armagh City, Banbridge and Craigavon",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf

In [40]:
removed_long = (
    removed_pct_change
    .reset_index()
    .melt(id_vars='local_authority', var_name='Year', value_name='removed_rate')
)
removed_long['Year'] = removed_long['Year'].astype(int)

In [41]:
removed_long

                           local_authority  Year  removed_rate
0                              Westminster  2015           NaN
1                          North Yorkshire  2015           NaN
2                               Birmingham  2015           NaN
3                                   Camden  2015           NaN
4                                 Cornwall  2015           NaN
...                                    ...   ...           ...
3495                      Shetland Islands  2024           NaN
3496                Newry, Mourne and Down  2024        -100.0
3497                         Aberdeenshire  2024           NaN
3498                         East Ayrshire  2024           NaN
3499  Armagh City, Banbridge and Craigavon  2024           inf

[3500 rows x 3 columns]

In [42]:
# Add treatment, post, and controls
panel_df = removed_long.merge(fd_new, on='local_authority', how='left')
panel_df['post'] = (panel_df['Year'] >= 2021).astype(int)
panel_df['treatment_post'] = panel_df['treatment'] * panel_df['post']

In [44]:
panel_df

,local_authority,Year,removed_rate,ONS code,financial_distress,LA Housing stock 2024,financial_distress_norm,LA Housing stock 2024_norm,treatment,post,treatment_post
0,Westminster,2015,NaN,E09000033,0.355025,12207.0,0.674481,0.207556,3.249631,0,0.0
1,North Yorkshire,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,Birmingham,2015,NaN,E08000025,0.466262,58813.0,0.858823,1.000000,0.858823,0,0.0
3,Camden,2015,NaN,E09000007,0.333732,22808.0,0.639194,0.387805,1.648234,0,0.0
4,Cornwall,2015,NaN,E06000052,0.490814,10381.0,0.899511,0.176509,5.096133,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
3495,Shetland Islands,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
3496,"Newry, Mourne and Down",2024,-100.0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
3497,Aberdeenshire,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
3498,East Ayrshire,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
3499,"Armagh City, Banbridge and Craigavon",2024,inf,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

In [46]:
panel_df = panel_df[np.isfinite(panel_df['removed_rate'])]
panel_df['removed_rate'].dropna(inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_22828\3184187306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  panel_df['removed_rate'].dropna(inplace=True)

In [48]:
panel_df.drop(columns=['ONS code'], inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_22828\2898728315.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  panel_df.drop(columns=['ONS code'], inplace=True)

In [58]:
import statsmodels.formula.api as smf

model = smf.ols('removed_rate ~ post + treatment + C(local_authority)+ treatment:post', data=panel_df).fit()
summary = model.summary()
print(summary.tables[0])  # Overview: RÂ², F-stat, etc.
print(summary.tables[1].as_text())  # Full coefficient table

                            OLS Regression Results
==============================================================================
Dep. Variable:           removed_rate   R-squared:                       0.095
Model:                            OLS   Adj. R-squared:                 -0.019
Method:                 Least Squares   F-statistic:                    0.8307
Date:                Sun, 29 Jun 2025   Prob (F-statistic):              0.977
Time:                        20:01:37   Log-Likelihood:                -15546.
No. Observations:                2516   AIC:                         3.166e+04
Df Residuals:                    2233   BIC:                         3.331e+04
Df Model:                         282
Covariance Type:            nonrobust
==============================================================================
=============================================================================================================================
                                                                coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------------------
Intercept                                                    13.0136      3.406      3.820      0.000       6.333      19.694
C(local_authority)[T.Aberdeenshire]                       -3.116e-09   1.29e-09     -2.415      0.016   -5.65e-09   -5.85e-10
C(local_authority)[T.Adur]                                   48.5759     41.224      1.178      0.239     -32.265     129.417
C(local_authority)[T.Amber Valley]                           10.7680     41.227      0.261      0.794     -70.079      91.615
C(local_authority)[T.Angus]                               -2.011e-10   9.84e-11     -2.043      0.041   -3.94e-10   -8.07e-12
C(local_authority)[T.Argyll and Bute]                      1.053e-09    4.5e-10      2.342      0.019    1.71e-10    1.94e-09
C(local_authority)[T.Arun]                                  -15.0476     41.224     -0.365      0.715     -95.889      65.794
C(local_authority)[T.Ashfield]                               56.7378     43.716      1.298      0.194     -28.991     142.466
C(local_authority)[T.Ashford]                                18.3486     41.224      0.445      0.656     -62.493      99.190
C(local_authority)[T.Babergh]                                -2.2412     41.224     -0.054      0.957     -83.082      78.600
C(local_authority)[T.Barking and Dagenham]                  -18.2638     41.224     -0.443      0.658     -99.105      62.577
C(local_authority)[T.Barnet]                                -16.4881     41.224     -0.400      0.689     -97.329      64.353
C(local_authority)[T.Barnsley]                               11.4401     41.224      0.278      0.781     -69.401      92.281
C(local_authority)[T.Basildon]                               -0.4549     41.224     -0.011      0.991     -81.296      80.386
C(local_authority)[T.Basingstoke and Deane]                  -8.5068     41.224     -0.206      0.837     -89.348      72.334
C(local_authority)[T.Bassetlaw]                              17.2090     41.224      0.417      0.676     -63.632      98.050
C(local_authority)[T.Bath and North East Somerset]          -19.0979     41.228     -0.463      0.643     -99.947      61.752
C(local_authority)[T.Bedford]                               -15.8576     41.226     -0.385      0.701     -96.703      64.988
C(local_authority)[T.Belfast]                              2.023e-10   4.63e-10      0.437      0.662   -7.05e-10    1.11e-09
C(local_authority)[T.Bexley]                                101.4779     41.225      2.462      0.014      20.634     182.321
C(local_authority)[T.Birmingham]                            -13.2359     41.224     -0.321      0.748     -94.077      67.605
C(local_authority)[T.Blaby]                                   3.1511     41.227      0.076      0.939     -77.696      83.998
C(local_authority)[T.Blackburn with Darwen]                  50.1832     41.224      1.217      0.224     -30.658     131.024
C(local_authority)[T.Blackpool]                              10.4902     41.224      0.254      0.799     -70.351      91.331
C(local_authority)[T.Blaenau Gwent]                       -3.092e-10   2.34e-10     -1.321      0.187   -7.68e-10     1.5e-10
C(local_authority)[T.Bolsover]                              -54.4425     43.716     -1.245      0.213    -140.171      31.286
C(local_authority)[T.Bolton]                                 -3.0812     41.224     -0.075      0.940     -83.922      77.760
C(local_authority)[T.Boston]                                 50.5832     41.224      1.227      0.220     -30.258     131.424
C(local_authority)[T.Bournemouth, Christchurch and Poole] -6.601e-10    4.5e-10     -1.468      0.142   -1.54e-09    2.22e-10
C(local_authority)[T.Bracknell Forest]                       35.7612     41.226      0.867      0.386     -45.083     116.606
C(local_authority)[T.Bradford]                               -9.4615     41.225     -0.230      0.818     -90.304      71.381
C(local_authority)[T.Braintree]                              -6.3478     41.224     -0.154      0.878     -87.189      74.494
C(local_authority)[T.Breckland]                              -2.2739     41.226     -0.055      0.956     -83.120      78.572
C(local_authority)[T.Brent]                                  -2.3702     41.224     -0.057      0.954     -83.211      78.471
C(local_authority)[T.Brentwood]                              -5.3044     41.224     -0.129      0.898     -86.146      75.537
C(local_authority)[T.Bridgend]                              8.91e-14   6.08e-14      1.467      0.143      -3e-14    2.08e-13
C(local_authority)[T.Brighton and Hove]                      -0.7813     41.224     -0.019      0.985     -81.622      80.060
C(local_authority)[T.Bristol, City of]                     6.504e-14   4.17e-14      1.561      0.119   -1.67e-14    1.47e-13
C(local_authority)[T.Broadland]                              18.8904     41.228      0.458      0.647     -61.958      99.739
C(local_authority)[T.Bromley]                               -15.7284     41.228     -0.381      0.703     -96.578      65.121
C(local_authority)[T.Bromsgrove]                             32.9865     41.224      0.800      0.424     -47.855     113.828
C(local_authority)[T.Broxbourne]                            131.2321     41.224      3.183      0.001      50.391     212.073
C(local_authority)[T.Broxtowe]                               13.5025     41.224      0.328      0.743     -67.339      94.344
C(local_authority)[T.Buckinghamshire]                     -7.561e-15   4.01e-14     -0.189      0.850   -8.61e-14     7.1e-14
C(local_authority)[T.Burnley]                                20.5319     41.226      0.498      0.619     -60.313     101.377
C(local_authority)[T.Bury]                                   63.3007     41.224      1.536      0.125     -17.540     144.142
C(local_authority)[T.Caerphilly]                          -9.069e-14    7.3e-14     -1.242      0.214   -2.34e-13    5.25e-14
C(local_authority)[T.Calderdale]                             -7.2879     41.224     -0.177      0.860     -88.129      73.553
C(local_authority)[T.Cambridge]                             -16.1732     41.224     -0.392      0.695     -97.014      64.668
C(local_authority)[T.Camden]                                 -3.3347     41.224     -0.081      0.936     -84.176      77.506
C(local_authority)[T.Cannock Chase]                          49.5325     41.224      1.202      0.230     -31.309     130.374
C(local_authority)[T.Canterbury]                             -2.3102     41.224     -0.056      0.955     -83.151      78.531
C(local_authority)[T.Cardiff]                             -2.933e-14   6.03e-14     -0.487      0.627   -1.48e-13    8.89e-14
C(local_authority)[T.Carmarthenshire]                      2.471e-11   1.14e-10      0.218      0.828   -1.98e-10    2.47e-10
C(local_authority)[T.Castle Point]                          -25.6592     41.224     -0.622      0.534    -106.500      55.182
C(local_authority)[T.Causeway Coast and Glens]              4.51e-12   2.05e-11      0.220      0.826   -3.57e-11    4.47e-11
C(local_authority)[T.Central Bedfordshire]                  -12.2613     41.224     -0.297      0.766     -93.102      68.580
C(local_authority)[T.Ceredigion]                           1.895e-14   3.74e-14      0.507      0.612   -5.44e-14    9.23e-14
C(local_authority)[T.Channel Islands]                     -5.608e-14   4.05e-14     -1.383      0.167   -1.36e-13    2.34e-14
C(local_authority)[T.Charnwood]                              -8.4329     41.224     -0.205      0.838     -89.274      72.408
C(local_authority)[T.Chelmsford]                              2.3646     41.226      0.057      0.954     -78.480      83.209
C(local_authority)[T.Cheltenham]                             -9.7388     41.224     -0.236      0.813     -90.580      71.102
C(local_authority)[T.Cherwell]                                0.7200     41.225      0.017      0.986     -80.123      81.563
C(local_authority)[T.Cheshire East]                         -17.5929     41.225     -0.427      0.670     -98.437      63.251
C(local_authority)[T.Cheshire West and Chester]              -2.3419     41.224     -0.057      0.955     -83.183      78.499
C(local_authority)[T.Chesterfield]                           40.9169     41.224      0.993      0.321     -39.924     121.758
C(local_authority)[T.Chichester]                             -3.0486     41.227     -0.074      0.941     -83.895      77.798
C(local_authority)[T.Chorley]                                -5.9693     41.224     -0.145      0.885     -86.810      74.872
C(local_authority)[T.City of Edinburgh]                     5.58e-11   3.08e-10      0.181      0.856   -5.49e-10     6.6e-10
C(local_authority)[T.City of London]                        -17.4362     41.224     -0.423      0.672     -98.278      63.406
C(local_authority)[T.Colchester]                            -23.0125     41.224     -0.558      0.577    -103.854      57.829
C(local_authority)[T.Conwy]                                1.574e-14   3.87e-14      0.407      0.684   -6.01e-14    9.15e-14
C(local_authority)[T.Cornwall]                              -16.3399     41.224     -0.396      0.692     -97.181      64.501
C(local_authority)[T.Cotswold]                               -0.4101     41.224     -0.010      0.992     -81.251      80.431
C(local_authority)[T.County Durham]                        1.334e-14   4.01e-14      0.332      0.740   -6.54e-14     9.2e-14
C(local_authority)[T.Coventry]                               14.4638     41.226      0.351      0.726     -66.381      95.309
C(local_authority)[T.Crawley]                                -2.2629     43.717     -0.052      0.959     -87.992      83.467
C(local_authority)[T.Croydon]                               -25.7993     41.224     -0.626      0.531    -106.640      55.042
C(local_authority)[T.Cumberland]                          -1.586e-11   1.61e-11     -0.983      0.326   -4.75e-11    1.58e-11
C(local_authority)[T.Dacorum]                                 7.0178     41.224      0.170      0.865     -73.823      87.859
C(local_authority)[T.Darlington]                             95.4521     41.224      2.315      0.021      14.611     176.293
C(local_authority)[T.Dartford]                              -24.3838     43.717     -0.558      0.577    -110.113      61.346
C(local_authority)[T.Denbighshire]                          2.43e-11    3.8e-10      0.064      0.949   -7.22e-10     7.7e-10
C(local_authority)[T.Derby]                                 -16.8479     41.224     -0.409      0.683     -97.689      63.993
C(local_authority)[T.Derbyshire Dales]                        9.7151     41.227      0.236      0.814     -71.133      90.563
C(local_authority)[T.Doncaster]                               1.6660     41.224      0.040      0.968     -79.175      82.507
C(local_authority)[T.Dorset]                               4.601e-14   5.95e-14      0.773      0.440   -7.08e-14    1.63e-13
C(local_authority)[T.Dover]                                  13.9961     41.224      0.340      0.734     -66.845      94.837
C(local_authority)[T.Dudley]                                -14.6680     41.224     -0.356      0.722     -95.509      66.173
C(local_authority)[T.Dumfries and Galloway]                 4.06e-14   4.68e-14      0.867      0.386   -5.13e-14    1.32e-13
C(local_authority)[T.Dundee City]                          5.357e-11   1.39e-10      0.386      0.699   -2.18e-10    3.25e-10
C(local_authority)[T.Ealing]                                -12.0114     41.224     -0.291      0.771     -92.853      68.830
C(local_authority)[T.East Ayrshire]                       -6.481e-11   1.66e-10     -0.390      0.697   -3.91e-10    2.61e-10
C(local_authority)[T.East Cambridgeshire]                    16.1321     41.224      0.391      0.696     -64.709      96.973
C(local_authority)[T.East Devon]                            -20.0704     41.224     -0.487      0.626    -100.912      60.771
C(local_authority)[T.East Dunbartonshire]                 -1.204e-10   3.09e-10     -0.389      0.697   -7.27e-10    4.86e-10
C(local_authority)[T.East Hampshire]                        -11.5757     41.224     -0.281      0.779     -92.417      69.265
C(local_authority)[T.East Hertfordshire]                    -13.0372     41.227     -0.316      0.752     -93.885      67.810
C(local_authority)[T.East Lindsey]                          -24.2564     41.228     -0.588      0.556    -105.105      56.592
C(local_authority)[T.East Lothian]                        -2.414e-12   1.06e-11     -0.227      0.821   -2.33e-11    1.85e-11
C(local_authority)[T.East Riding of Yorkshire]               -8.3054     41.224     -0.201      0.840     -89.147      72.536
C(local_authority)[T.East Staffordshire]                     -3.3123     41.224     -0.080      0.936     -84.153      77.529
C(local_authority)[T.East Suffolk]                        -3.081e-11   1.37e-10     -0.225      0.822   -2.99e-10    2.38e-10
C(local_authority)[T.Eastbourne]                              3.3923     41.224      0.082      0.934     -77.449      84.233
C(local_authority)[T.Eastleigh]                               6.9044     41.227      0.167      0.867     -73.942      87.751
C(local_authority)[T.Elmbridge]                             -22.2211     41.225     -0.539      0.590    -103.065      58.623
C(local_authority)[T.Enfield]                                -8.1697     41.224     -0.198      0.843     -89.011      72.671
C(local_authority)[T.Epping Forest]                         -11.3705     41.224     -0.276      0.783     -92.212      69.471
C(local_authority)[T.Epsom and Ewell]                       -12.2403     41.226     -0.297      0.767     -93.085      68.604
C(local_authority)[T.Erewash]                                -5.0046     41.224     -0.121      0.903     -85.846      75.837
C(local_authority)[T.Exeter]                                 -3.9157     41.224     -0.095      0.924     -84.757      76.925
C(local_authority)[T.Fareham]                                -5.4713     41.224     -0.133      0.894     -86.312      75.370
C(local_authority)[T.Fenland]                                -9.7853     43.717     -0.224      0.823     -95.516      75.945
C(local_authority)[T.Fermanagh and Omagh]                  6.342e-11   3.83e-10      0.166      0.868   -6.87e-10    8.14e-10
C(local_authority)[T.Fife]                                -4.858e-14   4.82e-14     -1.009      0.313   -1.43e-13    4.59e-14
C(local_authority)[T.Flintshire]                          -3.481e-14   5.17e-14     -0.673      0.501   -1.36e-13    6.67e-14
C(local_authority)[T.Folkestone and Hythe]                  143.1930     41.224      3.474      0.001      62.352     224.034
C(local_authority)[T.Forest of Dean]                          1.9847     41.200      0.048      0.962     -78.810      82.779
C(local_authority)[T.Fylde]                                  20.9077     41.224      0.507      0.612     -59.933     101.749
C(local_authority)[T.Gateshead]                             -20.8485     41.224     -0.506      0.613    -101.690      59.993
C(local_authority)[T.Gedling]                                -1.9003     41.224     -0.046      0.963     -82.742      78.941
C(local_authority)[T.Glasgow City]                         7.343e-14   5.49e-14      1.338      0.181   -3.42e-14    1.81e-13
C(local_authority)[T.Gloucester]                            -14.4846     41.224     -0.351      0.725     -95.326      66.357
C(local_authority)[T.Gosport]                                30.8944     41.224      0.749      0.454     -49.947     111.735
C(local_authority)[T.Gravesham]                              43.0220     41.224      1.044      0.297     -37.819     123.863
C(local_authority)[T.Great Yarmouth]                         -9.4572     41.224     -0.229      0.819     -90.298      71.384
C(local_authority)[T.Greenwich]                               7.0857     41.224      0.172      0.864     -73.755      87.927
C(local_authority)[T.Guildford]                             -22.7150     41.224     -0.551      0.582    -103.556      58.126
C(local_authority)[T.Gwynedd]                               1.03e-10   3.78e-10      0.273      0.785   -6.38e-10    8.44e-10
C(local_authority)[T.Hackney]                               -17.4205     41.224     -0.423      0.673     -98.262      63.421
C(local_authority)[T.Halton]                                  1.4010     41.224      0.034      0.973     -79.440      82.242
C(local_authority)[T.Hammersmith and Fulham]                -13.7011     41.224     -0.332      0.740     -94.542      67.140
C(local_authority)[T.Harborough]                             -9.1248     41.201     -0.221      0.825     -89.921      71.671
C(local_authority)[T.Haringey]                               -4.0738     41.224     -0.099      0.921     -84.915      76.767
C(local_authority)[T.Harlow]                                 37.4869     41.224      0.909      0.363     -43.354     118.328
C(local_authority)[T.Harrow]                                 16.2089     41.224      0.393      0.694     -64.632      97.050
C(local_authority)[T.Hart]                                  -29.8530     41.228     -0.724      0.469    -110.701      50.995
C(local_authority)[T.Hartlepool]                             45.5223     41.225      1.104      0.270     -35.320     126.365
C(local_authority)[T.Hastings]                               -4.2831     41.225     -0.104      0.917     -85.126      76.560
C(local_authority)[T.Havant]                                 -1.2907     41.224     -0.031      0.975     -82.132      79.550
C(local_authority)[T.Havering]                               -8.6860     41.224     -0.211      0.833     -89.527      72.155
C(local_authority)[T.Herefordshire, County of]             3.336e-10   3.81e-10      0.875      0.382   -4.14e-10    1.08e-09
C(local_authority)[T.Hertsmere]                               0.3100     41.224      0.008      0.994     -80.532      81.152
C(local_authority)[T.High Peak]                               1.5855     41.224      0.038      0.969     -79.256      82.427
C(local_authority)[T.Highland]                            -8.011e-14   4.64e-14     -1.728      0.084   -1.71e-13    1.08e-14
C(local_authority)[T.Hillingdon]                             -2.1912     41.224     -0.053      0.958     -83.032      78.650
C(local_authority)[T.Hinckley and Bosworth]                  25.1014     41.224      0.609      0.543     -55.740     105.942
C(local_authority)[T.Horsham]                               -20.7457     41.226     -0.503      0.615    -101.591      60.100
C(local_authority)[T.Hounslow]                                5.2077     41.224      0.126      0.899     -75.633      86.049

In [55]:
panel_df

,local_authority,Year,removed_rate,financial_distress,LA Housing stock 2024,financial_distress_norm,LA Housing stock 2024_norm,treatment,post,treatment_post
350,Westminster,2016,15.45,0.355025,12207.0,0.674481,0.207556,3.249631,0,0.000000
351,North Yorkshire,2016,30.45,NaN,NaN,NaN,NaN,NaN,0,NaN
352,Birmingham,2016,16.28,0.466262,58813.0,0.858823,1.000000,0.858823,0,0.000000
353,Camden,2016,41.53,0.333732,22808.0,0.639194,0.387805,1.648234,0,0.000000
354,Cornwall,2016,27.24,0.490814,10381.0,0.899511,0.176509,5.096133,0,0.000000
...,...,...,...,...,...,...,...,...,...,...
3472,Fife,2024,-100.00,NaN,NaN,NaN,NaN,NaN,1,NaN
3473,Highland,2024,-50.00,NaN,NaN,NaN,NaN,NaN,1,NaN
3478,Dumfries and Galloway,2024,-100.00,NaN,NaN,NaN,NaN,NaN,1,NaN
3485,Isles of Scilly,2024,-100.00,0.438637,115.0,0.813043,0.001955,415.804279,1,415.804279
3496,"Newry, Mourne and Down",2024,-100.00,NaN,NaN,NaN,NaN,NaN,1,NaN