In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

In [2]:
dataset = pd.read_csv(r'../../data/processed/charity_main_cleaned.csv')
ladataset = pd.read_excel(r'../../data/raw/Local_government_finance_data_download.xlsx',sheet_name='Spending power totals')
housing_net_supply_df = pd.read_excel('../../data/raw/Local-authority-housing-supply.xlsx', sheet_name='Net supply')
housing_stock_df = pd.read_excel('../../data/raw/Local-authority-housing-supply.xlsx', sheet_name='Housing stock')
population = pd.read_excel('../../data/raw/population_by_age.xlsx', sheet_name='Age bands')

C:\Users\User\AppData\Local\Temp\ipykernel_31708\925063635.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(r'../../data/processed/charity_main_cleaned.csv')

In [3]:
# Define function to get financial year
def get_financial_year(date):
    if pd.isna(date):
        return np.nan
    return date.year if date.month >= 4 else date.year - 1

# --- ensure dates are in datetime ---
dataset['date_of_registration'] = pd.to_datetime(dataset['date_of_registration'], errors='coerce')
dataset['date_of_removal'] = pd.to_datetime(dataset['date_of_removal'], errors='coerce')

dataset['registration_year'] = dataset['date_of_registration'].dt.to_period('Y')
dataset['removal_year'] = dataset['date_of_removal'].dt.to_period('Y')

dataset['registration_month'] = dataset['date_of_registration'].dt.to_period('M')
dataset['removal_month'] = dataset['date_of_removal'].dt.to_period('M')

dataset['registration_fy'] = dataset['date_of_registration'].apply(get_financial_year)
dataset['removal_fy'] = dataset['date_of_removal'].apply(get_financial_year)

In [4]:
# Step 1: Drop rows with missing classification
classification_df = dataset[['registered_charity_number', 'classification_description']].dropna()

# Step 2: Create binary indicator (1) for each classification
classification_df['value'] = 1

# Step 3: Pivot to wide format with binary columns
classification_dummies = classification_df.pivot_table(
    index='registered_charity_number',
    columns='classification_description',
    values='value',
    aggfunc='max',
    fill_value=0
)

# Step 4: Optional – rename columns for consistency (e.g., no spaces or special chars)
classification_dummies.columns = [
    f"classification_{str(col).replace(' ', '_').replace('-', '_').lower()}"
    for col in classification_dummies.columns
]

# Step 5: Reset index and merge with original dataset
classification_dummies = classification_dummies.reset_index()
dataset = dataset.drop_duplicates(subset='registered_charity_number')  # ensure one row per charity
dataset = dataset.merge(classification_dummies, on='registered_charity_number', how='left')

# Identify classification dummy columns (typically start with 'classification_')
category_cols = [col for col in dataset.columns if col.startswith('classification_')]

# Fill NaNs with 0 in those columns only
dataset[category_cols] = dataset[category_cols].fillna(0)

In [5]:
# Step 1: Calculate total 2024 housing stock per council (Local authority only)
stock_2024 = (
    housing_stock_df
    .groupby(['Authority_code', 'Authority_name'], as_index=False)['LA_number']
    .sum()
    .rename(columns={'LA_number': 'Stock_2024'})
)

# Step 2: Prepare Net Supply Data
net = housing_net_supply_df.copy()
net = net[net['Year'].astype(str).str.match(r'^\d{4}/\d{2}$')]  # Keep only year-formatted rows
net['Year'] = net['Year'].str[:4].astype(int)  # Convert '2015/16' → 2015

# Pivot to Local Authority x Year format
net_pivot = net.pivot(index='LA_code', columns='Year', values='Net_additions').fillna(0)
net_pivot = net_pivot[sorted(net_pivot.columns, reverse=True)]  # descending order

# Step 3: Merge with 2024 stock
stock = stock_2024.set_index('Authority_code')
net_pivot = net_pivot.reindex(stock.index)  # align index

# Step 4: Calculate total stock backwards from 2024
stock_by_year = pd.DataFrame(index=net_pivot.index)
stock_by_year[2024] = stock['Stock_2024']

for year in sorted(net_pivot.columns, reverse=True):
    if year < 2024:
        stock_by_year[year] = stock_by_year[year + 1] - net_pivot[year]

# Step 5: Merge back Authority name and reshape
stock_by_year = stock_by_year.merge(stock[['Authority_name']], left_index=True, right_index=True)
stock_by_year_reset = stock_by_year.reset_index().melt(id_vars=['Authority_code', 'Authority_name'], 
                                                       var_name='Year', value_name='Housing stock')

# Final pivot
stock_by_year_pivot = stock_by_year_reset.pivot(index=['Authority_code', 'Authority_name'], 
                                                 columns='Year', values='Housing stock').sort_index(axis=1)

# Reset index, rename, and set it again
stock_by_year_pivot = stock_by_year_pivot.reset_index().rename(columns={'Authority_code': 'ONS code'})
stock_by_year_pivot = stock_by_year_pivot.set_index(['ONS code', 'Authority_name'])

In [7]:
# Filter: Remove NaN and keep only rows where 'Year' matches 'YYYY/YY'
ladataset_filtered = ladataset[
    ladataset['Year'].notna() & ladataset['Year'].str.match(r'^\d{4}/\d{2}$')
]
ladataset_filtered['Year'] = ladataset_filtered['Year'].str[:4].astype(int)

# Pivot
ladataset_pivot = ladataset_filtered.pivot_table(
    index=['ONS code', 'Local authority', 'Measure'],
    columns='Year',
    values='£ millions, cash terms',
    aggfunc='sum'
).reset_index()

# Group by 'con_code' only
population_summary = (
    population
    .groupby('con_code', as_index=False)
    .agg({'con_name': 'first', 'con_number': 'sum'})
    .rename(columns={'con_name': 'Local authority', 'con_number': 'Total Population'})
)

# Display the result
print(population_summary.head())

    con_code           Local authority  Total Population
0  E14001063                 Aldershot            119256
1  E14001064       Aldridge-Brownhills             93720
2  E14001065  Altrincham and Sale West            101272
3  E14001066              Amber Valley             90793
4  E14001067   Arundel and South Downs             98053

C:\Users\User\AppData\Local\Temp\ipykernel_31708\3580503092.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ladataset_filtered['Year'] = ladataset_filtered['Year'].str[:4].astype(int)

In [8]:
# Filter for Core Spending Power (CSP)
csp = ladataset_pivot.copy()

# Keep only relevant years
csp = csp.set_index(['ONS code', 'Local authority']).drop(columns='Measure')

# Calculate % change from 2015
csp['financial_distress'] = (csp[2024] - csp[2015]) / csp[2015]

fd = csp[['financial_distress']].reset_index()

fd.columns.name = None
housing_stock_processed = housing_stock_df[housing_stock_df['Tenure'] == 'Local authority'][['Authority_code', 'LA_number']]
fd_new = fd.merge(housing_stock_processed, left_on='ONS code', right_on='Authority_code', how='inner')
fd_new = fd_new.drop(columns='Authority_code')
fd_new = fd_new.rename(columns={'LA_number': 'LA Housing stock 2024'})

In [9]:
# Step 1: Normalise both variables
fd_new['financial_distress_norm'] = (
    (fd_new['financial_distress'] - fd_new['financial_distress'].min()) /
    (fd_new['financial_distress'].max() - fd_new['financial_distress'].min())
)

fd_new['LA Housing stock 2024_norm'] = (
    (fd_new['LA Housing stock 2024'] - fd_new['LA Housing stock 2024'].min()) /
    (fd_new['LA Housing stock 2024'].max() - fd_new['LA Housing stock 2024'].min())
)

# Step 2: Avoid division by zero and calculate treatment
fd_new['treatment'] = np.where(
    fd_new['LA Housing stock 2024_norm'] != 0,
    fd_new['financial_distress_norm'] / fd_new['LA Housing stock 2024_norm'],
    0
)
fd_new.rename(columns={'Local authority': 'local_authority'}, inplace=True)

In [10]:
# Step 2: Filter valid rows
removed = dataset[dataset['removal_fy'].notnull() & dataset['local_authority'].notnull()].copy()
removed['removal_fy'] = removed['removal_fy'].astype(int)

# Step 3: Group by financial year and local authority
removed_by_fy_la = (
    removed
    .groupby(['local_authority', 'removal_fy'])
    .size()
    .unstack(fill_value=0)
    .sort_index(axis=1)
)

# Step 4: Keep only FY 2015–2024
fy_years = list(range(2015, 2025))
removed_by_fy_la = removed_by_fy_la[removed_by_fy_la.columns.intersection(fy_years)]

# Step 5: Total and sort
removed_by_fy_la['Total'] = removed_by_fy_la.sum(axis=1)
removed_by_fy_la = removed_by_fy_la.sort_values(by='Total', ascending=False)

# Step 6: Preview top 10
print("Removed Charities per Financial Year per Local Authority (FY 2015–2024):")
print(removed_by_fy_la.head(10))

Removed Charities per Financial Year per Local Authority (FY 2015–2024):
removal_fy       2015  2016  2017  2018  2019  2020  2021  2022  2023  2024  \
local_authority
North Yorkshire    66    88    79    94    89    54    87    81    51    81
Westminster        63    80    64    92   111    54    63    70    68    64
Somerset           70    41    74    59    71    57    65    46    52    59
Birmingham         52    56    57    72    89    38    67    60    43    55
Cornwall           47    57    58    63    62    48    69    57    37    55
Buckinghamshire    41    58    57    63    69    42    60    46    47    51
Wiltshire          40    57    50    62    68    54    49    54    47    48
Camden             38    53    49    51    76    35    61    42    62    56
Barnet             47    39    53    44    76    32    37    32    42    42
Dorset             49    50    41    45    43    25    58    45    43    41

removal_fy       Total
local_authority
North Yorkshire    770
Westminster        729
Somerset           594
Birmingham         589
Cornwall           553
Buckinghamshire    534
Wiltshire          529
Camden             523
Barnet             444
Dorset             440

In [11]:
# Step 1: Define year range
years = list(range(2015, 2025))

# Step 2: Calculate percentage change across years
removed_pct_change = removed_by_fy_la[years].pct_change(axis=1) * 100

# Step 3: Round for readability
removed_pct_change = removed_pct_change.round(2)
removed_pct_change

removal_fy,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
local_authority,,,,,,,,,,
North Yorkshire,NaN,33.33,-10.23,18.99,-5.32,-39.33,61.11,-6.90,-37.04,58.82
Westminster,NaN,26.98,-20.00,43.75,20.65,-51.35,16.67,11.11,-2.86,-5.88
Somerset,NaN,-41.43,80.49,-20.27,20.34,-19.72,14.04,-29.23,13.04,13.46
Birmingham,NaN,7.69,1.79,26.32,23.61,-57.30,76.32,-10.45,-28.33,27.91
Cornwall,NaN,21.28,1.75,8.62,-1.59,-22.58,43.75,-17.39,-35.09,48.65
...,...,...,...,...,...,...,...,...,...,...
Orkney Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
South Lanarkshire,NaN,-100.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Armagh City, Banbridge and Craigavon",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
Aberdeenshire,NaN,inf,-100.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angus,NaN,-100.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
removed_long = (
    removed_pct_change
    .reset_index()
    .melt(id_vars='local_authority', var_name='Year', value_name='removed_rate')
)
removed_long['Year'] = removed_long['Year'].astype(int)

# Add treatment, post, and controls
panel_df = removed_long.merge(fd_new, on='local_authority', how='left')
panel_df['post'] = (panel_df['Year'] >= 2021).astype(int)
panel_df['treatment_post'] = panel_df['treatment'] * panel_df['post']

panel_df = panel_df[np.isfinite(panel_df['removed_rate'])]
panel_df['removed_rate'].dropna(inplace=True)
panel_df.drop(columns=['ONS code'], inplace=True)

In [14]:
panel_df

,local_authority,Year,removed_rate,financial_distress,LA Housing stock 2024,financial_distress_norm,LA Housing stock 2024_norm,treatment,post,treatment_post
350,North Yorkshire,2016,33.33,NaN,NaN,NaN,NaN,NaN,0,NaN
351,Westminster,2016,26.98,0.355025,12207.0,0.674481,0.207556,3.249631,0,0.000000
352,Somerset,2016,-41.43,NaN,NaN,NaN,NaN,NaN,0,NaN
353,Birmingham,2016,7.69,0.466262,58813.0,0.858823,1.000000,0.858823,0,0.000000
354,Cornwall,2016,21.28,0.490814,10381.0,0.899511,0.176509,5.096133,0,0.000000
...,...,...,...,...,...,...,...,...,...,...
3473,Fife,2024,-100.00,NaN,NaN,NaN,NaN,NaN,1,NaN
3474,Highland,2024,0.00,NaN,NaN,NaN,NaN,NaN,1,NaN
3476,Dumfries and Galloway,2024,-100.00,NaN,NaN,NaN,NaN,NaN,1,NaN
3481,Isles of Scilly,2024,-100.00,0.438637,115.0,0.813043,0.001955,415.804279,1,415.804279
3490,"Newry, Mourne and Down",2024,-100.00,NaN,NaN,NaN,NaN,NaN,1,NaN

In [13]:
model = smf.ols('removed_rate ~ post + treatment + C(local_authority)+ treatment:post', data=panel_df).fit()
summary = model.summary()
print(summary.tables[0])  # Overview: R², F-stat, etc.
print(summary.tables[1].as_text())  # Full coefficient table

                            OLS Regression Results
==============================================================================
Dep. Variable:           removed_rate   R-squared:                       0.072
Model:                            OLS   Adj. R-squared:                 -0.045
Method:                 Least Squares   F-statistic:                    0.6172
Date:                Wed, 02 Jul 2025   Prob (F-statistic):               1.00
Time:                        11:08:28   Log-Likelihood:                -14842.
No. Observations:                2516   AIC:                         3.025e+04
Df Residuals:                    2233   BIC:                         3.190e+04
Df Model:                         282
Covariance Type:            nonrobust
==============================================================================
=============================================================================================================================
                                                                coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------------------
Intercept                                                    10.7108      2.575      4.160      0.000       5.662      15.760
C(local_authority)[T.Aberdeenshire]                         1.53e-09   5.68e-10      2.691      0.007    4.15e-10    2.64e-09
C(local_authority)[T.Adur]                                   -2.1187     31.159     -0.068      0.946     -63.222      58.984
C(local_authority)[T.Amber Valley]                            1.2268     31.161      0.039      0.969     -59.880      62.334
C(local_authority)[T.Angus]                                1.174e-12   1.11e-10      0.011      0.992   -2.16e-10    2.18e-10
C(local_authority)[T.Argyll and Bute]                     -2.175e-11    5.5e-11     -0.396      0.692    -1.3e-10     8.6e-11
C(local_authority)[T.Arun]                                  -16.3519     31.159     -0.525      0.600     -77.455      44.751
C(local_authority)[T.Ashfield]                               28.3934     33.042      0.859      0.390     -36.404      93.191
C(local_authority)[T.Ashford]                                -0.0432     31.159     -0.001      0.999     -61.146      61.060
C(local_authority)[T.Babergh]                                -5.3767     31.159     -0.173      0.863     -66.480      55.726
C(local_authority)[T.Barking and Dagenham]                  -12.9888     31.159     -0.417      0.677     -74.092      48.114
C(local_authority)[T.Barnet]                                -13.4017     31.159     -0.430      0.667     -74.505      47.701
C(local_authority)[T.Barnsley]                               -9.7116     31.159     -0.312      0.755     -70.815      51.391
C(local_authority)[T.Basildon]                               -1.2587     31.159     -0.040      0.968     -62.362      59.844
C(local_authority)[T.Basingstoke and Deane]                  -0.5215     31.159     -0.017      0.987     -61.624      60.581
C(local_authority)[T.Bassetlaw]                               8.9428     31.159      0.287      0.774     -52.160      70.046
C(local_authority)[T.Bath and North East Somerset]          -12.4325     31.162     -0.399      0.690     -73.542      48.677
C(local_authority)[T.Bedford]                               -13.0620     31.160     -0.419      0.675     -74.168      48.044
C(local_authority)[T.Belfast]                              7.204e-10   7.19e-10      1.002      0.316   -6.89e-10    2.13e-09
C(local_authority)[T.Bexley]                                122.0921     31.160      3.918      0.000      60.987     183.197
C(local_authority)[T.Birmingham]                            -11.4589     31.159     -0.368      0.713     -72.562      49.644
C(local_authority)[T.Blaby]                                   0.4646     31.161      0.015      0.988     -60.643      61.572
C(local_authority)[T.Blackburn with Darwen]                  61.5029     31.159      1.974      0.049       0.400     122.606
C(local_authority)[T.Blackpool]                               6.2516     31.159      0.201      0.841     -54.851      67.355
C(local_authority)[T.Blaenau Gwent]                        -1.63e-10   1.76e-10     -0.929      0.353   -5.07e-10    1.81e-10
C(local_authority)[T.Bolsover]                              -54.1650     33.042     -1.639      0.101    -118.962      10.632
C(local_authority)[T.Bolton]                                 -9.2427     31.159     -0.297      0.767     -70.346      51.860
C(local_authority)[T.Boston]                                 61.7751     31.159      1.983      0.048       0.672     122.878
C(local_authority)[T.Bournemouth, Christchurch and Poole]   3.73e-10   7.25e-10      0.515      0.607   -1.05e-09    1.79e-09
C(local_authority)[T.Bracknell Forest]                       32.5722     31.160      1.045      0.296     -28.533      93.678
C(local_authority)[T.Bradford]                              -11.1605     31.159     -0.358      0.720     -72.264      49.943
C(local_authority)[T.Braintree]                              -4.0978     31.159     -0.132      0.895     -65.201      57.005
C(local_authority)[T.Breckland]                              -7.2927     31.160     -0.234      0.815     -68.399      53.814
C(local_authority)[T.Brent]                                   7.3526     31.159      0.236      0.813     -53.750      68.456
C(local_authority)[T.Brentwood]                             -10.3033     31.159     -0.331      0.741     -71.406      50.800
C(local_authority)[T.Bridgend]                            -1.535e-10   9.75e-11     -1.575      0.115   -3.45e-10    3.76e-11
C(local_authority)[T.Brighton and Hove]                       1.0961     31.159      0.035      0.972     -60.007      62.199
C(local_authority)[T.Bristol, City of]                    -1.128e-12   1.24e-12     -0.910      0.363   -3.56e-12     1.3e-12
C(local_authority)[T.Broadland]                              42.4711     31.161      1.363      0.173     -18.637     103.580
C(local_authority)[T.Bromley]                               -10.3103     31.162     -0.331      0.741     -71.420      50.799
C(local_authority)[T.Bromsgrove]                              8.3407     31.159      0.268      0.789     -52.762      69.444
C(local_authority)[T.Broxbourne]                             51.8641     31.159      1.665      0.096      -9.239     112.967
C(local_authority)[T.Broxtowe]                                0.8591     31.159      0.028      0.978     -60.244      61.962
C(local_authority)[T.Buckinghamshire]                     -1.717e-14    3.7e-14     -0.464      0.643   -8.97e-14    5.54e-14
C(local_authority)[T.Burnley]                                 8.5200     31.160      0.273      0.785     -52.586      69.626
C(local_authority)[T.Bury]                                   27.3407     31.159      0.877      0.380     -33.762      88.444
C(local_authority)[T.Caerphilly]                           3.817e-15   3.68e-14      0.104      0.917   -6.83e-14     7.6e-14
C(local_authority)[T.Calderdale]                            -11.3738     31.159     -0.365      0.715     -72.477      49.729
C(local_authority)[T.Cambridge]                             -13.1995     31.159     -0.424      0.672     -74.302      47.903
C(local_authority)[T.Camden]                                 -6.5052     31.159     -0.209      0.835     -67.608      54.598
C(local_authority)[T.Cannock Chase]                          40.2822     31.159      1.293      0.196     -20.821     101.385
C(local_authority)[T.Canterbury]                             -2.6173     31.159     -0.084      0.933     -63.720      58.486
C(local_authority)[T.Cardiff]                                1.1e-14   3.97e-14      0.277      0.782   -6.68e-14    8.88e-14
C(local_authority)[T.Carmarthenshire]                      3.438e-14   9.86e-14      0.349      0.727   -1.59e-13    2.28e-13
C(local_authority)[T.Castle Point]                          -29.8983     31.159     -0.960      0.337     -91.001      31.205
C(local_authority)[T.Causeway Coast and Glens]             6.997e-14   3.34e-13      0.210      0.834   -5.85e-13    7.25e-13
C(local_authority)[T.Central Bedfordshire]                  -12.7558     31.159     -0.409      0.682     -73.859      48.347
C(local_authority)[T.Ceredigion]                             3.9e-14   4.64e-14      0.840      0.401    -5.2e-14     1.3e-13
C(local_authority)[T.Channel Islands]                      1.671e-14    3.1e-14      0.538      0.590   -4.42e-14    7.76e-14
C(local_authority)[T.Charnwood]                              -0.4615     31.159     -0.015      0.988     -61.564      60.641
C(local_authority)[T.Chelmsford]                              5.5433     31.160      0.178      0.859     -55.562      66.649
C(local_authority)[T.Cheltenham]                            -11.2457     31.159     -0.361      0.718     -72.349      49.857
C(local_authority)[T.Cherwell]                               -0.2896     31.159     -0.009      0.993     -61.394      60.815
C(local_authority)[T.Cheshire East]                         -13.3557     31.160     -0.429      0.668     -74.461      47.750
C(local_authority)[T.Cheshire West and Chester]              -3.1599     31.159     -0.101      0.919     -64.263      57.943
C(local_authority)[T.Chesterfield]                           11.7735     31.159      0.378      0.706     -49.329      72.876
C(local_authority)[T.Chichester]                             -1.8592     31.161     -0.060      0.952     -62.966      59.248
C(local_authority)[T.Chorley]                                 0.9705     31.159      0.031      0.975     -60.132      62.073
C(local_authority)[T.City of Edinburgh]                   -4.928e-15   3.93e-14     -0.125      0.900   -8.21e-14    7.22e-14
C(local_authority)[T.City of London]                        -15.2384     31.159     -0.489      0.625     -76.342      45.865
C(local_authority)[T.Colchester]                            -19.7360     31.159     -0.633      0.527     -80.839      41.367
C(local_authority)[T.Conwy]                               -1.155e-10   2.58e-10     -0.447      0.655   -6.22e-10    3.91e-10
C(local_authority)[T.Cornwall]                              -13.7026     31.159     -0.440      0.660     -74.806      47.400
C(local_authority)[T.Cotswold]                               -4.8949     31.159     -0.157      0.875     -65.998      56.208
C(local_authority)[T.County Durham]                        2.731e-14   4.18e-14      0.654      0.513   -5.46e-14    1.09e-13
C(local_authority)[T.Coventry]                               33.2723     31.160      1.068      0.286     -27.833      94.378
C(local_authority)[T.Crawley]                               -10.6525     33.043     -0.322      0.747     -75.450      54.145
C(local_authority)[T.Croydon]                               -20.8373     31.159     -0.669      0.504     -81.940      40.266
C(local_authority)[T.Cumberland]                          -1.677e-14   4.14e-14     -0.405      0.685    -9.8e-14    6.44e-14
C(local_authority)[T.Dacorum]                                -2.0799     31.159     -0.067      0.947     -63.183      59.023
C(local_authority)[T.Darlington]                             19.9825     31.159      0.641      0.521     -41.121      81.086
C(local_authority)[T.Dartford]                              -15.9550     33.043     -0.483      0.629     -80.753      48.843
C(local_authority)[T.Denbighshire]                         4.028e-12   1.12e-11      0.361      0.718   -1.78e-11    2.59e-11
C(local_authority)[T.Derby]                                  -8.2016     31.159     -0.263      0.792     -69.305      52.901
C(local_authority)[T.Derbyshire Dales]                       14.8924     31.161      0.478      0.633     -46.216      76.000
C(local_authority)[T.Doncaster]                               3.0085     31.159      0.097      0.923     -58.094      64.111
C(local_authority)[T.Dorset]                              -7.147e-15   2.93e-14     -0.244      0.807   -6.46e-14    5.03e-14
C(local_authority)[T.Dover]                                  -1.6636     31.159     -0.053      0.957     -62.767      59.439
C(local_authority)[T.Dudley]                                -11.2747     31.159     -0.362      0.717     -72.378      49.828
C(local_authority)[T.Dumfries and Galloway]                2.398e-14   3.07e-14      0.780      0.435   -3.63e-14    8.42e-14
C(local_authority)[T.Dundee City]                         -5.422e-12   1.11e-11     -0.486      0.627   -2.73e-11    1.64e-11
C(local_authority)[T.Ealing]                                 -9.9817     31.159     -0.320      0.749     -71.085      51.121
C(local_authority)[T.East Ayrshire]                        1.015e-11   2.09e-11      0.486      0.627   -3.08e-11    5.11e-11
C(local_authority)[T.East Cambridgeshire]                     8.0896     31.159      0.260      0.795     -53.013      69.192
C(local_authority)[T.East Devon]                            -17.3223     31.159     -0.556      0.578     -78.425      43.781
C(local_authority)[T.East Dunbartonshire]                 -4.857e-11   8.11e-11     -0.599      0.549   -2.08e-10     1.1e-10
C(local_authority)[T.East Hampshire]                         -9.2038     31.159     -0.295      0.768     -70.307      51.899
C(local_authority)[T.East Hertfordshire]                     -7.9887     31.161     -0.256      0.798     -69.097      53.119
C(local_authority)[T.East Lindsey]                          -18.7371     31.162     -0.601      0.548     -79.846      42.371
C(local_authority)[T.East Lothian]                         1.639e-10   2.76e-10      0.593      0.553   -3.78e-10    7.06e-10
C(local_authority)[T.East Riding of Yorkshire]               -5.7411     31.159     -0.184      0.854     -66.844      55.362
C(local_authority)[T.East Staffordshire]                    -11.5660     31.159     -0.371      0.711     -72.669      49.537
C(local_authority)[T.East Suffolk]                         2.107e-14   4.55e-14      0.463      0.643   -6.81e-14     1.1e-13
C(local_authority)[T.Eastbourne]                            -11.4131     31.159     -0.366      0.714     -72.516      49.690
C(local_authority)[T.Eastleigh]                              -1.9974     31.161     -0.064      0.949     -63.105      59.110
C(local_authority)[T.Elmbridge]                             -19.7791     31.160     -0.635      0.526     -80.884      41.326
C(local_authority)[T.Enfield]                                -0.3518     31.159     -0.011      0.991     -61.455      60.751
C(local_authority)[T.Epping Forest]                         -11.3120     31.159     -0.363      0.717     -72.415      49.791
C(local_authority)[T.Epsom and Ewell]                       -18.4983     31.160     -0.594      0.553     -79.604      42.607
C(local_authority)[T.Erewash]                                -7.4204     31.159     -0.238      0.812     -68.523      53.682
C(local_authority)[T.Exeter]                                  1.3300     31.159      0.043      0.966     -59.773      62.433
C(local_authority)[T.Fareham]                                -3.7916     31.159     -0.122      0.903     -64.895      57.311
C(local_authority)[T.Fenland]                               -16.1655     33.043     -0.489      0.625     -80.964      48.633
C(local_authority)[T.Fermanagh and Omagh]                  -2.02e-11   2.28e-10     -0.089      0.929   -4.67e-10    4.26e-10
C(local_authority)[T.Fife]                                 7.362e-15    3.4e-14      0.216      0.829   -5.93e-14     7.4e-14
C(local_authority)[T.Flintshire]                          -2.052e-14   4.13e-14     -0.497      0.619   -1.01e-13    6.04e-14
C(local_authority)[T.Folkestone and Hythe]                   95.8021     31.159      3.075      0.002      34.699     156.905
C(local_authority)[T.Forest of Dean]                         20.4497     31.141      0.657      0.511     -40.618      81.517
C(local_authority)[T.Fylde]                                  13.8273     31.159      0.444      0.657     -47.276      74.930
C(local_authority)[T.Gateshead]                             -12.1171     31.159     -0.389      0.697     -73.220      48.986
C(local_authority)[T.Gedling]                                 8.9315     31.159      0.287      0.774     -52.172      70.035
C(local_authority)[T.Glasgow City]                          -1.1e-12   6.01e-12     -0.183      0.855   -1.29e-11    1.07e-11
C(local_authority)[T.Gloucester]                             -7.2149     31.159     -0.232      0.817     -68.318      53.888
C(local_authority)[T.Gosport]                                 8.4391     31.159      0.271      0.787     -52.664      69.542
C(local_authority)[T.Gravesham]                              38.4408     31.159      1.234      0.217     -22.662      99.544
C(local_authority)[T.Great Yarmouth]                         -8.7808     31.159     -0.282      0.778     -69.884      52.322
C(local_authority)[T.Greenwich]                               0.9698     31.159      0.031      0.975     -60.133      62.073
C(local_authority)[T.Guildford]                             -18.5140     31.159     -0.594      0.552     -79.617      42.589
C(local_authority)[T.Gwynedd]                              2.859e-10   2.89e-10      0.988      0.323   -2.82e-10    8.53e-10
C(local_authority)[T.Hackney]                                -5.6186     31.159     -0.180      0.857     -66.722      55.484
C(local_authority)[T.Halton]                                  1.8807     31.159      0.060      0.952     -59.222      62.984
C(local_authority)[T.Hammersmith and Fulham]                -11.1975     31.159     -0.359      0.719     -72.300      49.905
C(local_authority)[T.Harborough]                             -4.4321     31.141     -0.142      0.887     -65.501      56.637
C(local_authority)[T.Haringey]                               -4.5270     31.159     -0.145      0.884     -65.630      56.576
C(local_authority)[T.Harlow]                                 24.9369     31.159      0.800      0.424     -36.166      86.040
C(local_authority)[T.Harrow]                                  2.3448     31.159      0.075      0.940     -58.758      63.448
C(local_authority)[T.Hart]                                  -21.4678     31.161     -0.689      0.491     -82.576      39.641
C(local_authority)[T.Hartlepool]                             34.8378     31.159      1.118      0.264     -26.266      95.942
C(local_authority)[T.Hastings]                                0.3424     31.159      0.011      0.991     -60.762      61.446
C(local_authority)[T.Havant]                                  7.8851     31.159      0.253      0.800     -53.218      68.988
C(local_authority)[T.Havering]                               -1.8765     31.159     -0.060      0.952     -62.979      59.226
C(local_authority)[T.Herefordshire, County of]             1.126e-10   2.89e-10      0.390      0.697   -4.54e-10    6.79e-10
C(local_authority)[T.Hertsmere]                               4.9944     31.159      0.160      0.873     -56.109      66.098
C(local_authority)[T.High Peak]                             -14.0593     31.159     -0.451      0.652     -75.162      47.044
C(local_authority)[T.Highland]                            -5.743e-15   2.93e-14     -0.196      0.844   -6.31e-14    5.17e-14
C(local_authority)[T.Hillingdon]                             11.0458     31.159      0.355      0.723     -50.057      72.149
C(local_authority)[T.Hinckley and Bosworth]                  13.1258     31.159      0.421      0.674     -47.977      74.229
C(local_authority)[T.Horsham]                               -14.4852     31.160     -0.465      0.642     -75.591      46.621
C(local_authority)[T.Hounslow]                               10.6635     31.159      0.342      0.732     -50.439      71.766