In [46]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import itertools
from statsmodels.tsa.stattools import grangercausalitytests

In [2]:
DISPOSAL_FILEPATH = "../../data/raw/council_disposal_receipts.xlsx"

YEAR_SKIP_MAPPING = {
    "2014": 0,
    "2015": 0,
    "2016": 2,
    "2017": 3,
    "2018": 3,
    "2019": 4,
    "2020": 4,
    "2021": 4,
    "2022": 4,
    "2023": 4,
}

dfs = []
for year, skip_row in YEAR_SKIP_MAPPING.items():
    df = pd.read_excel(DISPOSAL_FILEPATH, skiprows=skip_row, sheet_name=year)
    dfs.append(df)

dataset = pd.read_csv(r'../../data/processed/charity_main_cleaned.csv')
postcode_msoa = pd.read_csv(r'../../data/raw/PCD_OA21_LSOA21_MSOA21_LAD_FEB25_UK_LU.csv')

C:\Users\User\AppData\Local\Temp\ipykernel_27876\4135363359.py:22: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  postcode_msoa = pd.read_csv(r'../../data/raw/PCD_OA21_LSOA21_MSOA21_LAD_FEB25_UK_LU.csv')

In [3]:
# Step 1: Ensure postcode columns are uppercase and stripped
dataset['postcode'] = dataset['postcode'].str.upper().str.strip()
postcode_msoa['pcds'] = postcode_msoa['pcds'].str.upper().str.strip()

# Step 2: Merge on postcode
dataset = dataset.merge(
    postcode_msoa[['pcds', 'msoa21nm']],
    left_on='postcode',
    right_on='pcds',
    how='left'
)

# Step 3: Rename to 'msoa'
dataset = dataset.rename(columns={'msoa21nm': 'msoa'})

# Step 4: Drop the duplicate postcode column if needed
dataset = dataset.drop(columns='pcds')

In [4]:
def clean_sheet(df, rename_from_col=3, header_row=1):
    """
    Cleans a DataFrame read from Excel:
    - Replaces values in `header_row` with column names starting from `rename_from_col`
    - Keeps all columns up to `rename_from_col`
    - Keeps only renamed columns after `rename_from_col`
    - Sets row `header_row` as the header and drops all rows above it
    """
    # Step 1: Identify renamed columns
    renamed_mask = [not str(col).startswith("Unnamed:") for col in df.columns]

    # Step 2: Determine which columns to keep
    cols_to_keep = list(range(rename_from_col + 1))  # Always keep up to and including `rename_from_col`
    for i in range(rename_from_col + 1, len(df.columns)):
        if renamed_mask[i]:
            cols_to_keep.append(i)

    # Step 3: Overwrite header_row with column names for renamed columns
    for i in range(rename_from_col, len(df.columns)):
        if renamed_mask[i]:
            df.iloc[header_row, i] = df.columns[i]

    # Step 4: Set row `header_row` as header and drop rows above
    df.columns = df.iloc[header_row]
    df = df.drop(index=list(range(header_row + 1))).reset_index(drop=True)

    # Step 5: Keep only selected columns
    df = df.iloc[:, cols_to_keep]

    return df

def rename_and_filter_disposal(df, start_col=5, keyword=": Disposal of tangible fixed assets"):
    """
    Keeps:
    - All columns before `start_col`
    - Columns from `start_col` onward that contain `keyword`
    
    Renames matching columns by removing the keyword from their name.
    """
    cols_to_keep = list(range(start_col))  # Keep early columns as-is

    new_columns = df.columns.tolist()  # Copy of column names

    for i in range(start_col, len(df.columns)):
        col = str(df.columns[i])
        if keyword in col:
            # Rename column by removing the keyword
            new_columns[i] = col.replace(keyword, "")
            cols_to_keep.append(i)

    # Apply renaming
    df.columns = new_columns

    # Keep only selected columns
    return df.iloc[:, cols_to_keep]

dfs[0] = clean_sheet(dfs[0], rename_from_col=3, header_row=1)
dfs[1] = clean_sheet(dfs[1], rename_from_col=4, header_row=1)
dfs[2] = clean_sheet(dfs[2], rename_from_col=4, header_row=2)
dfs[3] = clean_sheet(dfs[3], rename_from_col=5, header_row=0)
dfs[4] = clean_sheet(dfs[4], rename_from_col=5, header_row=0)

dfs[5] = rename_and_filter_disposal(dfs[5], start_col=5)
dfs[6] = rename_and_filter_disposal(dfs[6], start_col=5)
dfs[7] = rename_and_filter_disposal(dfs[7], start_col=5)
dfs[8] = rename_and_filter_disposal(dfs[8], start_col=5)
dfs[9] = rename_and_filter_disposal(dfs[9], start_col=6)

In [5]:
for i in range(10):
    df = dfs[i]

    # Step 1: Standardise column names first
    df.columns = df.columns.str.strip().str.lower()
    if 'la name' in df.columns:
        df = df.rename(columns={'la name': 'local_authority'})
    
    if 'local_authority' in df.columns:
        df['local_authority'] = df['local_authority'].str.replace(r'(?i)\(ua\)|\bua\b', '', regex=True).str.strip()

    # Step 2: Drop bad values in first column
    first_col = df.columns[0]
    df = df[~df[first_col].isin([pd.NA, None, '[z]', 'la_lgf_code'])]
    df = df.dropna(subset=[first_col])

    # Step 3: Drop missing ONS codes
    if i == 0 and 'ecode' in df.columns:
        df = df.dropna(subset=['ecode'])
    elif i != 0 and 'ons code' in df.columns:
        df = df.dropna(subset=['ons code'])

    # Step 4: Drop unwanted council classes
    if 'class' in df.columns:
        df = df[~df['class'].isin(['O', 'MC','SC'])]

    # Save cleaned frame back
    dfs[i] = df

In [6]:
merge_columns = {
    "community safety": ["community safety", "community safety (cctv)"],
    'agricultural & fisheries services':['agriculture & fisheries'],
    'all services total':['total all services'],
    'early years & primary schools':['pre-primary & primary education'],
    'parking':['parking of vehicles'],
    'ports & piers':['local authority ports & piers'],
    'special schools & alternative provision':['special education'],
    'secondary schools':['secondary education'],
    'total industrial & commercial trading':['industrial & commercial trading'],
    'total environmental & regulatory services':['total environmental services','regulatory services (environmental health)'],
    'tolled roads, bridges, tunnels,ferries & public transport companies':['tolled road bridges, tunnels, ferries, public transport companies','tolled road bridges, tunnels, ferries & public transport companies'],
    'public transport (bus)':['public passenger transport - bus'],
    'public transport (rail & other)':['public passenger transport - rail & other'],
    'total housing':['housing'],
    'total police':['police'],
    'total social care':['social services','social care'],
    'total public health':['public health'],
    'roads, street lighting & road safety':['roads, street lights & safety'],
    'total fire & rescue services':['fire & rescue services'],
    'total central services':['central services (including court services)'],
    'street cleaning (not chargeable to highways)':['street cleaning not chargeable to highways'],
    'total planning & development':['total planning & development services','planning & development services'],
    'total trading services':['total trading','trading'],
    'total education':['education'],
    'total highways & transport':['total transport','highways & transport'],
    'total culture & related services':['culture & heritage']

    #'commercial housing',
    #'energy generation & supply',
    #'finance & insurance activity',
    #'hospitality & catering',
    #'lgf code',
    #'ons code',
    #'other commercial activity',
    #'other real estate activities',
    #'post-16 provision & other education',
    #'subclass',
    #'total digital infrastructure',
    #'water supply, sewerage & remediation'
}

# Standardise and merge alias columns across all dfs
for idx in range(len(dfs)):
    df = dfs[idx].copy()
    df.columns = [
        str(col).strip().lower()
        .replace(" and ", " & ")
        for col in df.columns
    ]

    dfs[idx] = df  # Save the cleaned version

    for standard_col, aliases in merge_columns.items():
        # Find which alias columns are present
        present_cols = [col for col in aliases if col in df.columns]
        if not present_cols:
            continue  # Nothing to merge for this category

        # Sum across all present columns
        df[standard_col] = df[present_cols].sum(axis=1, skipna=True)

        # Drop duplicates, except the one weâ€™re keeping
        cols_to_drop = [col for col in present_cols if col != standard_col]
        df.drop(columns=cols_to_drop, inplace=True)

    dfs[idx] = df  # Save the cleaned DataFrame back

In [7]:
# Combined mapping: new_name â†’ list of old names
unified_map = {
    'buckinghamshire': ['aylesbury vale', 'chiltern', 'south bucks', 'wycombe','south buckinghamshire'],
    'dorset': ['weymouth and portland', 'west dorset', 'north dorset', 'east dorset', 'purbeck', 'christchurch'],
    'somerset': ['taunton deane', 'west somerset', 'mendip', 'sedgemoor', 'south somerset', 'somerset council','somerset west and taunton'],
    'cumberland': ['allerdale', 'carlisle', 'copeland', 'cumberland council'],
    'westmorland and furness': ['barrow in furness', 'barrow-in-furness', 'eden', 'south lakeland'],
    'north yorkshire': ['craven', 'hambleton', 'harrogate', 'richmondshire', 'ryedale', 'scarborough', 'selby', 'north yorkshire council'],
    'bournemouth christchurch and poole': ['bournemouth', 'christchurch', 'poole'],
    'west suffolk': ['forest heath', 'st edmundsbury'],
    'east suffolk': ['suffolk coastal', 'waveney'],
    'bath and north east somerset': ['bath and ne somerset'],
    'southend-on-sea': ['southend on sea'],
    'leicester': ['leicester city'],
    'medway': ['medway towns'],
    'derby': ['derby city'],
    'folkestone and hythe': ['shepway'],
    'county durham': ['durham'],
    "king's lynn and west norfolk": ['kings lynn and west norfolk'],
    'north northamptonshire': ['wellingborough', 'east northamptonshire', 'kettering', 'corby'],
    'west northamptonshire': ['northampton', 'south northamptonshire', 'daventry'],
}
# old_name â†’ new_name (lowercase)
flat_lookup = {
    old.lower(): new.lower()
    for new, olds in unified_map.items()
    for old in olds
}
def clean_local_authority(name):
    if pd.isna(name):
        return name
    name = str(name).lower()
    name = (
        name.replace('&', 'and')
        .replace('-', ' ')
        .replace(',', '')
        .replace('.', '')
        .replace(' city of', '')
        .replace(' county of', '')
        .strip()
    )
    return flat_lookup.get(name, name)
# Apply to disposal files
for i in range(len(dfs)):
    if 'local_authority' in dfs[i].columns:
        dfs[i]['local_authority'] = dfs[i]['local_authority'].apply(clean_local_authority)

# Apply to charity dataset
if 'local_authority' in dataset.columns:
    dataset['local_authority'] = dataset['local_authority'].apply(clean_local_authority)

# List of known devolved nation council names to exclude
non_england_keywords = [
    'aberdeen', 'aberdeenshire', 'angus', 'antrim', 'ards', 'argyll', 'armagh', 'belfast', 'blaenau', 'bridgend',
    'caerphilly', 'cardiff', 'carmarthenshire', 'causeway', 'ceredigion', 'conwy', 'denbighshire', 'derry',
    'dumfries', 'dundee', 'east ayrshire', 'east dunbartonshire', 'east lothian', 'east renfrewshire', 'falkirk',
    'fermanagh', 'fife', 'flintshire', 'glasgow', 'gwynedd', 'highland', 'inverclyde', 'isle of man',
    'isle of anglesey', 'lisburn', 'merthyr', 'mid and east antrim', 'mid ulster', 'midlothian', 'monmouthshire',
    'moray', 'na h eileanan siar', 'neath', 'newport', 'newry', 'north ayrshire', 'north lanarkshire', 'orkney',
    'pembrokeshire', 'perth and kinross', 'powys', 'renfrewshire', 'rhondda', 'scottish borders', 'shetland',
    'south ayrshire', 'south lanarkshire', 'stirling', 'swansea', 'torfaen', 'vale of glamorgan', 'west dunbartonshire',
    'west lothian', 'wrexham','city of edinburgh','channel islands'
]

# Convert to lowercase and filter out rows containing these names
dataset['local_authority_lower'] = dataset['local_authority'].str.lower()
dataset = dataset[~dataset['local_authority_lower'].str.contains('|'.join(non_england_keywords), na=False)]

# Drop the helper column
dataset = dataset.drop(columns=['local_authority_lower'])

In [8]:
# Step 1: Get unique local_authority names from dfs[0â€“9]
all_disposal_names = set()
for i in range(10):
    if 'local_authority' in dfs[i].columns:
        all_disposal_names.update(dfs[i]['local_authority'].dropna().unique())

# Step 2: Get unique local_authority names from dataset
if 'local_authority' in dataset.columns:
    charity_names = set(dataset['local_authority'].dropna().unique())
else:
    raise KeyError("'local_authority' column not found in dataset")

# Step 3: Find mismatches
in_disposal_not_in_charity = all_disposal_names - charity_names
in_charity_not_in_disposal = charity_names - all_disposal_names

# Step 4: Print results
print("âœ… In disposal (dfs[0â€“9]) but NOT in charity dataset:")
print(sorted(in_disposal_not_in_charity))

print("\nðŸ” In charity dataset but NOT in disposal (dfs[0â€“9]):")
print(sorted(in_charity_not_in_disposal))

âœ… In disposal (dfs[0â€“9]) but NOT in charity dataset:
[]

ðŸ” In charity dataset but NOT in disposal (dfs[0â€“9]):
[]

In [9]:
# Step 1: Assign financial year to each DataFrame in dfs
years = list(range(2014, 2024))
for i, year in enumerate(years):
    if not dfs[i].empty:
        dfs[i]['financial_year'] = year

# Step 2: Melt each DataFrame into long format
long_frames = []
for i, df in enumerate(dfs):
    if df.empty:
        continue
    long_df = df.melt(
        id_vars=["local_authority", "financial_year"],
        value_vars=[
            col for col in df.columns 
            if col not in ["ecode", 'lgf code', 'ons code', "class", "subclass", 
                           "local_authority", "financial_year", 'certification complete']
        ],
        var_name="category",
        value_name="value"
    )
    long_frames.append(long_df)

# Step 3: Combine all disposal long-format DataFrames
disposal_long_df = pd.concat(long_frames, ignore_index=True)

# Step 4: Count removals from charity dataset
removals = (
    dataset
    .groupby(['local_authority', 'removal_fy', 'size_category','msoa'])
    .size()
    .reset_index(name='removals')
    .rename(columns={'removal_fy': 'financial_year'})
)

# Step 5: Merge disposal data with charity removals
panel = pd.merge(
    disposal_long_df,
    removals,
    on=["financial_year", "local_authority"],
    how="outer"
)

# Step 6: Replace NaNs in 'removals' with 0
panel['removals'] = panel['removals'].fillna(0).astype(int)
panel = panel[(panel['financial_year'] >= 2015) & (panel['financial_year'] <= 2023)]
panel['value'] = pd.to_numeric(panel['value'], errors='coerce') / 1000000

In [10]:
removals

      local_authority  financial_year size_category      msoa  removals
0                adur          2015.0         Small  Adur 005         1
1                adur          2015.0         Small  Adur 008         1
2                adur          2016.0        Medium  Adur 004         2
3                adur          2016.0        Medium  Adur 008         1
4                adur          2016.0         Small  Adur 004         1
...               ...             ...           ...       ...       ...
31699            york          2024.0         Small  York 023         2
31700            york          2024.0         Small  York 024         4
31701            york          2025.0        Medium  York 013         1
31702            york          2025.0        Medium  York 017         1
31703            york          2025.0         Small  York 004         1

[31704 rows x 5 columns]

In [23]:
# Step 1: Separate disposal data (no size_category or msoa)
disposal = panel[['local_authority', 'financial_year', 'category', 'value']].drop_duplicates()

# Step 2: Charity data (includes size_category and msoa)
charity = panel[['local_authority', 'financial_year', 'category', 'size_category', 'removals', 'msoa']].drop_duplicates()

# Step 3: Merge disposal (broadcast across msoa + size_category rows)
merged = pd.merge(
    charity,
    disposal,
    on=['local_authority', 'financial_year', 'category'],
    how='left'
)

# Step 4: Fill missing values
merged['value'] = pd.to_numeric(merged['value'], errors='coerce').fillna(0)
merged['removals'] = merged['removals'].fillna(0).astype(int)

# Result
panel_complete = merged
panel_complete

,local_authority,financial_year,category,size_category,removals,msoa,value
0,adur,2015.0,non-school funding,Small,1,Adur 005,0.0
1,adur,2015.0,non-school funding,Small,1,Adur 008,0.0
2,adur,2015.0,airports,Small,1,Adur 005,0.0
3,adur,2015.0,airports,Small,1,Adur 008,0.0
4,adur,2015.0,recreation & sport,Small,1,Adur 005,0.0
...,...,...,...,...,...,...,...
1784427,york,2023.0,"all services total, of which vehicles",Small,1,York 011,0.0
1784428,york,2023.0,"all services total, of which vehicles",Small,1,York 013,0.0
1784429,york,2023.0,"all services total, of which vehicles",Small,1,York 019,0.0
1784430,york,2023.0,"all services total, of which vehicles",Small,2,York 021,0.0
1784431,york,2023.0,"all services total, of which vehicles",Small,1,York 024,0.0

In [24]:
# Resulting filtered panel
filtered_panel = panel_complete[panel_complete['category']=='all services total']
# Ensure proper sorting
filtered_panel = filtered_panel.sort_values(by=['local_authority', 'size_category', 'financial_year'])

# Create lagged value columns

In [32]:
filtered_panel['removals'].max()

np.int64(29)

In [41]:
from statsmodels.tsa.stattools import adfuller

# ADF test on 'removals'
result_removals = adfuller(filtered_panel['removals'].dropna())
print("ADF Test for 'removals':")
print(f"ADF Statistic: {result_removals[0]}")
print(f"p-value: {result_removals[1]}")
print(f"Critical Values: {result_removals[4]}\n")

# ADF test on 'value'
result_value = adfuller(filtered_panel['value'].dropna())
print("ADF Test for 'value':")
print(f"ADF Statistic: {result_value[0]}")
print(f"p-value: {result_value[1]}")
print(f"Critical Values: {result_value[4]}")

ADF Test for 'removals':
ADF Statistic: -40.44493804767834
p-value: 0.0
Critical Values: {'1%': np.float64(-3.430573570146791), '5%': np.float64(-2.8616388118688993), '10%': np.float64(-2.566822594558581)}

ADF Test for 'value':
ADF Statistic: -18.76394493133423
p-value: 2.025990577181649e-30
Critical Values: {'1%': np.float64(-3.4305738456544788), '5%': np.float64(-2.861638933631144), '10%': np.float64(-2.566822659369727)}

In [42]:
from statsmodels.tsa.stattools import coint

# Run Engle-Granger cointegration test
coint_stat, p_value, crit_values = coint(filtered_panel['removals'], filtered_panel['value'])

print(f"Engle-Granger Cointegration Test")
print(f"Test Statistic: {coint_stat}")
print(f"p-value: {p_value}")
print(f"Critical Values: {crit_values}")

Engle-Granger Cointegration Test
Test Statistic: -40.41334532613555
p-value: 0.0
Critical Values: [-3.89681427 -3.33633879 -3.04459493]

In [47]:
# Format data as a two-column array: [removals, value]
data = filtered_panel[['removals', 'value']].dropna()

# Run Granger causality test with up to 3 lags
grangercausalitytests(data, maxlag=3)

Granger Causality
number of lags (no zero) 1
ssr based F test:         F=10.1664 , p=0.0014  , df_denom=29262, df_num=1
ssr based chi2 test:   chi2=10.1674 , p=0.0014  , df=1
likelihood ratio test: chi2=10.1656 , p=0.0014  , df=1
parameter F test:         F=10.1664 , p=0.0014  , df_denom=29262, df_num=1

Granger Causality
number of lags (no zero) 2
ssr based F test:         F=4.9534  , p=0.0071  , df_denom=29259, df_num=2
ssr based chi2 test:   chi2=9.9084  , p=0.0071  , df=2
likelihood ratio test: chi2=9.9068  , p=0.0071  , df=2
parameter F test:         F=4.9534  , p=0.0071  , df_denom=29259, df_num=2

Granger Causality
number of lags (no zero) 3
ssr based F test:         F=5.4475  , p=0.0010  , df_denom=29256, df_num=3
ssr based chi2 test:   chi2=16.3464 , p=0.0010  , df=3
likelihood ratio test: chi2=16.3418 , p=0.0010  , df=3
parameter F test:         F=5.4475  , p=0.0010  , df_denom=29256, df_num=3

{np.int64(1): ({'ssr_ftest': (np.float64(10.166371840999677),
    np.float64(0.0014317597633544262),
    np.float64(29262.0),
    np.int64(1)),
   'ssr_chi2test': (np.float64(10.167414118202979),
    np.float64(0.0014294462069016352),
    np.int64(1)),
   'lrtest': (np.float64(10.165648316513398),
    np.float64(0.0014308159256741669),
    np.int64(1)),
   'params_ftest': (np.float64(10.16637184099323),
    np.float64(0.0014317597633565194),
    np.float64(29262.0),
    1.0)},
  [<statsmodels.regression.linear_model.RegressionResultsWrapper at 0x2cd0a7040b0>,
   <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x2cd0a79cd70>,
   array([[0., 1., 0.]])]),
 np.int64(2): ({'ssr_ftest': (np.float64(4.9533745661114965),
    np.float64(0.00706546690133107),
    np.float64(29259.0),
    np.int64(2)),
   'ssr_chi2test': (np.float64(9.908442072708352),
    np.float64(0.007053572616830198),
    np.int64(2)),
   'lrtest': (np.float64(9.906765010964591),
    np.float64(0.007059489735723181),
    np.int64(2)),
   'params_ftest': (np.float64(4.953374566102449),
    np.float64(0.007065466901384505),
    np.float64(29259.0),
    2.0)},
  [<statsmodels.regression.linear_model.RegressionResultsWrapper at 0x2cd0a79c530>,
   <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x2cd0a79c650>,
   array([[0., 0., 1., 0., 0.],
          [0., 0., 0., 1., 0.]])]),
 np.int64(3): ({'ssr_ftest': (np.float64(5.447485694224356),
    np.float64(0.0009665782501526392),
    np.float64(29256.0),
    np.int64(3)),
   'ssr_chi2test': (np.float64(16.346367295948248),
    np.float64(0.0009628425546751893),
    np.int64(3)),
   'lrtest': (np.float64(16.34180343958724),
    np.float64(0.0009649215302310749),
    np.int64(3)),
   'params_ftest': (np.float64(5.4474856942269225),
    np.float64(0.0009665782501498801),
    np.float64(29256.0),
    3.0)},
  [<statsmodels.regression.linear_model.RegressionResultsWrapper at 0x2cd0a79d970>,
   <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x2cd0a79dbb0>,
   array([[0., 0., 0., 1., 0., 0., 0.],
          [0., 0., 0., 0., 1., 0., 0.],
          [0., 0., 0., 0., 0., 1., 0.]])])}

In [49]:
# Prepare data: ensure it's sorted and aligned
df = filtered_panel[['removals', 'value']].dropna().copy()
df = df.astype(float)

# Run Granger causality test: does 'removals' Granger-cause 'value'?
# maxlag = 3 for testing 1, 2, 3 lags
reverse_granger_results = grangercausalitytests(df[['value', 'removals']], maxlag=3, verbose=True)

Granger Causality
number of lags (no zero) 1
ssr based F test:         F=27.7555 , p=0.0000  , df_denom=29262, df_num=1
ssr based chi2 test:   chi2=27.7584 , p=0.0000  , df=1
likelihood ratio test: chi2=27.7452 , p=0.0000  , df=1
parameter F test:         F=27.7555 , p=0.0000  , df_denom=29262, df_num=1

Granger Causality
number of lags (no zero) 2
ssr based F test:         F=24.3481 , p=0.0000  , df_denom=29259, df_num=2
ssr based chi2 test:   chi2=48.7046 , p=0.0000  , df=2
likelihood ratio test: chi2=48.6641 , p=0.0000  , df=2
parameter F test:         F=24.3481 , p=0.0000  , df_denom=29259, df_num=2

Granger Causality
number of lags (no zero) 3
ssr based F test:         F=16.4157 , p=0.0000  , df_denom=29256, df_num=3
ssr based chi2 test:   chi2=49.2589 , p=0.0000  , df=3
likelihood ratio test: chi2=49.2174 , p=0.0000  , df=3
parameter F test:         F=16.4157 , p=0.0000  , df_denom=29256, df_num=3

c:\Users\User\AppData\Local\Programs\Python\Python313\Lib\site-packages\statsmodels\tsa\stattools.py:1556: FutureWarning: verbose is deprecated since functions should not print results
  warnings.warn(

In [44]:
# Run OLS regression with fixed effects for LA and year
model = smf.ols(
    formula='removals ~ value + C(local_authority) + C(financial_year) + C(size_category) + value:C(size_category)',
    data=filtered_panel
).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               removals   R-squared:                       0.193
Model:                            OLS   Adj. R-squared:                  0.184
Method:                 Least Squares   F-statistic:                     22.54
Date:                Thu, 10 Jul 2025   Prob (F-statistic):               0.00
Time:                        00:15:23   Log-Likelihood:                -33151.
No. Observations:               29254   AIC:                         6.692e+04
Df Residuals:                   28946   BIC:                         6.947e+04
Df Model:                         307
Covariance Type:            nonrobust
============================================================================================================================
                                                               coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------------------
Intercept                                                    0.7009      0.162      4.326      0.000       0.383       1.018
C(local_authority)[T.amber valley]                           0.0743      0.189      0.394      0.694      -0.296       0.444
C(local_authority)[T.arun]                                   0.2043      0.183      1.116      0.264      -0.154       0.563
C(local_authority)[T.ashfield]                               0.0502      0.208      0.242      0.809      -0.357       0.458
C(local_authority)[T.ashford]                                0.1804      0.184      0.982      0.326      -0.180       0.540
C(local_authority)[T.babergh]                                0.2980      0.189      1.575      0.115      -0.073       0.669
C(local_authority)[T.barking and dagenham]                   0.1758      0.184      0.953      0.341      -0.186       0.537
C(local_authority)[T.barnet]                                 0.4066      0.165      2.459      0.014       0.082       0.731
C(local_authority)[T.barnsley]                               0.0571      0.183      0.311      0.756      -0.302       0.416
C(local_authority)[T.basildon]                               0.0797      0.188      0.425      0.671      -0.288       0.447
C(local_authority)[T.basingstoke and deane]                  0.1356      0.176      0.770      0.441      -0.210       0.481
C(local_authority)[T.bassetlaw]                              0.0481      0.194      0.247      0.805      -0.333       0.429
C(local_authority)[T.bath and north east somerset]           0.1017      0.175      0.581      0.561      -0.241       0.445
C(local_authority)[T.bedford]                                0.3919      0.175      2.234      0.025       0.048       0.736
C(local_authority)[T.bexley]                                 0.1219      0.190      0.640      0.522      -0.251       0.495
C(local_authority)[T.birmingham]                             0.1374      0.166      0.829      0.407      -0.187       0.462
C(local_authority)[T.blaby]                                  0.2169      0.205      1.057      0.291      -0.185       0.619
C(local_authority)[T.blackburn with darwen]                  0.3109      0.194      1.599      0.110      -0.070       0.692
C(local_authority)[T.blackpool]                             -0.0259      0.205     -0.126      0.900      -0.428       0.376
C(local_authority)[T.bolsover]                              -0.0423      0.228     -0.186      0.853      -0.489       0.405
C(local_authority)[T.bolton]                                 0.0486      0.176      0.276      0.783      -0.297       0.394
C(local_authority)[T.boston]                                 0.0231      0.220      0.105      0.917      -0.409       0.455
C(local_authority)[T.bournemouth christchurch and poole]     0.1795      0.163      1.098      0.272      -0.141       0.500
C(local_authority)[T.bracknell forest]                       0.0968      0.201      0.482      0.629      -0.296       0.490
C(local_authority)[T.bradford]                               0.1183      0.166      0.710      0.477      -0.208       0.445
C(local_authority)[T.braintree]                              0.1281      0.180      0.713      0.476      -0.224       0.481
C(local_authority)[T.breckland]                              0.0923      0.181      0.511      0.609      -0.262       0.446
C(local_authority)[T.brent]                                  0.0759      0.175      0.434      0.664      -0.267       0.418
C(local_authority)[T.brentwood]                              0.1379      0.196      0.703      0.482      -0.246       0.522
C(local_authority)[T.brighton and hove]                      0.2254      0.170      1.324      0.185      -0.108       0.559
C(local_authority)[T.bristol]                                0.3429      0.165      2.075      0.038       0.019       0.667
C(local_authority)[T.broadland]                              0.2678      0.184      1.458      0.145      -0.092       0.628
C(local_authority)[T.bromley]                                0.1488      0.169      0.882      0.378      -0.182       0.479
C(local_authority)[T.bromsgrove]                             0.0346      0.194      0.178      0.859      -0.346       0.416
C(local_authority)[T.broxbourne]                             0.0122      0.216      0.056      0.955      -0.412       0.436
C(local_authority)[T.broxtowe]                               0.1713      0.194      0.884      0.376      -0.208       0.551
C(local_authority)[T.buckinghamshire]                        0.1887      0.161      1.171      0.242      -0.127       0.504
C(local_authority)[T.burnley]                                0.0427      0.208      0.205      0.837      -0.365       0.450
C(local_authority)[T.bury]                                   0.0295      0.181      0.162      0.871      -0.326       0.385
C(local_authority)[T.calderdale]                             0.0364      0.176      0.206      0.836      -0.309       0.382
C(local_authority)[T.cambridge]                              0.4185      0.179      2.341      0.019       0.068       0.769
C(local_authority)[T.camden]                                 0.8976      0.167      5.376      0.000       0.570       1.225
C(local_authority)[T.cannock chase]                         -0.0025      0.201     -0.012      0.990      -0.396       0.391
C(local_authority)[T.canterbury]                             0.1724      0.181      0.954      0.340      -0.182       0.527
C(local_authority)[T.castle point]                          -0.1087      0.207     -0.526      0.599      -0.514       0.296
C(local_authority)[T.central bedfordshire]                   0.0947      0.172      0.551      0.582      -0.242       0.432
C(local_authority)[T.charnwood]                             -0.0218      0.180     -0.121      0.903      -0.374       0.331
C(local_authority)[T.chelmsford]                             0.0659      0.182      0.363      0.717      -0.290       0.422
C(local_authority)[T.cheltenham]                             0.1997      0.184      1.085      0.278      -0.161       0.560
C(local_authority)[T.cherwell]                               0.0946      0.181      0.522      0.602      -0.261       0.450
C(local_authority)[T.cheshire east]                          0.1700      0.170      0.999      0.318      -0.163       0.503
C(local_authority)[T.cheshire west and chester]              0.0703      0.169      0.417      0.677      -0.260       0.401
C(local_authority)[T.chesterfield]                          -0.0557      0.211     -0.264      0.792      -0.469       0.358
C(local_authority)[T.chichester]                             0.3719      0.175      2.122      0.034       0.028       0.715
C(local_authority)[T.chorley]                               -0.0200      0.194     -0.103      0.918      -0.401       0.361
C(local_authority)[T.city of london]                        10.7344      0.221     48.638      0.000      10.302      11.167
C(local_authority)[T.colchester]                             0.2462      0.180      1.372      0.170      -0.106       0.598
C(local_authority)[T.cornwall]                               0.1491      0.163      0.915      0.360      -0.170       0.468
C(local_authority)[T.cotswold]                               0.4234      0.182      2.331      0.020       0.067       0.779
C(local_authority)[T.county durham]                          0.0978      0.165      0.592      0.554      -0.226       0.422
C(local_authority)[T.coventry]                               0.1084      0.174      0.624      0.533      -0.232       0.449
C(local_authority)[T.crawley]                                0.1264      0.207      0.612      0.541      -0.278       0.531
C(local_authority)[T.croydon]                                0.0221      0.169      0.131      0.896      -0.309       0.354
C(local_authority)[T.cumberland]                             0.4293      0.162      2.647      0.008       0.111       0.747
C(local_authority)[T.dacorum]                                0.0195      0.182      0.107      0.914      -0.336       0.375
C(local_authority)[T.darlington]                             0.0188      0.205      0.091      0.927      -0.383       0.421
C(local_authority)[T.dartford]                              -0.0215      0.203     -0.106      0.915      -0.419       0.376
C(local_authority)[T.derby]                                  0.0816      0.176      0.465      0.642      -0.263       0.426
C(local_authority)[T.derbyshire dales]                       0.6657      0.188      3.548      0.000       0.298       1.033
C(local_authority)[T.doncaster]                              0.2183      0.178      1.229      0.219      -0.130       0.566
C(local_authority)[T.dorset]                                 0.2406      0.160      1.501      0.133      -0.074       0.555
C(local_authority)[T.dover]                                  0.0860      0.190      0.452      0.652      -0.287       0.459
C(local_authority)[T.dudley]                                -0.0190      0.174     -0.109      0.913      -0.360       0.322
C(local_authority)[T.ealing]                                 0.0551      0.172      0.321      0.748      -0.281       0.391
C(local_authority)[T.east cambridgeshire]                    0.2561      0.193      1.327      0.184      -0.122       0.634
C(local_authority)[T.east devon]                             0.1167      0.175      0.666      0.505      -0.227       0.460
C(local_authority)[T.east hampshire]                         0.1776      0.178      0.996      0.319      -0.172       0.527
C(local_authority)[T.east hertfordshire]                     0.1984      0.180      1.102      0.271      -0.155       0.551
C(local_authority)[T.east lindsey]                           0.1307      0.180      0.726      0.468      -0.222       0.484
C(local_authority)[T.east riding of yorkshire]               0.0729      0.170      0.430      0.667      -0.260       0.405
C(local_authority)[T.east staffordshire]                     0.1345      0.193      0.697      0.486      -0.244       0.513
C(local_authority)[T.east suffolk]                           0.2250      0.167      1.346      0.178      -0.103       0.553
C(local_authority)[T.eastbourne]                             0.0444      0.188      0.236      0.813      -0.323       0.412
C(local_authority)[T.eastleigh]                              0.2106      0.184      1.146      0.252      -0.149       0.571
C(local_authority)[T.elmbridge]                              0.1884      0.181      1.041      0.298      -0.166       0.543
C(local_authority)[T.enfield]                                0.1416      0.173      0.820      0.412      -0.197       0.480
C(local_authority)[T.epping forest]                          0.0654      0.183      0.357      0.721      -0.293       0.424
C(local_authority)[T.epsom and ewell]                        0.0892      0.208      0.429      0.668      -0.318       0.497
C(local_authority)[T.erewash]                                0.0541      0.200      0.271      0.786      -0.337       0.445
C(local_authority)[T.exeter]                                 0.3190      0.182      1.751      0.080      -0.038       0.676
C(local_authority)[T.fareham]                               -0.0295      0.190     -0.155      0.877      -0.403       0.344
C(local_authority)[T.fenland]                                0.0925      0.205      0.451      0.652      -0.310       0.495
C(local_authority)[T.folkestone and hythe]                   0.1489      0.191      0.780      0.436      -0.225       0.523
C(local_authority)[T.forest of dean]                         0.1867      0.190      0.981      0.327      -0.186       0.560
C(local_authority)[T.fylde]                                  0.0225      0.209      0.107      0.914      -0.388       0.433
C(local_authority)[T.gateshead]                              0.1258      0.182      0.690      0.490      -0.231       0.483
C(local_authority)[T.gedling]                                0.0657      0.201      0.328      0.743      -0.327       0.459
C(local_authority)[T.gloucester]                             0.0823      0.188      0.439      0.661      -0.285       0.450
C(local_authority)[T.gosport]                               -0.0382      0.216     -0.177      0.860      -0.462       0.386
C(local_authority)[T.gravesham]                              0.1192      0.199      0.600      0.549      -0.270       0.509
C(local_authority)[T.great yarmouth]                         0.0185      0.209      0.089      0.929      -0.392       0.429
C(local_authority)[T.greenwich]                              0.1340      0.173      0.774      0.439      -0.205       0.473
C(local_authority)[T.guildford]                              0.2489      0.177      1.410      0.158      -0.097       0.595
C(local_authority)[T.hackney]                                0.2601      0.169      1.536      0.124      -0.072       0.592
C(local_authority)[T.halton]                                 0.0613      0.199      0.309      0.757      -0.328       0.451
C(local_authority)[T.hammersmith and fulham]                 0.0596      0.176      0.339      0.735      -0.285       0.405
C(local_authority)[T.harborough]                             0.1596      0.190      0.841      0.400      -0.212       0.532
C(local_authority)[T.haringey]                               0.2113      0.171      1.235      0.217      -0.124       0.547
C(local_authority)[T.harlow]                                 0.0289      0.208      0.139      0.889      -0.379       0.436
C(local_authority)[T.harrow]                                 0.0625      0.174      0.359      0.719      -0.278       0.403
C(local_authority)[T.hart]                                   0.0202      0.188      0.108      0.914      -0.349       0.389
C(local_authority)[T.hartlepool]                             0.0073      0.205      0.035      0.972      -0.395       0.410
C(local_authority)[T.hastings]                               0.2659      0.198      1.345      0.179      -0.122       0.653
C(local_authority)[T.havant]                                 0.0716      0.198      0.362      0.717      -0.316       0.459
C(local_authority)[T.havering]                               0.1121      0.181      0.621      0.535      -0.242       0.466
C(local_authority)[T.herefordshire]                          0.2149      0.172      1.251      0.211      -0.122       0.552
C(local_authority)[T.hertsmere]                              0.0828      0.187      0.443      0.658      -0.283       0.449
C(local_authority)[T.high peak]                              0.0879      0.195      0.451      0.652      -0.295       0.471
C(local_authority)[T.hillingdon]                             0.0443      0.179      0.248      0.804      -0.306       0.395
C(local_authority)[T.hinckley and bosworth]                 -0.0319      0.194     -0.164      0.869      -0.411       0.348
C(local_authority)[T.horsham]                                0.2112      0.177      1.194      0.233      -0.136       0.558
C(local_authority)[T.hounslow]                               0.0541      0.177      0.306      0.759      -0.292       0.400
C(local_authority)[T.huntingdonshire]                        0.1529      0.176      0.869      0.385      -0.192       0.498
C(local_authority)[T.hyndburn]                               0.0279      0.213      0.131      0.896      -0.389       0.445
C(local_authority)[T.ipswich]                                0.0956      0.183      0.523      0.601      -0.263       0.454
C(local_authority)[T.isle of wight]                          0.0217      0.180      0.120      0.904      -0.331       0.375
C(local_authority)[T.isles of scilly]                       -0.2129      0.464     -0.459      0.646      -1.122       0.696
C(local_authority)[T.islington]                              0.6980      0.171      4.077      0.000       0.362       1.034
C(local_authority)[T.kensington and chelsea]                 0.2802      0.172      1.631      0.103      -0.056       0.617
C(local_authority)[T.king's lynn and west norfolk]           0.1478      0.184      0.805      0.421      -0.212       0.508
C(local_authority)[T.kingston upon hull]                     0.0842      0.181      0.466      0.641      -0.270       0.438
C(local_authority)[T.kingston upon thames]                   0.2667      0.184      1.446      0.148      -0.095       0.628
C(local_authority)[T.kirklees]                               0.0194      0.169      0.114      0.909      -0.313       0.351
C(local_authority)[T.knowsley]                              -0.0018      0.200     -0.009      0.993      -0.393       0.389
C(local_authority)[T.lambeth]                                0.2991      0.169      1.766      0.077      -0.033       0.631
C(local_authority)[T.lancaster]                              0.2652      0.185      1.434      0.151      -0.097       0.628
C(local_authority)[T.leeds]                                  0.1027      0.165      0.621      0.535      -0.221       0.427
C(local_authority)[T.leicester]                              0.2450      0.175      1.400      0.161      -0.098       0.588
C(local_authority)[T.lewes]                                  0.2242      0.184      1.218      0.223      -0.137       0.585
C(local_authority)[T.lewisham]                               0.0984      0.172      0.571      0.568      -0.239       0.436
C(local_authority)[T.lichfield]                              0.2024      0.189      1.069      0.285      -0.169       0.573
C(local_authority)[T.lincoln]                                0.1042      0.195      0.534      0.594      -0.278       0.487
C(local_authority)[T.liverpool]                              0.2341      0.168      1.393      0.164      -0.095       0.563
C(local_authority)[T.luton]                                 -0.0245      0.187     -0.131      0.896      -0.391       0.342
C(local_authority)[T.maidstone]                              0.0876      0.182      0.481      0.630      -0.269       0.444
C(local_authority)[T.maldon]                                 0.2048      0.216      0.947      0.344      -0.219       0.629
C(local_authority)[T.malvern hills]                          0.0196      0.192      0.102      0.919      -0.356       0.395
C(local_authority)[T.manchester]                             0.3623      0.169      2.149      0.032       0.032       0.693
C(local_authority)[T.mansfield]                              0.0376      0.200      0.188      0.851      -0.354       0.429
C(local_authority)[T.medway]                                 0.0550      0.175      0.314      0.753      -0.288       0.398

In [52]:
model = smf.ols(
    formula=(
        'removals ~ '
        'value + value_lag1 + value_lag2 + value_lag3 + '
        'C(local_authority) + C(financial_year) + C(size_category) + '
        'value:C(size_category) + '
        'value_lag1:C(size_category) + '
        'value_lag2:C(size_category) + '
        'value_lag3:C(size_category)'
    ),
    data=filtered_panel
).fit()

print(model.summary())

PatsyError: Error evaluating factor: NameError: name 'value_lag1' is not defined
    removals ~ value + value_lag1 + value_lag2 + value_lag3 + C(local_authority) + C(financial_year) + C(size_category) + value:C(size_category) + value_lag1:C(size_category) + value_lag2:C(size_category) + value_lag3:C(size_category)
                       ^^^^^^^^^^

In [ ]:
panel_complete['category'].unique()

In [ ]:
filtered_panel_1 = panel_complete[
    panel_complete['category'].isin(['non-school funding', 'airports', 'recreation & sport',
       'open spaces', 'tourism', 'library services',
       'total culture & related services',
       'cemeteries, cremation & mortuary', 'coast protection',
       'community safety', 'flood defence & land drainage',
       'regulatory services (trading standards)', 'waste collection',
       'waste disposal', 'trade waste', 'recycling', 'waste minimisation',
       'climate change costs', 'other trading',
       'agricultural & fisheries services', 'all services total',
       'early years & primary schools', 'parking', 'ports & piers',
       'special schools & alternative provision', 'secondary schools',
       'total industrial & commercial trading',
       'total environmental & regulatory services',
       'tolled roads, bridges, tunnels,ferries & public transport companies',
       'public transport (bus)', 'public transport (rail & other)',
       'total housing', 'total police', 'total social care',
       'total public health', 'roads, street lighting & road safety',
       'total fire & rescue services', 'total central services',
       'street cleaning (not chargeable to highways)',
       'total planning & development', 'total trading services',
       'total education', 'total highways & transport',
       'culture & related services',
       'environmental & regulatory services',
       'post-16 provision & other education', 'commercial housing',
       'other real estate activities', 'finance & insurance activity',
       'energy generation & supply',
       'water supply, sewerage & remediation', 'hospitality & catering',
       'other commercial activity', 'total digital infrastructure'])
]

In [51]:
filtered_panel = panel_complete[
    panel_complete['category'].str.startswith('total') &
    ~panel_complete['category'].str.contains(', of which')
]
model = smf.ols(
    formula=(
        'removals ~ value + C(local_authority) + C(financial_year) + C(category) + C(size_category) + value:C(size_category) + value:C(category)'
    ),
    data=filtered_panel
).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               removals   R-squared:                       0.209
Model:                            OLS   Adj. R-squared:                  0.208
Method:                 Least Squares   F-statistic:                     299.0
Date:                Thu, 10 Jul 2025   Prob (F-statistic):               0.00
Time:                        18:09:43   Log-Likelihood:            -4.3188e+05
No. Observations:              378776   AIC:                         8.644e+05
Df Residuals:                  378441   BIC:                         8.681e+05
Df Model:                         334
Covariance Type:            nonrobust
==================================================================================================================================
                                                                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------------------------
Intercept                                                          0.6733      0.041     16.415      0.000       0.593       0.754
C(local_authority)[T.amber valley]                                 0.0545      0.048      1.139      0.255      -0.039       0.148
C(local_authority)[T.arun]                                         0.1698      0.046      3.675      0.000       0.079       0.260
C(local_authority)[T.ashfield]                                    -0.0075      0.052     -0.143      0.886      -0.110       0.095
C(local_authority)[T.ashford]                                      0.1992      0.046      4.287      0.000       0.108       0.290
C(local_authority)[T.babergh]                                      0.2288      0.048      4.805      0.000       0.135       0.322
C(local_authority)[T.barking and dagenham]                         0.1240      0.047      2.641      0.008       0.032       0.216
C(local_authority)[T.barnet]                                       0.3989      0.042      9.562      0.000       0.317       0.481
C(local_authority)[T.barnsley]                                     0.0044      0.046      0.096      0.923      -0.086       0.095
C(local_authority)[T.basildon]                                     0.0508      0.048      1.063      0.288      -0.043       0.145
C(local_authority)[T.basingstoke and deane]                        0.1125      0.045      2.526      0.012       0.025       0.200
C(local_authority)[T.bassetlaw]                                    0.0137      0.050      0.276      0.783      -0.084       0.111
C(local_authority)[T.bath and north east somerset]                 0.0504      0.044      1.144      0.253      -0.036       0.137
C(local_authority)[T.bedford]                                      0.3670      0.045      8.239      0.000       0.280       0.454
C(local_authority)[T.bexley]                                       0.0812      0.048      1.687      0.092      -0.013       0.176
C(local_authority)[T.birmingham]                                   0.0805      0.041      1.964      0.049       0.000       0.161
C(local_authority)[T.blaby]                                        0.1483      0.052      2.863      0.004       0.047       0.250
C(local_authority)[T.blackburn with darwen]                        0.2627      0.050      5.264      0.000       0.165       0.361
C(local_authority)[T.blackpool]                                   -0.0654      0.052     -1.256      0.209      -0.168       0.037
C(local_authority)[T.bolsover]                                    -0.0389      0.059     -0.660      0.509      -0.154       0.076
C(local_authority)[T.bolton]                                       0.0177      0.045      0.397      0.691      -0.070       0.105
C(local_authority)[T.boston]                                      -0.0038      0.057     -0.066      0.947      -0.116       0.108
C(local_authority)[T.bournemouth christchurch and poole]           0.1212      0.042      2.893      0.004       0.039       0.203
C(local_authority)[T.bracknell forest]                             0.0978      0.050      1.958      0.050   -8.44e-05       0.196
C(local_authority)[T.bradford]                                     0.0802      0.042      1.909      0.056      -0.002       0.163
C(local_authority)[T.braintree]                                    0.0837      0.046      1.833      0.067      -0.006       0.173
C(local_authority)[T.breckland]                                    0.0920      0.045      2.022      0.043       0.003       0.181
C(local_authority)[T.brent]                                        0.0597      0.044      1.354      0.176      -0.027       0.146
C(local_authority)[T.brentwood]                                    0.1113      0.050      2.232      0.026       0.014       0.209
C(local_authority)[T.brighton and hove]                            0.1873      0.043      4.348      0.000       0.103       0.272
C(local_authority)[T.bristol]                                      0.2862      0.042      6.866      0.000       0.204       0.368
C(local_authority)[T.broadland]                                    0.2259      0.047      4.841      0.000       0.134       0.317
C(local_authority)[T.bromley]                                      0.1090      0.042      2.564      0.010       0.026       0.192
C(local_authority)[T.bromsgrove]                                  -0.0080      0.049     -0.162      0.871      -0.105       0.089
C(local_authority)[T.broxbourne]                                  -0.0434      0.055     -0.795      0.427      -0.150       0.064
C(local_authority)[T.broxtowe]                                     0.1226      0.049      2.493      0.013       0.026       0.219
C(local_authority)[T.buckinghamshire]                              0.1636      0.041      3.996      0.000       0.083       0.244
C(local_authority)[T.burnley]                                      0.0104      0.053      0.196      0.845      -0.094       0.115
C(local_authority)[T.bury]                                         0.0214      0.046      0.467      0.641      -0.069       0.111
C(local_authority)[T.calderdale]                                   0.0286      0.045      0.640      0.522      -0.059       0.116
C(local_authority)[T.cambridge]                                    0.4077      0.045      8.977      0.000       0.319       0.497
C(local_authority)[T.camden]                                       0.9379      0.042     22.309      0.000       0.856       1.020
C(local_authority)[T.cannock chase]                               -0.0091      0.052     -0.177      0.860      -0.110       0.092
C(local_authority)[T.canterbury]                                   0.1559      0.046      3.402      0.001       0.066       0.246
C(local_authority)[T.castle point]                                -0.1314      0.052     -2.507      0.012      -0.234      -0.029
C(local_authority)[T.central bedfordshire]                         0.0582      0.043      1.343      0.179      -0.027       0.143
C(local_authority)[T.charnwood]                                   -0.0513      0.045     -1.129      0.259      -0.140       0.038
C(local_authority)[T.chelmsford]                                   0.0591      0.046      1.295      0.195      -0.030       0.149
C(local_authority)[T.cheltenham]                                   0.1920      0.047      4.126      0.000       0.101       0.283
C(local_authority)[T.cherwell]                                     0.0946      0.045      2.079      0.038       0.005       0.184
C(local_authority)[T.cheshire east]                                0.1329      0.043      3.102      0.002       0.049       0.217
C(local_authority)[T.cheshire west and chester]                    0.0803      0.043      1.888      0.059      -0.003       0.164
C(local_authority)[T.chesterfield]                                -0.0940      0.053     -1.784      0.074      -0.197       0.009
C(local_authority)[T.chichester]                                   0.3238      0.044      7.312      0.000       0.237       0.411
C(local_authority)[T.chorley]                                     -0.0142      0.049     -0.290      0.772      -0.110       0.082
C(local_authority)[T.city of london]                              10.4959      0.056    186.801      0.000      10.386      10.606
C(local_authority)[T.colchester]                                   0.2108      0.045      4.634      0.000       0.122       0.300
C(local_authority)[T.cornwall]                                     0.1210      0.041      2.951      0.003       0.041       0.201
C(local_authority)[T.cotswold]                                     0.3686      0.046      8.044      0.000       0.279       0.458
C(local_authority)[T.county durham]                                0.0820      0.042      1.970      0.049       0.000       0.164
C(local_authority)[T.coventry]                                     0.0897      0.044      2.046      0.041       0.004       0.176
C(local_authority)[T.crawley]                                      0.0812      0.053      1.531      0.126      -0.023       0.185
C(local_authority)[T.croydon]                                     -0.0034      0.043     -0.079      0.937      -0.087       0.080
C(local_authority)[T.cumberland]                                   0.3697      0.042      8.820      0.000       0.288       0.452
C(local_authority)[T.dacorum]                                     -0.0179      0.046     -0.389      0.697      -0.108       0.072
C(local_authority)[T.darlington]                                   0.0182      0.053      0.343      0.732      -0.086       0.122
C(local_authority)[T.dartford]                                    -0.0272      0.052     -0.524      0.600      -0.129       0.074
C(local_authority)[T.derby]                                        0.0601      0.044      1.350      0.177      -0.027       0.147
C(local_authority)[T.derbyshire dales]                             0.5979      0.048     12.568      0.000       0.505       0.691
C(local_authority)[T.doncaster]                                    0.1671      0.045      3.725      0.000       0.079       0.255
C(local_authority)[T.dorset]                                       0.2374      0.041      5.764      0.000       0.157       0.318
C(local_authority)[T.dover]                                        0.0391      0.048      0.810      0.418      -0.055       0.134
C(local_authority)[T.dudley]                                      -0.0267      0.044     -0.606      0.544      -0.113       0.059
C(local_authority)[T.ealing]                                       0.0542      0.043      1.255      0.209      -0.030       0.139
C(local_authority)[T.east cambridgeshire]                          0.1968      0.049      4.057      0.000       0.102       0.292
C(local_authority)[T.east devon]                                   0.0883      0.044      1.998      0.046       0.002       0.175
C(local_authority)[T.east hampshire]                               0.1303      0.045      2.888      0.004       0.042       0.219
C(local_authority)[T.east hertfordshire]                           0.1762      0.046      3.862      0.000       0.087       0.266
C(local_authority)[T.east lindsey]                                 0.1427      0.046      3.134      0.002       0.053       0.232
C(local_authority)[T.east riding of yorkshire]                     0.0640      0.043      1.498      0.134      -0.020       0.148
C(local_authority)[T.east staffordshire]                           0.1014      0.049      2.091      0.037       0.006       0.197
C(local_authority)[T.east suffolk]                                 0.2048      0.043      4.797      0.000       0.121       0.288
C(local_authority)[T.eastbourne]                                   0.0283      0.048      0.594      0.552      -0.065       0.122
C(local_authority)[T.eastleigh]                                    0.1804      0.047      3.838      0.000       0.088       0.272
C(local_authority)[T.elmbridge]                                    0.1381      0.046      3.027      0.002       0.049       0.228
C(local_authority)[T.enfield]                                      0.1057      0.044      2.429      0.015       0.020       0.191
C(local_authority)[T.epping forest]                                0.0277      0.046      0.597      0.551      -0.063       0.119
C(local_authority)[T.epsom and ewell]                              0.0611      0.053      1.151      0.250      -0.043       0.165
C(local_authority)[T.erewash]                                      0.0269      0.051      0.530      0.596      -0.073       0.126
C(local_authority)[T.exeter]                                       0.3002      0.046      6.519      0.000       0.210       0.390
C(local_authority)[T.fareham]                                     -0.0436      0.049     -0.897      0.370      -0.139       0.052
C(local_authority)[T.fenland]                                      0.0330      0.052      0.637      0.524      -0.069       0.135
C(local_authority)[T.folkestone and hythe]                         0.1631      0.048      3.370      0.001       0.068       0.258
C(local_authority)[T.forest of dean]                               0.2198      0.048      4.583      0.000       0.126       0.314
C(local_authority)[T.fylde]                                        0.0249      0.053      0.473      0.636      -0.078       0.128
C(local_authority)[T.gateshead]                                    0.0804      0.046      1.748      0.081      -0.010       0.171
C(local_authority)[T.gedling]                                      0.0274      0.050      0.545      0.586      -0.071       0.126
C(local_authority)[T.gloucester]                                   0.0339      0.048      0.712      0.476      -0.059       0.127
C(local_authority)[T.gosport]                                     -0.0603      0.056     -1.076      0.282      -0.170       0.050
C(local_authority)[T.gravesham]                                    0.0838      0.051      1.645      0.100      -0.016       0.184
C(local_authority)[T.great yarmouth]                              -0.0048      0.053     -0.090      0.929      -0.109       0.099
C(local_authority)[T.greenwich]                                    0.0894      0.044      2.048      0.041       0.004       0.175
C(local_authority)[T.guildford]                                    0.2030      0.045      4.551      0.000       0.116       0.290
C(local_authority)[T.hackney]                                      0.2582      0.042      6.085      0.000       0.175       0.341
C(local_authority)[T.halton]                                       0.0342      0.050      0.679      0.497      -0.064       0.133
C(local_authority)[T.hammersmith and fulham]                       0.0324      0.044      0.728      0.467      -0.055       0.120
C(local_authority)[T.harborough]                                   0.1018      0.048      2.122      0.034       0.008       0.196
C(local_authority)[T.haringey]                                     0.1833      0.043      4.240      0.000       0.099       0.268
C(local_authority)[T.harlow]                                       0.0223      0.054      0.416      0.678      -0.083       0.128
C(local_authority)[T.harrow]                                       0.0325      0.044      0.741      0.458      -0.053       0.118
C(local_authority)[T.hart]                                        -0.0003      0.048     -0.006      0.995      -0.094       0.093
C(local_authority)[T.hartlepool]                                  -0.0008      0.053     -0.015      0.988      -0.104       0.103
C(local_authority)[T.hastings]                                     0.2161      0.050      4.343      0.000       0.119       0.314
C(local_authority)[T.havant]                                       0.0179      0.050      0.361      0.718      -0.079       0.115
C(local_authority)[T.havering]                                     0.0861      0.046      1.887      0.059      -0.003       0.176
C(local_authority)[T.herefordshire]                                0.1901      0.043      4.381      0.000       0.105       0.275
C(local_authority)[T.hertsmere]                                    0.0689      0.047      1.451      0.147      -0.024       0.162
C(local_authority)[T.high peak]                                    0.0542      0.050      1.094      0.274      -0.043       0.151
C(local_authority)[T.hillingdon]                                   0.0255      0.045      0.565      0.572      -0.063       0.114
C(local_authority)[T.hinckley and bosworth]                       -0.0457      0.049     -0.933      0.351      -0.142       0.050
C(local_authority)[T.horsham]                                      0.1933      0.045      4.328      0.000       0.106       0.281
C(local_authority)[T.hounslow]                                     0.0252      0.045      0.565      0.572      -0.062       0.113
C(local_authority)[T.huntingdonshire]                              0.1103      0.044      2.485      0.013       0.023       0.197
C(local_authority)[T.hyndburn]                                     0.0058      0.053      0.108      0.914      -0.099       0.110
C(local_authority)[T.ipswich]                                      0.0542      0.046      1.166      0.243      -0.037       0.145
C(local_authority)[T.isle of wight]                               -0.0131      0.046     -0.286      0.775      -0.103       0.076
C(local_authority)[T.isles of scilly]                             -0.2348      0.125     -1.883      0.060      -0.479       0.010
C(local_authority)[T.islington]                                    0.6809      0.043     15.777      0.000       0.596       0.766
C(local_authority)[T.kensington and chelsea]                       0.2474      0.043      5.715      0.000       0.163       0.332
C(local_authority)[T.king's lynn and west norfolk]                 0.1282      0.046      2.758      0.006       0.037       0.219
C(local_authority)[T.kingston upon hull]                           0.0775      0.046      1.694      0.090      -0.012       0.167
C(local_authority)[T.kingston upon thames]                         0.1924      0.046      4.145      0.000       0.101       0.283
C(local_authority)[T.kirklees]                                    -0.0033      0.043     -0.078      0.938      -0.087       0.080
C(local_authority)[T.knowsley]                                    -0.0306      0.051     -0.597      0.551      -0.131       0.070
C(local_authority)[T.lambeth]                                      0.2741      0.043      6.432      0.000       0.191       0.358
C(local_authority)[T.lancaster]                                    0.2229      0.047      4.783      0.000       0.132       0.314
C(local_authority)[T.leeds]                                        0.0748      0.042      1.797      0.072      -0.007       0.156
C(local_authority)[T.leicester]                                    0.2214      0.044      5.026      0.000       0.135       0.308
C(local_authority)[T.lewes]                                        0.2432      0.046      5.235      0.000       0.152       0.334
C(local_authority)[T.lewisham]                                     0.0745      0.043      1.712      0.087      -0.011       0.160
C(local_authority)[T.lichfield]                                    0.1528      0.048      3.194      0.001       0.059       0.247
C(local_authority)[T.lincoln]                                      0.0760      0.049      1.539      0.124      -0.021       0.173
C(local_authority)[T.liverpool]                                    0.1896      0.042      4.480      0.000       0.107       0.273